[2022-09-21 08:50] #1364 closed, assigned to arein, bkrem

[2022-09-22 06:33] Santiago0412 opened #1465 "Websocket disconnect when debug web page on mobile device"
**Describe the bug**
Get an error when try to debug the behavior of my dapp when connect wallet from mobile device.
[Error] WebSocket connection to 'ws://192.168.2.129:4000/_next/webpack-hmr' failed: WebSocket is closed before the connection is established.
	handleDisconnect (websocket.js:53)
And WalletConnect can't activate meta mask.

**SDK Version (if relevant)**
 - Client: JS
 - Version: Lates

[2022-09-22 11:37] #1425 closed, assigned to crypblizz8

[2022-09-22 12:02] abdulhaseeb4239 opened #1471 "Sign Client initialization failed"
**Describe the bug**
I am working on integrating wallet connect in react-native app. I have a poc web-app in order to connect with mobile app, that I am running on localhost.
I am getting error while initialising the sign client like this

[code]

I am getting this error

[code]

**Wallet connect version**

 "@walletconnect/legacy-modal": "2.0.0-beta.101",
    "@walletconnect/sign-client": "2.0.0-

[2022-09-22 15:23] FosterSOAsare commented on #1208
@tomisinteazer
Is there an rpc for stellar?
Or do you have a  solution for stellar chains to work instead of Ethereum?

[2022-09-22 22:35] jeffhu1 opened #1472 "Missing tslib as a dependency"
**Describe the bug**
Missing tslib as a dependency.

[code]

**SDK Version (if relevant)**
 - Client: JS
 - Version 2.0.0-rc.3

**To Reproduce**
See the error here:
https://github.com/saber-hq/saber-common/actions/runs/3102137672/jobs/5038327341

**Expected behavior**
Expected successful build.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complet

[2022-09-23 09:53] bkrem commented on #1471
Hi @abdulhaseeb4239,

It looks like your websocket connection URL is missing the `auth=` parameter.

This is most likely due to using `beta.101` dependencies, which are outdated. Please try updating the above dependencies to the latest release candidate (currently `2.0.0-rc.3`), after which the websocket connection to the relay should work as expected.

For reference implementations using `rc.3` p

[2022-09-23 09:53] #1471 closed, assigned to nobody

[2022-09-23 10:40] KrishEnacton commented on #746
same issue

[2022-09-23 11:55] KrishEnacton commented on #1337
for this , do we already have metamask installed in phone?

[2022-09-23 11:59] unaigl commented on #1060
Hi guys, I'm new to react native, as I read this works when ejecting? Is there any way to handle it in development?

[2022-09-23 13:01] TheDutchCoder opened #1476 "@walletconnect/web3-provider has sub dependencies with major version differences"
**Describe the bug**
This package has dependencies (which have sub dependencies) of the same packages but with different major versions.
Certain build tools will pick one of them, instead of duplicating multiple major versions in the output. This leads to modules not being found.

**SDK Version (if relevant)**
 - Client: JS
 - Version 1.8..0

**To Reproduce**
Steps to reproduce the behavior:
https

[2022-09-23 15:50] unaigl commented on #1060
Hi guys, I'm new to react native. Is there any way to handle it in development using expo?

[2022-09-24 14:37] pauloreis7 commented on #724
### The solution found is:

Use the error callback of the activate method to detect the error in the modal, check the instanceof WalletConnectConnector and thus set `walletconnect.walletConnectProvider` to `undefined`.

### Example:

`activate(walletconnect, (err) => {`
`      if (walletconnect && walletconnect instanceof WalletConnectConnector) {`
`        walletconnect.walletConnectProvider = un

[2022-09-25 01:43] luca992 commented on #724
yeah... how are you detecting the error in the modal?

[2022-09-26 04:02] sijinglei commented on #441
这个问题还没有人解决吗？

[2022-09-26 09:03] bkrem opened #1477 "[Epic] Pairing API"
## Resources

- Spec PR: https://github.com/WalletConnect/walletconnect-docs/pull/276
- Proposed Pairing API: https://github.com/WalletConnect/walletconnect-docs/blob/Pairing-API/docs/specs/pair/client-api.md
- PR: #1536

## Implementation Path

This is intended as an overview of the implementation path for a shared Pairing API, which can be depended upon by Sign, Auth and future SDKs.

Each list

[2022-09-27 05:34] sumeetm60 commented on #680
same issue for iOS react native, even after providing the mobileLinks: ['metamask''], popup showing all the wallets. Please can anyone help me on this, am using @walletconnect/react-native-dapp

[2022-09-28 09:36] itzaks commented on #1476
Yes. This is causing difficulties for us when deploying this. Often I get the following issue when deploying things in production.

[code]

The root cause being different major versions of json-rpc-engine.

[2022-09-28 13:16] sbc64 opened #1490 "JWT expiration while the relayer has already intialized"
The JWT token expires but the relayer `init()` has already initialized the JWT and does generate a new JWT when attempting to connect to the server:

[code]

[code]

**SDK Version (if relevant)**
 - Client: JS

**To Reproduce**
Steps to reproduce the behavior:
1. Reducing the expiration time https://github.com/WalletConnect/walletconnect-monorepo/blob/d9cda95f866ba7f78f9ca25e9e9eba9058cc46a3/packa

[2022-09-28 23:19] michaelr524 commented on #981
Plenty of user complaints about this one

[2022-09-29 12:50] yarosh01 commented on #1351
@TSCRIBBANS hi, did you manage to solve the problem? I just have the same

[2022-09-29 17:09] itsdiay commented on #444
This worked for me. Thank you

[2022-10-02 17:34] raiseerco commented on #1274
I can confirm that the approach of installing `better-sqlite3` with
[code]
solves the issue.

[2022-10-03 22:17] finessevanes opened #1503 "Error: Walletconnect Relay protocol not supported"
**Describe the bug**
When I connect a v1 dapp with v2 I get an error that the relay protocol is not supported.

**SDK Version (if relevant)**
 - Client: JS
 - Version v2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.uniswap.org/#/swap, click Connect Wallet and select WalletConnect. Copy the v1 URI.
3. Go to https://react-wallet.walletconnect.com/walletconnect and paste in

[2022-10-03 23:05] finessevanes commented on #1503
This error is expected because v2.0 is NOT backwards-compatible with v1.0.

This is happening because the URI that is being used in the first example is v1.0, not v2.0.
v1.0 relay uses `x.bridge.walletconnect.org` and v2.0 uses `relay.protocol`.

The URI in the first example:
`wc:76259525-a954-41cc-aa9b-63f4f75cc660@1?bridge=https%3A%2F%2Fr.bridge.walletconnect.org&key=705d48fe4f71d9b6416801c78de0

[2022-10-04 14:04] bkrem opened #1507 "[Feat/v2] Improve client and websocket lifecycle management"
## Context

- Prior discussion thread and context from Fireblocks: https://walletconnect.slack.com/archives/C03RME3BS9L/p1663859970679629
- Similar functionality present in Sign v1: https://github.com/WalletConnect/walletconnect-monorepo/pull/480

## Description

- Currently there is no way to explicitly close/pause/reset the websocket connection managed by `core/relayer`
- We also don't currently

[2022-10-05 12:19] pishvanov opened #1510 "Doesn't work crypto.com wallet via QRCodeModal React-Native"
Hi everyone.

I faced the problem with wrong linking in WalletConnect Provider.
![Снимок экрана 2022-10-05 в 15 18 36](https://user-images.githubusercontent.com/98952093/194058562-2792345b-c499-43c5-9574-1444019d9e6a.png)
Clicking on Crypro.com redirect to the [wallet.crypto.com](url) and throw an error :

![Снимок экрана 2022-10-05 в 15 19 30](https://user-images.githubusercontent.com/98952093/19

[2022-10-06 10:49] abdulhaseeb4239 opened #1514 "No matching Key. expirer"
**Describe the bug**
I am working on wallet connect integration in react-native.
After a few minutes of connection, I get this exception.
Is there something I am missing when handling the expiry of the connection?

[code]

**SDK Version (if relevant)**
"@walletconnect/react-native-compat": "^2.0.0-rc.3",
"@walletconnect/sign-client": "2.0.0-rc.3",
"@walletconnect/utils": "2.0.0-rc.3",

[2022-10-06 11:17] bkrem commented on #1514
Hi @abdulhaseeb4239,

Thanks for reporting this.

This was a minor issue in the internal expirer logic, and was fixed as part of  the `2.0.0-rc.4` release we just published:
https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.0.0-rc.4

Updating to `rc.4` should resolve this. Please comment here if you still see it with `rc.4` and we will reopen 👍

[2022-10-06 11:17] #1514 closed, assigned to nobody

[2022-10-07 08:43] Arslan-95 commented on #1062
[code]
I cant fix it. Who know, how to do it?

[2022-10-07 10:43] abdulhaseeb4239 opened #1519 "TypeError: undefined is not an object (evaluating 'e.message')"
**Describe the bug**
I am working on wallet connect integration in react-native.
Most of the exceptions I face were fixed in the new 2.0.0-rc.4 release. But
After keeping the app open for a long time after initializing WC connection, I get a crash with this exception
[TypeError: undefined is not an object (evaluating 'e.message')]

Is this another unhandled error in the package? Any help would be

[2022-10-07 19:03] chadyj opened #1521 "[Auth] Auth beta epic"
- [ ] Domain binding
- [ ] Support EIP-1271

[2022-10-11 09:21] CryptishApps commented on #933
Thanks but I’m not using it directly, I’m using your React Native client, so hopefully that helps narrow down the issue.

Restarting the emulator seems to do the trick but I’ve had the issue come back since.

[2022-10-11 18:40] LauColombini commented on #1301
@kdong007 How did you solve it?

[2022-10-12 03:46] anuragkumarjsk commented on #1118
I have used Provider object from walletconnect V1 to wrap around my App component in react-native.
Do we have a simmilar provision in V2, because i see the provider object missing in Documentation for V2

Do we also have a sample implementation

[2022-10-12 13:06] giacomopansini opened #1526 "Push notifications not working with Pera wallet"
Hi there,
exploiting the integration between WalletConnect, Pera Wallet and JSON-RPC i have implemented a NodeJS backend that sends transactions to be signed to Pera Wallet (Algorand). I have encountered a problem with the transaction signature request notifications. If the app is open, I receive correctly a push notification for the transaction signature reques, while if I put the app in the back

[2022-10-13 06:10] x64x48 opened #1529 "Is this possible to use native url when sign transaction with wallet connect"
**Is your feature request related to a problem? Please describe.**

When we develop our dapp with wallet connect provider, we found an interesting behavior:

The link will go directly to the wallet app (we used metamask here) when user connect to their wallet. Was it native url here found in web3modal (https://github.com/WalletConnect/web3modal/blob/e12df834426ec7e718d8fb77dbc5b2e03fb20a11/package

[2022-10-13 09:55] x64x48 opened #1530 "Weird behavior when connect to testnet goerli"
**Describe the bug**

I found a weird when debug with my metamask (phone). The connection process worked great, but I found the chainId and the latest block number didn't match at first time.

Here is the log for `provider.getNetwork()` and `provider.getBlockNumber()` (looks like the mainnet block number.):
![image](https://user-images.githubusercontent.com/81462372/195564381-1c275686-98a4-4b60-b8

[2022-10-14 15:57] varseb commented on #357
You can do `provider.disconnect()` as mentioned above, this will end the bridge session after doing your stuff.

If you need the connection remains active and you are not listening to any blockchain event, you can call `provider.stop()` this will stop the blockTracker polling, you will be not able to do `tx.wait()` but methods like `personal_sign` or `estimate_gas` will continue working

provider

[2022-10-17 14:31] vicpon commented on #1029
metamask can be used as a chrome extension. Are chrome extensions not considered desktop wallets?

[2022-10-18 14:04] DalSoft commented on #748
Slight change (needs to be nested in the webpack property) to get this working with CRACO, and CRA 5.0.1
[code]

[2022-10-18 19:22] cbonaco1 commented on #1007
hey @marco-souza do you happen to have an update on this fix? I'm currently running into the same issue trying to use WalletConnect in an electron app. when I try to connect, the text of the QR code prints out to the console as you mentioned.

[2022-10-19 14:09] fpiantoni opened #1538 "Xcapit deeplink not working (And other wallets)"
In the react-native walletconnect modal, Xcapit and a few other wallet's are not working (deeplink).

[2022-10-19 15:13] manizm commented on #315
I am using perawallet that uses walletConenct internally and was facing same issue.
Fixed my issue by first checking if `peerId` exists on connector instance or not, before calling `disconnect` method

[2022-10-19 19:28] abdulhaseeb4239 commented on #1519
@bkrem any insights on this?

[2022-10-20 07:51] johnylawrence1987 commented on #680
+1

Same issue here, `mobileLinks` not working on v1.8.0

[2022-10-20 07:51] johnylawrence1987 commented on #1091
+1

Same issue here, `mobileLinks` not working on v1.8.0

[2022-10-20 07:51] johnylawrence1987 commented on #652
+1

Same issue here, `mobileLinks` not working on v1.8.0

[2022-10-20 13:10] lucasPDY commented on #746
+1 any updates on this?
Currently on a M1 MBP.

[2022-10-20 14:53] marco-souza commented on #1007
hello @cbonaco1, I have this [proposal](https://github.com/WalletConnect/walletconnect-monorepo/pull/1017/files) open. We're already using it internally at my company.

[2022-10-20 17:58] cbonaco1 commented on #1007
oh great! and with this change, the modal opens inside the Electron app as expected?

[2022-10-21 09:12] adhit7 commented on #840
Where sholud I change the url ?

[2022-10-23 08:16] alberto-marin commented on #315
Hi @manizm , could you share how and where you checked for `peerId`? I'm experiencing the same problem but can't figure it out, thanks!

[2022-10-24 10:58] chadyj commented on #1364
Update: LOBSTR has upgraded to the latest Sign version, so please try the pairing now.

[2022-10-24 13:53] marco-souza commented on #1007
We didn't have any more bug reports about this, so I think it fixes it.

[2022-10-24 15:21] Lauman commented on #1060
In Android 11 works but in Android 7 no.
Can it be configured to redirect to another page?
Thanks.

[2022-10-24 15:43] #718 closed, assigned to nobody

[2022-10-25 14:40] jmysliv commented on #1364
@chadyj it works now, thanks! 🚀

[2022-10-26 09:37] 2winter-dev commented on #1334
I also failed to fire events using ReactNative, and the connection was created without any reaction.

[2022-10-26 10:56] #1477 closed, assigned to nobody

[2022-10-26 11:01] manizm commented on #315
@alberto-marin if you are using perawallet, then you can find it in `connector` instance property of `PeraWalletConnect`.
`connector` property on `PeraWalletConnect` is basically an instance of `WalletConnect`

[2022-10-26 20:44] alberto-marin commented on #315
Hi @manizm ,

That's correct, thanks.

 I also had to set the `.connector.accounts` to `null`  after checking for `.connector?.peerId`  like you mentioned in order to work in my application.

[2022-10-27 08:48] MetaAhn opened #1619 "Can I check if the metamask mobile app is installed?"
I am using WalletConnect v1.0.
I am developing a program using react.
If the device is mobile (Android, iOS), I want to check if the Metamask mobile application is installed.
Do you support that feature?

If not, can you give me some advice on how to solve this problem?

[2022-10-29 22:33] Upgrade420 opened #1564 "Resolve connection load"
https://github.com/WalletConnect/walletconnect-legacy/blob/main/packages/client/package-lock.json#L7

[2022-10-30 01:19] nnons commented on #1041
+1 on this... Searched wide an far. This has nothing to do with iOS redirecting to app store. This is about universal link switching to a mobile wallet for approval but it never shows up. There is no good answer in the Discord or Github Issues. Replicate: iOS Chrome -> https://example.walletconnect.org/ -> Connect wallet use any of them.

[2022-10-31 14:59] 0xTogepi commented on #548
Hey there, not sure if this helps, but somehow my issue was I didn't add in the projectId. Since there's no documentation ATM, so i hope this helps:

[code]

[2022-11-01 11:58] AlexandrosGounis opened #1576 "Event does not include pairing_delete and pairing_expire"
**Describe the bug**
When deleting `sessions`, a client can listen to `session_delete` events, but this is not the case for pairings.
Type `Event` omits `pairing_*` (all pairing related events)

https://github.com/WalletConnect/walletconnect-monorepo/blob/81785ed7e8922cd149a8320c9a166795fa08196a/packages/types/src/sign-client/client.ts#L9-L18

Is this intentional? I was expecting to be able to lis

[2022-11-01 12:20] bkrem commented on #1576
Hi @AlexandrosGounis,

Yes, this indeed changed in the `v2.0.0` stable release, pairings are now managed by the shared [Pairing API](https://docs.walletconnect.com/2.0/javascript/core/pairing-api), rather than by the client directly.

There's a summary of all important changes around pairing in the release notes: https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.0.0

We also a

[2022-11-01 12:20] #1576 closed, assigned to nobody

[2022-11-01 16:34] bkrem opened #1578 "SignClient not handling JSON-RPC responses after `transportClose/transportOpen`"
**Describe the bug**
When explicitly disconnecting and reconnecting the SignClient with the new `core.relayer.transportOpen/transportClose` methods, the client seems to be able to send requests, but does not seem to register incoming responses.

**SDK Version (if relevant)**
 - sign-client@2.1.0

**To Reproduce**
Steps to reproduce the behavior:

Commit for the modified example dapp is here: https

[2022-11-01 21:41] daniiba commented on #1306
Same bug.
Any solutions?

[2022-11-03 02:27] dbrans opened #1586 "UniversalProvider Tests are failing and timing out"
**Describe the bug**
UniversalProvider tests fail and timeout at fabf6bb140e9f28780147da4d233d5b13ae8e13d

**To Reproduce**
Steps to reproduce the behavior:
Follow the README instructions to setup development:
1. Install [nodejs and npm](https://nodejs.org/en/)
1. Install python3 and ensure python cli is linked (required to build some npm modules)
1. Install workspace dependencies i.e. run npm ins

[2022-11-03 02:47] dbrans commented on #1586
Reran the tests and all passed.

[2022-11-03 02:47] #1586 closed, assigned to nobody

[2022-11-03 15:45] #1578 closed, assigned to ganchoradkov

[2022-11-03 17:26] arein opened #1592 "Cover Chat in Canary"
We should expose a test similar to the sign canary (i.e. mimick a customer flow) to run and ensure that chat is up https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/packages/sign-client/test/canary/canary.spec.ts

[2022-11-05 04:56] Jack-Works opened #1601 "[JS] Cannot import correctly under TypeScript Node 16 module resolution"
**Describe the bug**
Under TypeScript Node 16 module resolution (has `type: module` in the `package.json` and `moduleResolution: Node16` in `tsconfig.json`), this package cannot be imported correctly.

**SDK Version (if relevant)**
 - Client: JS
 - Version 1.8.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install "@walletconnect/client": "^1.8.0"

[code]

[code]

[code]

**Expected behav

[2022-11-05 11:05] envatic opened #1602 "index.js:5 Uncaught ReferenceError: require is not defined"
**Describe the bug**
import WalletConnectProvider from "@walletconnect/web3-provider";
this fails with error
``index.js:5 Uncaught ReferenceError: require is not defined``
**SDK Version (if relevant)**
 "@walletconnect/web3-provider": "^1.8.0",
 - Vite
 - Laravel

**To Reproduce**
Steps to reproduce the behavior:
1. in a vite project
2.  import WalletConnectProvider from "@walletconnect/web3-provi

[2022-11-05 11:15] envatic commented on #1602
After some tinkering with commonjs  in vite.config it worked
adding this to build options fixed it
` commonjsOptions: {
            transformMixedEsModules: true,
        },`
[code]

[2022-11-05 11:15] #1602 closed, assigned to nobody

[2022-11-06 11:38] markcutajar commented on #1306
Have encountered the same bug too

[2022-11-06 22:47] andrei0x309 commented on #1306
The issue stems from how you `nodify` the expo app, so it comes from node dependencies:
In order to fix this use this lib: `expo-crypto-polyfills`

and this metro config:

[code]

and delete the rest of the polyfill packages

It should solve it.

[2022-11-08 12:37] DatHG commented on #1167
I have the same issue here. Does anyone have a solution ?

[2022-11-08 13:58] Subiramani commented on #623
Hi guys, does anyone found any straight forward solution?
Seems the workarounds are not good enough.

[2022-11-09 14:29] fpiantoni opened #1609 "Metamask and other wallet deeplink redirects to AppStore intead of app"
When selecting metamask or other wallets, AppStore is opened instead of wallet.
Broken deeplink

[2022-11-09 19:55] smelnikov commented on #1352
This problem is still relevant.

Is there any reason why sign-client uses the version pino@6.7.0?
As of version 7, their bundle includes type declarations.

[2022-11-09 20:09] smelnikov opened #1612 "Could not find a declaration file for module 'pino'"
**Describe the bug**
A typings error after installing the WalletConnect types file into my app.

**SDK Version (if relevant)**
"typescript": "^4.7.3",
"@walletconnect/sign-client": "^2.1.1",
"@walletconnect/types": "^2.1.1"

**To Reproduce**
To reproduce the behavior follow the instructions on https://docs.walletconnect.com/2.0/javascript/sign/installation

1. Create a new application
2. Install t

[2022-11-09 20:10] smelnikov commented on #1612
Is there some reason why the `pino@6.7.0` version is used in the `core` and `sign-client`?
Since `pino@7` they have included type declarations in the bundle and there are no type errors.

[2022-11-09 20:16] smelnikov commented on #1612
Also `pino@6` is no longer supported
https://github.com/pinojs/pino/blob/HEAD/docs/lts.md#schedule

[2022-11-10 07:14] YuliaBatova opened #1613 "Mobile view wallet connect"
Content don't fit correctly in mobile browser
https://ibb.co/tK1j86R

[2022-11-11 01:36] pyncz commented on #1619
Hi! I'm not from the WalletConnect team, but will try to answer.

I don't think the information about installed apps is available, especially in web. **But** you probably don't need it.
The key thing is that the user chooses the suitable wallet **by himself**, be it MetaMask or any other wallet that supports WalletConnect. So, you can just use [web3modal](https://github.com/WalletConnect/web3modal

[2022-11-11 07:21] #1619 closed, assigned to nobody

[2022-11-11 08:12] pyncz commented on #1299
Webpack sets the `global` field, but Vite doesn't. Workaround is to set this field by yourself somewhere near init code of the client side.
[code]
I don't know where it can be in the context of svelte, but for Nuxt (Vue) it can be in some client plugin, `~/plugins/init.client.ts`, for example.

P.S. Still a bug since the relying on such bundler-specific fields doesn't seem to be a good idea.

[2022-11-11 08:13] akash-brainium opened #1621 "SignClient.init is not a function"
**Describe the bug**
A clear and concise description of what the bug is.

**SDK Version (if relevant)**
 - Client: [e.g. JS, Swift, Kotlin]
 - Version [e.g. 22]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicabl

[2022-11-11 12:10] asimaranov opened #1625 "Previous events for contract"
It seems that useContractEvent returns only new events that accrued since frontend launched. Is there way to get the past events? Something like getPastEvents from web3js. Maybe there is a way to get web3js from modal window provider to call getPastEvents? How can I get the past events?

[2022-11-11 12:11] #1625 closed, assigned to nobody

[2022-11-11 14:45] apostgit commented on #1409
I still get the error with events 1.1.1 installed. Deleted the node_modules folder plus the -lock file but still get this error.

<img width="1044" alt="Screenshot 2022-11-11 at 4 44 36 PM" src="https://user-images.githubusercontent.com/54368456/201363668-5ec458f4-7992-450c-8d07-f200a35f751c.png">

I also installed the react native compat package.

[2022-11-11 15:05] qieman commented on #606
@thegitparticle  Using EthereumProvider  instead of web3Provider solves this problem

[2022-11-11 15:46] bkrem commented on #1621
Duplicates #1167

[2022-11-11 15:46] #1621 closed, assigned to nobody

[2022-11-11 15:58] bkrem commented on #1167
Hi everyone,

This one is a bit of a mystery to me and there's not really enough context here yet unfortunately. **Please share how exactly you're importing the client or (even better) please provide a minimal reproduction of the issue.**

Both the following default import and named import syntax work without issues when I try either:

[code]

See also our wallet and dapp examples for reference:

[2022-11-13 12:34] rahujoshi commented on #689
My Website uses HTTPS still, I am getting this error.

[2022-11-14 06:24] Haianh9999 commented on #647
Is there any workaround for this issue yet. For me, when I scan the code, I can connect normally but when I connect by deep link, I can't 🙇

[2022-11-14 11:21] OstapDutkevych opened #1634 "(0 , _walletconnect_logger__WEBPACK_IMPORTED_MODULE_3__.pino) is not a function"
Describe the bug
A typings error after after initilization universalProvider

SDK Version (if relevant)
"typescript": "^4.7.2",
"@angular/core": "^14.0.0",
"@walletconnect/universal-provider": "^2.1.2",

To Reproduce
To reproduce the behavior follow this:
`    const provider = await UniversalProvider.init({
      projectId: '2189389217bSJHDudyaw89dasd',
    });
    `

Create a new application
Inst

[2022-11-14 11:36] bkrem commented on #1634
Hi @OstapDutkevych,

Thanks for reporting this, this seems to be some specific runtime issue with re-exported `pino` that our tests and CI didn't catch.

We're working on a patch for this for `2.1.3`, in the meantime there's no drawback to staying on `2.1.1` for now until this is patched.

[2022-11-14 12:14] bkrem commented on #1634
This should now be patched in `2.1.3`/`@latest`: https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.3

Please let us know if you are still able to reproduce the issue.

cc @khoanguyen-yang, @sett21

[2022-11-14 12:17] clemente-xyz commented on #1612
I'm using `@walletconnect/sign-client` on React Native, and I'm also having an error when calling `SignClient.init` because `pino` is not defined:

[code]

Inspecting in my `node_modules`, looks like `@walletconnect/sign-client` does not install it properly.

Also, trying to pass a `logger` to avoid calling `pino` doesn't work.

Any fixes?

[2022-11-14 12:22] bkrem commented on #1612
Hi @ClementeSerrano,

This was just patched in 2.1.3 (see #1634 for context). Please let us know if you’re still experiencing this with the latest version.

The packages now also use `pino@7` throughout, so the original issue here should now hopefully be resolved @smelnikov

[2022-11-14 13:04] bkrem commented on #1634
@ganchoradkov leaving this open since we should either a) find root cause and then use the re-exported pino internally as we were planning or b) remove the re-export if unreliable and then keep the explicit pino dep as it is now

[2022-11-14 13:05] clemente-xyz commented on #1612
Hi @bkrem . Thank you very much. I was able to install the version.

Now, I'm having an unhandled exception, which is also generated on `SignClient.init()`, when somewhere in the WS process, `WsConnection` tries to access to `message`.

I attach a screenshot of the error and the trace that i can see on the console:

[code]

![Screenshot 2022-11-14 at 13 57 33](https://user-images.githubusercontent

[2022-11-14 13:13] ZeeshanAhmadKhalil commented on #1634
Getting this error as well
Should i switch to V1?

[2022-11-14 13:14] bkrem commented on #1612
@ClementeSerrano off the top of my head I'd make sure that a valid `projectId` value is being passed to `SignClient.init()` as shown in the docs.

This is unrelated to this issue though so please open a separate issue if you're unable to resolve.

[2022-11-14 13:15] bkrem commented on #1634
@ZeeshanAhmadKhalil fixed in `2.1.3`, see above

[2022-11-14 13:16] clemente-xyz commented on #1612
ok, thanks!

[2022-11-14 13:18] clemente-xyz commented on #1612
@bkrem seems that https://github.com/WalletConnect/walletconnect-monorepo/issues/1519 is the same

should we continue there?

[2022-11-14 13:20] ZeeshanAhmadKhalil commented on #1634
Working fine in `2.1.3` thank you

[2022-11-14 13:46] clemente-xyz commented on #1519
Hi guys. I'm having a very similar error.

I'm having an unhandled exception, which is also generated on `SignClient.init()`, when somewhere in the WS process, `WsConnection` tries to access to `message`.

Debugging in detail the execution of the `init` method, I realised that `e=undefined` when calling the `parseError` method of `WsConnection`:

![Screenshot 2022-11-14 at 14 43 21](https://user-i

[2022-11-14 14:00] clemente-xyz commented on #1519
looks like the error is on the `event` arg, which does not contain the `error` prop, only `isTrusted: false`, when calling `this.parseError(event.error);`

![Screenshot 2022-11-14 at 14 58 38](https://user-images.githubusercontent.com/9727036/201678527-d4b5dd72-f166-47f9-9520-1b9a3ec64308.png)

[2022-11-14 14:14] sett21 commented on #1634
Thanks! All working fine!

пн, 14 нояб. 2022 г. в 15:20, Zeeshan Ahmad Khalil ***@***.***

[2022-11-14 14:14] clemente-xyz commented on #1409
getting the same error.

any updates guys?

[2022-11-14 19:21] antonio-ivanovski commented on #1634
Thanks for the fast response. It is fixed 👍

[2022-11-15 02:20] khoanguyen-yang opened #1639 "Error disconnecting session on `session_delete` events"
**Describe the bug**
Context: I am integrating WC V2 into my mobile wallet app.

Got `Error: No matching key. session or pairing topic doesn't exist: ...` when trying to disconnect the session using `signClient.disconnect` on `session_delete` events (receive the events by triggerring Disconnect from the DApp at https://react-app.walletconnect.com/)

The session is retrievable using `signClient.ses

[2022-11-15 09:03] antonio-ivanovski opened #1642 "Module Warning: Failed to parse source map from @walletconnect"
**Describe the bug**
There are bunch of warning/error messages printed when bundling with Webpack.

**Note**: These are just warnings, the `@walletconnect/*` modules are working as expected

**SDK Version (if relevant)**
 - @walletconnect/sign-client 2.1.3
 - @walletconnect/qrcode-modal: 1.8.0

**To Reproduce**
- Follow the steps from https://docs.walletconnect.com/2.0/javascript/sign/dapp-usage
-

[2022-11-15 09:42] bkrem commented on #1639
Hi @khoanguyen-yang,

I think you already hit the nail on the head here: this needs to be documented better.

This is because the client receiving the session delete request (the wallet in your case) is automatically cleaning up the session internally as you suspected, here's the relevant handler method:
https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/packages/sign-client/src/con

[2022-11-15 14:59] khoanguyen-yang commented on #1639
Thanks for the clarification!

[2022-11-16 01:25] xwartz commented on #1519
+1, I have the same issue.

[2022-11-16 05:24] khoanguyen-yang opened #1646 "generateRandomBytes32 is not a function"
**Describe the bug**
Got this when build a production release on React Native `generateRandomBytes32 is not a function`
Dev mode works fine.

The function is coming from `@walletconnect/utils` so this may not be relevant to environment-specific issues or `shimming`, `polyfiling` things.

Please give me an advice.

**SDK Version (if relevant)**
 - Client: JS
 - Version 2.1.3

[2022-11-16 09:20] chadyj commented on #1519
A common cause of this issue is that the SDK can't connect to the relay.
In most cases, this is caused by not providing a `projectId`.

https://docs.walletconnect.com/2.0/javascript/sign/installation#1-obtain-project-id

[2022-11-16 09:21] ganchoradkov commented on #1519
Hey @abdulhaseeb4239 @ClementeSerrano @xwartz this error usually happens when `projectId` is not provided or is invalid during `sign-client` initialization as shown in our [docs](https://docs.walletconnect.com/2.0/javascript/sign/dapp-usage#create-a-session)

If the issue still persist, please provide us with full connection string e.g. full `wss:` so we can investigate possible react native issue

[2022-11-16 11:00] #1612 closed, assigned to ganchoradkov

[2022-11-16 17:32] apostgit opened #1647 "React Native: TypeError: crypto_1.default.randomBytes is not a function."
Trying to work with @walletconnect/client but get an error which has to do with @walletconenct/randomBytes. The error is
`[Unhandled promise rejection: TypeError: crypto_1.default.randomBytes is not a function. (In 'crypto_1.default.randomBytes(length)', 'crypto_1.default.randomBytes' is undefined)]`

React Native / Expo SDK 46

I'm using the /client package to connect my application to wallet con

[2022-11-17 08:12] smelnikov commented on #1612
Yup, 2.1.3 looks legitimate

[2022-11-17 09:03] apostgit commented on #1409
Updating the `events` package to its latest version helped.
Run `npm i events@3.3.0`.

[2022-11-17 12:24] xwartz commented on #1519
after upgrading `events` and `AsyncStorage` to the latest version, it works fine.

[2022-11-17 13:06] kiran-bhalerao commented on #1301
hey @kdong007 @LauColombini how do i fix this issue?

[2022-11-17 18:24] elizalucas opened #1649 "SignClient.init TypeError: Cannot read properties of undefined (reading 'on')"
**Describe the bug**
On calling `Client.init` I am getting the following error:

[code]

Here is the relevant code that I am using that is throwing the error:
[code]

After going through the walletconnect repo I believe the error is being triggered here: https://github.com/WalletConnect/walletconnect-monorepo/blob/77a65f0ee4f8739cb068312f6ded77311b83431b/packages/sign-client/src/controllers/engine

[2022-11-17 22:03] sa-ma commented on #839
@kkagill  were you able to solve this?

[2022-11-18 07:35] ganchoradkov commented on #1649
hey @elizalucas could you provide us with an example repo where we can reproduce the error?

Many thanks

[2022-11-18 09:58] OstapDutkevych opened #1654 "after I scan QRcode nothing happened"
Describe the bug
When I call approval() QRCodeModal is open but when I scan QRcode nothing happen

SDK Version (if relevant)
"@walletconnect/sign-client": "^2.1.1",

To Reproduce
To reproduce the behavior follow the instructions on https://docs.walletconnect.com/2.0/javascript/sign/installation

Create a new application
Install the packages above
Initialize the startup code from the installation p

[2022-11-18 11:03] #1654 closed, assigned to nobody

[2022-11-18 14:21] arein opened #1656 "Add Metrics to Canary"

[2022-11-18 14:53] #1656 closed, assigned to nobody

[2022-11-18 16:08] elizalucas commented on #1649
Hey @ganchoradkov, unfortunately the repo is private so I'm unable to share. Are there any other details I can give you that would be helpful?

[2022-11-18 16:16] smelnikov opened #1657 "Could not resolve "tslib""
**Describe the bug**
Error when executing the example code

**SDK Version (if relevant)**
"@walletconnect/sign-client": "2.1.3",
"typescript": "^4.9.3",
"vite": "^3.2.4"

**To Reproduce**
Checkout branch `could-not-resolve-tslib` of repo: https://github.com/smelnikov/walletconnect-sample
[code]
Many errors of the same type appear:
[code]

**Expected behavior**
There are no errors at startup.

[2022-11-18 16:19] smelnikov opened #1658 "ReferenceError: global is not defined in runtime"
**Describe the bug**
Error when executing the example code

**SDK Version (if relevant)**
"@walletconnect/sign-client": "2.1.3",
"typescript": "^4.9.3",
"vite": "^3.2.4"

**To Reproduce**
Checkout branch `global-is-not-defined` of repo: https://github.com/smelnikov/walletconnect-sample
[code]
A runtime error appears:
[code]

**Expected behavior**
There are no errors in runtime.

[2022-11-18 16:20] smelnikov opened #1659 "TypeError: events_1.EventEmitter is not a constructor in runtime"
**Describe the bug**
Error when executing the example code

**SDK Version (if relevant)**
"@walletconnect/sign-client": "2.1.3",
"typescript": "^4.9.3",
"vite": "^3.2.4"

**To Reproduce**
Checkout branch `eventemitter-is-not-a-constructor` of repo: https://github.com/smelnikov/walletconnect-sample
[code]
A runtime error appears:
[code]

**Expected behavior**
There are no errors in runtime.

[2022-11-18 16:20] #1592 closed, assigned to ganchoradkov

[2022-11-18 19:45] LauColombini opened #1662 "React Native: crypto could not to be found within the project or in these directories"
**Describe the bug**
A clear and concise description of what the bug is.
Im using react native cli, not expo.

I have this issue:
 ` const crypto_1 = __importDefault(require("crypto"));`

**Screenshots**
<img width="429" alt="Screen Shot 2022-11-18 at 4 42 44 PM" src="https://user-images.githubusercontent.com/53497784/202788981-eb0f604e-dd3c-4059-b5d0-4b4e61dbdc42.png">
<img width="407" alt="Scree

[2022-11-18 20:16] LauColombini commented on #595
@tomonari-t can you fix the issue?

[2022-11-19 18:10] pavelivanov commented on #315
Mbe it will be helpful for smbd.

I got same error. My code was look like:

[code]

I copied code from Gnosis Safe and they have a little bit different logic of setup with useCallback on client creation. It looked weird for me and I changed it. But here is why it doesn't work:

When `connector.approveSession` is called connector's state changes but the value in state doesn't change (_I know this i

[2022-11-19 21:04] LauColombini commented on #1662
@pedrouid @IljaDaderko @brunobar79 I need help on this guys :c please you can help me with this?

[2022-11-19 21:23] LauColombini commented on #595
@Abubakar672  could you solve the issue?

[2022-11-21 03:35] bradleySuira commented on #1349
Hi all found the same issue when was trying to add WC to our project
<img width="725" alt="Screen Shot 2022-11-20 at 9 59 12 PM" src="https://user-images.githubusercontent.com/1889891/202960240-4168dee4-ebf4-4ed3-b260-452d1c29ef72.png">

it's a Vuejs project so at the end I had to put this in the custom web pack config (`chainWebpack` inside `vue.config.js`)
[code]

[2022-11-21 07:14] xzilja commented on #1349
@bradleySuira Make sure your babel loader is up to date and in fact correct version of it is installed in node_modules (i.e. there is no conflict with older ones).

[2022-11-21 08:25] santerisarle opened #1663 "React Native: Invalid pairing URI is not handled"
**Describe the bug**
On React Native, the Pairing API doesn't check for validity of the URI.

The relevant code is this:
`signClient.core.pairing.pair({ uri: "test" })`.

Entering an invalid URI gives the following error:
`"Error: Relay Protocol not supported: undefined"`.

However, a new inactive pairing is created with this string as the topic.

When trying to delete this pairing, it gives the f

[2022-11-21 10:34] bkrem commented on #1658
Thanks for raising this and especially including a repro for it @smelnikov 💯

While https://github.com/WalletConnect/walletconnect-utils/pull/36 will fix this type of issue for the code we (WalletConnect) own, this seems to be a reference in the `localStorage` dependency.

Did some digging and found the `global` reference here:
https://git.coolaj86.com/coolaj86/local-storage.js/src/branch/local-st

[2022-11-21 10:36] bkrem commented on #1658
For anyone bumping into this I'd suggest using the one-liner monkey-patch [suggested here](https://github.com/WalletConnect/walletconnect-monorepo/issues/1299#issuecomment-1311368877) in envs that don't support `global` until this is fully resolved:
[code]

----

Alternatively, this can be handled via bundler config (e.g. in `vite.config.js`) as shown by @smelnikov here: https://github.com/smelnik

[2022-11-21 10:38] buikhoa40 commented on #627
Same issue here.

[2022-11-21 10:38] #1639 closed, assigned to nobody

[2022-11-21 13:16] toanho94 opened #1664 "Allow custom client metadata (clientMeta) when create new connector"
**Is your feature request related to a problem? Please describe.**
Our project is using Tauri for building the application and due to the mechanism of Tauri, they always run a local webserver to serve for the UI part. So the hostname of that UI server is always http://localhost:xxxx or tauri://localhost for MacOS.
WalletConnect/core package currently uses the getWindowMetadata utility to fetch the

[2022-11-21 13:59] #1299 closed, assigned to nobody

[2022-11-21 18:42] smelnikov commented on #1658
@bkrem
I solved this problem with [define](https://vitejs.dev/config/shared-options.html#define) `global` variable during build https://github.com/smelnikov/walletconnect-sample/commit/a4e658ee2b6cfaa6b5de5447dacc54eff342267f

But it looks like this must be fixed at the top level of the library.

[2022-11-22 09:20] ganchoradkov commented on #1634
closing as the the bug was hotfixed + merged PR properly resolving the issue https://github.com/WalletConnect/walletconnect-utils/pull/37

[2022-11-22 09:20] #1634 closed, assigned to ganchoradkov

[2022-11-23 00:32] elizalucas commented on #1649
I resolved this by updating both my walletconnect/sign-client and walletconnect/types to version 2.1.3. Closing this issue.

[2022-11-23 00:32] #1649 closed, assigned to nobody

[2022-11-23 02:50] Mulander-J commented on #1091
v1.7.8 set empty `mobileLinks`  see no mobile tag on ios devices. while on andriod devices mobile tag is still exist.

[2022-11-23 09:32] chadyj commented on #1091
This feature is supported in the next release of Web3Modal standalone mode.
We encourage everyone to upgrade https://github.com/WalletConnect/web3modal

[2022-11-23 09:32] #1091 closed, assigned to nobody

[2022-11-23 17:06] adrianotadao commented on #1662
@LauColombini have you imported **react-native-compat** ?

source: https://docs.walletconnect.com/2.0/javascript/guides/react-native

[2022-11-23 18:07] adrianotadao commented on #1090
@IljaDaderko do you know any example of walletcconnect 2.0 in react native that I could take a look ?

[2022-11-23 19:23] estrattonbailey commented on #1519
Just here to +1. Would love to see better error messages for stuff like this, super hard to debug at the moment.

[2022-11-24 13:04] ogbuanu commented on #748
This worked for me.

[2022-11-24 15:53] chadyj opened #1670 "History cache and keychain make my app so laggy"
**Describe the bug**
History cache and keychain make my app so laggy

How and when history cache and keychain should be delete in AsyncStorage ?

I’m trying to delete some unactive pairing.

Client.paring.delete({ topic: pairing.topic })
// this code will delete some useless stuff keychain in asyncstorage right ?

I recognize that If I use app for a long time. There is a thounsand keychain and his

[2022-11-25 00:49] earthgohan commented on #1519
in react native

`
Core Initilization Success
SignClient Initilization Success
`
but, socket events are not getting emitted with error `undefined is not an object (evaluating 'e.message') `
`
 signClient.on("session_proposal", (event) => {
    console.log(event, "session_proposal");
  });
 signClient.on("session_event", (event) => {
    console.log(event, "session_event");
  });
  signClient.on("s

[2022-11-25 03:44] KhangBacoor commented on #1670
Thank you

[2022-11-25 09:41] stormgain-dev commented on #1529
Have you read this article? Especially regarding asynchronous handlers?
https://docs.walletconnect.com/1.0/mobile-linking#ios-app-link-constraints

[2022-11-25 14:06] #1659 closed, assigned to nobody

[2022-11-25 14:16] bkrem commented on #1659
Fixed in https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.4

Thanks again for the minimal reproduction here 🙏

Please let us know if this is still reproducible and we'll reopen.

[2022-11-25 14:16] bkrem commented on #1658
Fixed in https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.4

There shouldn't be any more unhandled `global` references in our source or dependencies now.

Thanks again for the minimal reproduction here 🙏

Please let us know if this is still reproducible and we'll reopen.

[2022-11-25 14:16] #1658 closed, assigned to bkrem

[2022-11-25 14:17] bkrem commented on #1657
Fixed in https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.4

Please let us know if this is still reproducible and we'll reopen.

[2022-11-25 14:17] #1657 closed, assigned to nobody

[2022-11-25 14:21] bkrem commented on #1472
Should be fixed for good in https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.4

Closing.

[2022-11-25 14:21] #1472 closed, assigned to nobody

[2022-11-25 14:22] bkrem commented on #1213
Closing.

* `tslib` should be fixed for good in https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.4
* `better-sqlite3` is no longer used

[2022-11-25 14:22] #1213 closed, assigned to nobody

[2022-11-25 14:28] #1445 closed, assigned to arein, ganchoradkov

[2022-11-25 14:34] bkrem commented on #1299
Fixed in https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.4

Please let us know if this is still reproducible and we'll reopen.

[2022-11-25 14:44] bkrem commented on #1274
Closing since this dependency is no longer used.

[2022-11-25 14:44] #1274 closed, assigned to nobody

[2022-11-26 03:58] mobilestar0223 opened #1674 "[React Native] Initializing SignClient failed"
**Describe the bug**
On calling `Client.init` I am getting the following error:

[code]
[code]

Here is the relevant code that I am using that is throwing the error:
[code]

**SDK Versions**:
[code]

• OS: MacOS
• React Native

[2022-11-26 16:33] timbaas opened #1744 "WebSocket fails to connect when not on localhost"
I'm trying to integrate the AuthClient, which connects successfully when the app is opened on localhost.
However, when I'm trying to connect when the app is opened from a domain it fails to initiate the websocket to relay.walletconnect.com.

It doesn't provide any errors. My project has the correct allowed domains specified.

I also tried the example app which gives the same results, it works from

[2022-11-26 20:22] biplobsd commented on #1519
I have fix this problem by doing this step...
1. Goto your project https://cloud.walletconnect.com
2. Set blank `Allowed Domains` and Save
![image](https://user-images.githubusercontent.com/43641536/204107647-dbbcee51-9409-4511-94d9-76946a22acf2.png)

3. Reset Project ID and get new one
4. Update your Project ID in your project

[2022-11-27 15:06] smelnikov commented on #1659
@bkrem Thank you, now this errors (#1657, #1658, #1659) does not occurs.

[2022-11-27 15:07] smelnikov commented on #1658
Thank you, now this error does not occur.

[2022-11-28 06:02] devjromero commented on #1674
I got the same problem :c,  any update?

[2022-11-28 06:49] KayCm commented on #1674
try this.

import  { SignClient } from "@walletconnect/sign-client";

 let signClient = await SignClient.init({
      projectId: "xxx",
      metadata: {
        name: 'myapp',
        description: 'myapp',
        url: '#',
        icons: ['https://walletconnect.com/walletconnect-logo.png'],
      },
    });

    console.log("SignClient")
    console.log(signClient)

but, what next?

[2022-11-28 07:35] pietrociatta opened #1678 "WalletConnect BSC Error - PollingBlockTracker using Custom Rpc | WEB3MODAL"
**Describe the bug**
I've set-up the v1 of the web3modal following the repo and some github issue, to use walletconnect/we3-provider.
In the options i've setup a custom rpc (quicknode) for the Binance smart chain, it connects correctly to the wallet but when i connect an error appears.

<img width="986" alt="Screenshot 2022-11-28 alle 08 30 59" src="https://user-images.githubusercontent.com/599658

[2022-11-28 11:58] bkrem commented on #1744
Hi @timbaas,

Sorry to hear you're having trouble with getting Auth set up.

We so far haven't seen issues with the client running on a deployment/domain (e.g. https://react-auth-dapp.walletconnect.com/), so this smells to me like some issue around the Allowed Domain configuration, especially since it's not an issue on localhost.

Could you share with us how you've specified `Allowed Domains` for

[2022-11-28 12:00] timbaas commented on #1744
Hi @bkrem

No worries, forgot to mention here that after posting I tried resetting the Project ID after which I was able to connect without a problem. :)

So I guess this issue can be closed.

Thanks for the reply though!

[2022-11-28 12:02] bkrem commented on #1744
Great to hear you were able to resolve it. Still seems like a bug if you had to reset the projectId for it to work with the Allowed Domains config so we'll look into it 👍

[2022-11-28 14:46] crypblizz8 commented on #1674
Hey @mobilestar0223, I tried a similar reproduction on my end with `react-native: 0.70.6` + the SignClient initialised.

I did run into a similar error but that is resolved as per our [React Native section in the Docs ](https://docs.walletconnect.com/2.0/javascript/guides/react-native) by importing the following in my `App.js / App.ts`

`import "@walletconnect/react-native-compat";`

This is to he

[2022-11-28 15:48] crypblizz8 commented on #1646
Hey @khoanguyen-yang, are you still stuck on this issue?

If still stuck after reading [this guide](https://docs.walletconnect.com/2.0/javascript/guides/react-native), happy to help you further debug.

[2022-11-28 16:58] mobilestar0223 commented on #1674
Hi, @KayCm
App couldn't reach to `console.log("SignClient")` line. Error occurs when calling `SignClient.init()` method

[2022-11-28 21:02] estrattonbailey commented on #1519
Following up, I think this thread may contain some [red herrings](https://en.wikipedia.org/wiki/Red_herring).

Yes, a cryptic error occurs if `projectId` is invalid. I saw similar exceptions for failing to connect to the relay server (we only allow certain HTTP connections in our app). I presume similar errors occur for "Allowed Domains" issues.

But I believe the core reason the logs for these ex

[2022-11-29 02:35] KayCm commented on #1674
in my case,
i put the import "@walletconnect/react-native-compat";  in index.js at first line .

[2022-11-29 11:05] bkrem opened #1681 "[Sign/Core] Implement additional context for WebSocket error handling"
## Context

* Relates to https://github.com/WalletConnect/walletconnect-monorepo/issues/1519
* In https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.1.4 we shipped improved error handling for the native/browser `WebSocket` use case.
* The failing `WebSocket` connection will now return `WebSocket connection failed for: wss://...`

## Problem
* The native/browser WebSocket implem

[2022-11-29 11:32] rafal2228 commented on #839
@nichochar @kkagill @sa-ma

I know it's a bit late, but I believe I've found the root cause of the issue with V6. There are two things which you probably need to check to resolve this:

Ensure through `yarn list`/`npm ls` that you're using `@walletconnect/ethereum-provider` in version `1.7.5` or above - this is the original fix of this issue for V8

Add custom logic for handling disconnection of w

[2022-11-29 12:57] asimaranov commented on #1349
The same problem while importing universal provider
[code]

[2022-11-29 15:03] thegitparticle commented on #606
@qieman seems like there is no function EthereumProvider in ethers js?

[2022-11-29 15:47] khoanguyen-yang commented on #1646
Hello, the error somehow does not appear anymore although I did not make any change relevant to WalletConnect.
Maybe be the reason is coming from outside conflicts.
Closing this now.

[2022-11-29 15:47] #1646 closed, assigned to nobody

[2022-11-29 22:16] joesdk99 commented on #1349
Same problem here! I need to build @walletconnect\sign-client for a chrome web extension and import it in the background.js. But I'm getting this error
`\node_modules\@walletconnect\sign-client\node_modules\@walletconnect\core\dist\index.es.js: Unexpected token: punc (.)`

[2022-11-30 01:51] way2ex opened #1684 "Add ESM file in dist and `module` field in `package.json`"
**Is your feature request related to a problem? Please describe.**
When I use `@walletconnect/qrcode-modal` in my ESM package and use ts-jest to build, I run into a problem which is ` SyntaxError: Cannot use import statement outside a module`.

I think the problem occurs because `@walletconnect/qrcode-modal` only have a Commonjs file
![image](https://user-images.githubusercontent.com/24694223/2046

[2022-11-30 01:53] bradleySuira commented on #1349
I think that is the same issue @asimaranov  @joesdk99 In my case I updated the web pack settings you should check in your web pack config and specify that the wallet-connect package should be loaded by babel-loader

[2022-11-30 05:46] xpluscal opened #1685 "2.1.3 - TypeError: Cannot read properties of undefined (reading 'message') in browser.js"
**Describe the bug**
With the update to version 2.1.3 when running walletconnect, I am getting the following error:
TypeError: Cannot read properties of undefined (reading 'message') in browser.js

**SDK Version (if relevant)**
 - Version 2.1.3

**To Reproduce**
Steps to reproduce the behavior:
1. Install v2.1.3
2. Add to web3modal
3. initiate connect

**Expected behavior**
walletconnect modal sho

[2022-11-30 05:55] xpluscal opened #1686 "2.1.4 WebSocket connection failed for URL: wss://relay.walletconnect.com"
**Describe the bug**
Walletconnect modal doesn't open in 2.1.4 with WSS error:

'WebSocket connection failed for URL: wss://relay.walletconnect.com?auth=...=wc-2%2Fjs-2.1.3%2Fmacos-chrome-107.0.0%2Fbrowser%3A127.0.0.1%3A5174'

The interesting thing here is that the URL tries to get 2.1.3, but package version 2.1.4 is installed.
Note: this is running on localhost (also tried with 127.0.0.1)

**SDK

[2022-11-30 05:55] xpluscal commented on #1685
Note: issue not appearing in 2.1.4. Closing for now.

[2022-11-30 05:55] #1685 closed, assigned to nobody

[2022-11-30 07:33] mobilestar0223 opened #1688 "connected value is not true even wallet is connected correctly on React Native"
### Discussed in https://github.com/orgs/WalletConnect/discussions/1528

<div type='discussions-op-text'>

<sup>Originally posted by **mobilestar0223** October 12, 2022</sup>
I'm using below code:
[code]

Wallet is connected correctly, but it prints **"connected: false"** on the console.
Is the expected, and if yes, what is the reason?
</div>

[2022-11-30 07:34] mobilestar0223 opened #1689 "Sign message on React Native"
### Discussed in https://github.com/orgs/WalletConnect/discussions/1527

<div type='discussions-op-text'>

<sup>Originally posted by **mobilestar0223** October 12, 2022</sup>
I'd like to know how to sign message (eth_sign or personal_sign) on React Native.
I'm using `useWalletConnect()` for get connector and call `connector.connect()`</div>

[2022-11-30 09:45] ganchoradkov commented on #1686
hey @xpluscal , I'm not seeing `projectId` parameter in your URI. [As per our docs](https://docs.walletconnect.com/2.0/javascript/sign/installation#1-obtain-project-id), `projectId` is required to connect to `wss://relay.walletconnect.com`

[2022-11-30 12:43] vuletiki opened #1690 "[v2.1.4] Throw error when receive request"
**Describe the bug**
On Dapp, I send a request. Then I open the wallet and init sign client.
- Expect: Receive request on wallet
- Result: Throw error on wallet, and Dapp too.

Error on wallet
[code]
This issue happen randomly.

**SDK Version (if relevant)**
 - Client: Web
 - Version 2.1.4

**Screenshots**
<img width="544" alt="Screen Shot 2022-11-30 at 19 36 33" src="https://user-images.githubuse

[2022-11-30 12:54] ZeeshanAhmadKhalil commented on #1040
For me its giving this error on https and on http its not giving this error but i am unable to connect my wallet :/

[2022-11-30 12:55] ZeeshanAhmadKhalil commented on #689
For me its giving this error on https and on http its not giving this error but i am unable to connect my wallet :/

[2022-11-30 13:53] KayCm commented on #1689
maybe request.  provider.request()

[2022-11-30 13:54] arein commented on #1686
@ganchoradkov for your consideration: this will come up again. How about `iff` you're connecting to `walletconnect.com`/`walletconnect.org` AND there's no `projectId` parameter in the URI we immediately throw an error.

Since we're using Websockets it's a bit hard to provide a decent error message when the WS handshake/upgrade fails.

[2022-11-30 15:28] samuveth opened #1691 "web3-provider rpc spam"
**Describe the bug**
After the user connects using WalletConnect on snapshot.org the RPC gets requested every few seconds without a clear reason. This is creating extra load on our PRC endpoint and slowing it down `rpc.snapshot.org/1`

**SDK Version (if relevant)**
`@walletconnect/web3-provider": "^1.8.0"`

**To Reproduce**
Steps to reproduce the behavior:
See https://github.com/snapshot-labs/snap

[2022-11-30 15:30] Billiej88 commented on #1681
Accepted?