[2022-03-14 07:12] alexnguyennz commented on #584
Hi there, any other changes to your webpack, etc.? I still can't get past this buffer is not defined error with react-scripts v5.

[2022-03-14 10:14] #854 closed, assigned to bkrem

[2022-03-14 10:22] bkrem commented on #854
Thanks for pointing this out @seabornlee 👍  This should now be fixed via the commit linked above.

We've recently set up the new https://github.com/WalletConnect/web-examples repo, where all dapp/wallet examples (including https://react-wallet.walletconnect.com and https://react-app.walletconnect.com/) now live.
That's also the best and most visible place to open issues around the example implemen

[2022-03-14 15:12] pedrouid commented on #844
Fixed on v1.7.5

[2022-03-14 15:12] #844 closed, assigned to nobody

[2022-03-14 15:12] pedrouid commented on #839
Fixed on v1.7.5

[2022-03-14 15:12] #839 closed, assigned to nobody

[2022-03-14 20:50] edwnjos commented on #444
I'm experiencing the same issue. Is there anyway I could disable this. I just need a popup with the QR modal.

Every time I create a session, the browser is asking me if i want to go to the app store (to the Metamask app).

I'm using the latest version of wallet connect client and qrcode modal, heres my code:
`
import WalletConnect from "@walletconnect/client";
import QRCodeModal from "@walletconn

[2022-03-14 22:14] matevzStinjek commented on #655
@eikebartels Thank you! This is massive for me rn :)

[2022-03-15 02:09] superjakc opened #858 "Does Registry have a relevant person to review? It's been almost a month since 'PENDING REVIEW'?"
My dapp name: DDC !

[2022-03-15 08:54] ghost commented on #844
Thank you guys. 👍

[2022-03-15 12:12] mohammad-meld-gold commented on #584
yes, I just added those lines at `index.tsx` file available at the root of `/src`, also these are versions of packages which I'm using currently:
![image](https://user-images.githubusercontent.com/93652495/158375184-aac4bf43-296b-4374-97f5-3a46ecf5c473.png)

[2022-03-16 00:34] ddkang commented on #748
Are there any plans to fix this?

[2022-03-16 01:03] nikkwong commented on #472
+1

[2022-03-16 01:19] 0x62 commented on #538
I'm working around this in the `@walletconnect/client` and `@walletconnect/qrcode-modal` libraries. This is a pretty horrible hack, but works for now.

It promisifies the connect call, and after the first call it invokes the open method on the underlying modal forcing it to be opened every time. To track closing it uses a MutationObserver and resolves with the users address.

[code]

[2022-03-16 02:22] atropos0902 commented on #748
I was able to make it run by downgrading `react-scripts` version to `4.0.3` but I don't think it's the best solution.
This should be fixed ASAP @pedrouid

[2022-03-16 15:28] 0x62 commented on #747
I posted a workaround for the `@walletconnect/core` and `@walletconnect/qrcode-modal` packages but could likely be applied to the provider if you can find a reference to `_qrcodeModal` from core on the provider instance.

https://github.com/WalletConnect/walletconnect-monorepo/issues/538#issuecomment-1068628023

[2022-03-16 15:34] alejomendoza commented on #625
Any updates on this one?

[2022-03-16 16:33] Abdulhaseeb101 commented on #540
Please provide a flutter implementation

[2022-03-16 16:34] #540 closed, assigned to nobody

[2022-03-16 19:35] hammersharkfish commented on #315
@luziusmeisser 's `window.localStorage.removeItem('walletconnect');` solution works except I sometimes get 2 QR codes when   `provider.enable()` is triggered after  `window.localStorage.removeItem('walletconnect');` . Anybody knows the solution to this ?.

[2022-03-17 14:26] tfalencar commented on #734
This error also happens with Svelte. Is this something that has to be fixed by Svelte+Vite, or can something be done from WalletConnect side?

[2022-03-17 14:29] vrde commented on #734
Related: https://github.com/vitejs/vite/issues/7257

[2022-03-17 15:24] tfalencar commented on #734
After a bit of digging, this seems to be an old issue (almost 2 years old): https://github.com/WalletConnect/walletconnect-monorepo/issues/341
So it appears we can't use this library with any modern bundler apparently.
Is this in the roadmap to be fixed @pedrouid ? seems it should be a high priority issue. I think WalletConnect has the best UX/Protocol for wallets, but can't use it at all the mome

[2022-03-17 15:46] #790 closed, assigned to nobody

[2022-03-17 15:49] tfalencar commented on #768
Related to https://github.com/WalletConnect/walletconnect-monorepo/issues/341

[2022-03-18 14:01] tfalencar opened #864 "WalletConnect v2 does not work with SvelteKit+Vite (rollup)"
When trying to follow the tutorial on:

https://docs.walletconnect.com/2.0/quick-start/dapps/ethereum-provider

The following error appears:

500
Importing binding name 'PairingTypes' is not found.
moduleDeclarationInstantiation@[native code]
link@[native code]
linkAndEvaluateModule@[native code]
@[native code]
asyncFunctionResume@[native code]
@[native code]
promiseReactionJobWithoutPromise@[nati

[2022-03-19 08:54] zhanzekun commented on #864
+1

[2022-03-19 19:34] crazyrabbitLTC commented on #748
Yeah I wish there was a solution for this. I'm on Redwoodjs.

[2022-03-20 00:22] nickjuntilla opened #865 "The documentation seems 50% complete"
I have a wallet and I would like to be able to use wallet connect protocol to allow DAPPs to connect to it. I've read through all the documentation for version 1 and 2 and it seems to mainly focus on connecting DAPPS, but now how to hook up a wallet served from a server. Am I missing something?

[2022-03-21 13:19] Pablo4Coding commented on #753
@gate3 any updates on how to solve it?

[2022-03-21 18:22] yekta commented on #864
I'm having the same problem. Are there any good workarounds?

[2022-03-22 06:51] carmen0208 commented on #347
I upgraded to current version: `1.7.5` and the issue was resolved, **signMessage** works for me.

[2022-03-22 10:02] Anandhu-1 commented on #569
This is still an issue.

![image](https://user-images.githubusercontent.com/102149129/159454538-ac653524-64db-47aa-bf98-56dee0fa7e3b.png)

![image](https://user-images.githubusercontent.com/102149129/159455205-726111c8-1474-4f85-9b92-e2d0ac7b125a.png)

Not using expo.

[2022-03-22 10:33] redox commented on #341
Hey @ShravanSunder, thank you for sharing how you fixed it on your end. We successfully fixed it by adding:

[code]

I would love to hear from you what's the actual difference with what we had before, why would the pre-bundling+transformMixedEsModules solve the issue? Is `@portis/web3` doing something weird?

[2022-03-22 16:18] kverushi commented on #625
Any updates on this?

[2022-03-23 04:30] mzaatar commented on #315
Same problem here :/
also subscribing

[2022-03-23 07:09] #858 closed, assigned to nobody

[2022-03-23 07:10] #849 closed, assigned to nobody

[2022-03-23 11:55] dfordivam commented on #625
I have also observed this issue consistently and also observed that it happens much more likely if the browser is running on a laptop (slower) machine. And the relay server connection reset (due to 502) triggers a series of events which tends to blow up the subscriptions count.

[2022-03-24 07:44] 1648045459 opened #872 "global is not defined"
**Environment configuration：**
"@walletconnect/client": "^2.0.0-beta.23",
"@walletconnect/legacy-modal": "^2.0.0-beta.23",
"@walletconnect/types": "^2.0.0-beta.23",
"@walletconnect/utils": "^2.0.0-beta.23",

"vue": "^3.2.16",

 "vite": "^2.6.4",

**browser**： 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36'

**my code:**
imp

[2022-03-24 10:51] 1648045459 commented on #872
刚刚开始页面npm run dev错误，中断执行。
然后把几个安装包全安装了：
"@walletconnect/client": "^2.0.0-beta.23",
    "@walletconnect/legacy-modal": "^2.0.0-beta.23",
    "@walletconnect/types": "^2.0.0-beta.23",
    "@walletconnect/utils": "^2.0.0-beta.23",
    "@walletconnect/web3-provider": "^1.7.1",
"ethers": "^5.6.1",
"keyvaluestorage": "^0.7.1",
"web3": "^1.7.1",
然后npm run dev成功了也不知道是安装什么包影响的，页面能打开了，但是抛出global is not defi

[2022-03-24 10:52] #872 closed, assigned to nobody

[2022-03-25 11:13] keyp-dev opened #876 "v.1.0 app connect trust wallet signPersonalMessage no work"

[2022-03-25 11:23] keyp-dev commented on #876
[code]

[2022-03-25 11:25] keyp-dev commented on #876
[code]

[2022-03-25 16:55] spencercap opened #877 "v2.0 Algorand Provider"
love the direction of wallet connect 2.0 api + modularity.
this is an issue for a feature request of an **Algorand provider** package alongside eth, cosmo and polkadot options.
thanks!

[2022-03-26 03:02] dan-hale commented on #655
Hey guys. I found another solution to this problem. I simply import wallet connect via:
`import WalletConnectProvider from '@walletconnect/web3-provider/dist/umd/index.min.js';`
and to get the types working, I made a d.ts file with:
`declare module '@walletconnect/web3-provider/dist/umd/index.min.js' {
  import WalletConnectProvider from '@walletconnect/web3-provider/dist/esm/index';
  export defa

[2022-03-26 03:04] dan-hale commented on #341
Hey guys. I found another solution to this problem. I simply import wallet connect via:
`import WalletConnectProvider from '@walletconnect/web3-provider/dist/umd/index.min.js';`
and to get the types working, I made a d.ts file with:
`declare module '@walletconnect/web3-provider/dist/umd/index.min.js' {
  import WalletConnectProvider from '@walletconnect/web3-provider/dist/esm/index';
  export defa

[2022-03-26 19:52] mohzourob commented on #632
@GHChrisSu Do u manage to fix this issue

[2022-03-26 19:55] mohzourob commented on #773
Hi @sbc64, Do u manage to fix this issue ?

[2022-03-26 19:58] mohzourob opened #878 "Problem with caddy image"
Issue massage:

./build/build-img-caddy-img: No such file or directory

[2022-03-26 23:25] #819 closed, assigned to nobody

[2022-03-27 10:15] #516 closed, assigned to nobody

[2022-03-27 16:42] nbeuchat commented on #315
Same problem here when connecting to metamask via walletconnect on mobile

[2022-03-28 14:55] sbc64 commented on #727
Drop `dockerTools.buildLayeredImage` and use more traditional docker build methods.

Image should be pushed to: https://hub.docker.com/u/walletconnect

Image tag should follow the `git tag`

[2022-03-28 14:56] bkrem commented on #809
This duplicates #625, which we’re currently putting a fix together for.

Closing.

[2022-03-28 14:56] #809 closed, assigned to nobody

[2022-03-28 15:11] spencercap commented on #548
+1

the wallet connect clients libs for v1.0 + v2.0 should automatically reconnect to the websocket after the app is backgrounded (to go to Pera to approve the connection).

disabling `NSURLSession WebSocket` as indicated [here](https://github.com/Azure/azure-signalr/issues/1536#issuecomment-1012992656) solves the issue but that's obviously not ideal...

[2022-03-28 15:40] chadyj commented on #625
The team published a new release that addresses this issue.

https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.0.0-beta.24

We would love your feedback to confirm the fix!

[2022-03-29 02:36] crapthings opened #885 "provider.enable is not a function"
1.7.7

i'm following the docs, but failed

![image](https://user-images.githubusercontent.com/1147704/160521441-6b30c71e-b72f-4018-93c4-6e421f36784b.png)

[2022-03-29 06:58] xzilja commented on #865
There is new and extensive sample for v2 wallet available here
https://github.com/WalletConnect/web-examples/tree/main/wallets/react-wallet-v2

We are also focusing on documentation improvements (still early)
https://github.com/WalletConnect/walletconnect-docs/pull/160

I'd love to address your issue there, so to clarify by `served from a server` you mean wallet that is SSRd? Best thing to do in t

[2022-03-29 07:46] sbc64 opened #886 "Replace `nix-nim-waku` with `statusteam/nim-waku:deploy-v2-prod`"
Use the status team docker container for the waku node.

https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/ops/waku-docker.nix#L12-L85

It should have an entry script that is similar to the above link minus the scoped path invocations that nix has that look this: `"${pkg.coreutils}/bin/od"`

[2022-03-29 08:04] xzilja commented on #885
Does this happen in 1.7.5 ?

[2022-03-29 09:41] pedrouid commented on #625
We had to push some fixes on top of the last release

Please use beta.26 instead

https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.0.0-beta.26

[2022-03-29 10:22] sbc64 opened #889 "Have a backoff method in the relay server for when redis and or waku is not available"
Instead of crashing when the readis server or waku node is not available make the relay server wait and try again. This will help with nomad not stopping the service when it crashes too often.

[2022-03-29 10:23] sbc64 opened #890 "Investigate OOM cause"
Currently the relay server is reaching an OOM.

Need to run tests but this is the log from last week:
[code]

[2022-03-30 15:08] spyshower opened #891 "After successful connect and then disconnect, the QR Modal doesn't come up (Metamask)"
Alright so we are using the latest version of this app on Android and we are only testing Metamask.

The QR Modal was showing up like it should, until we created a Metamask account in the phone that we do the debugging and then connected to it with WallectConnect (this package, via the modal).

However, every single time we try to connect, the modal it just doesn't come up and we get deep linked t

[2022-03-30 17:01] brianlenz opened #892 "Allow minor/patch version updates for web3-provider-engine?"
Is there are reason `web3-provider-engine` needs to be fixed at `16.0.1` without allowing minor/patch version updates?

https://github.com/WalletConnect/walletconnect-monorepo/blob/v1.0/packages/providers/web3-provider/package.json#L71

It would be great if this used `^16.0.1` so that security updates can be applied. For example, there is currently a security vulnerability in `web3-provider-engine

[2022-03-30 18:47] lf94 commented on #558
I am having this exact issue. Did you figure it out?

[2022-03-30 19:20] lf94 commented on #558
This is happening in beta26. From what I can tell my setup is exactly as the cosmos example application, which also uses beta26 (but maybe is not deployed, I can't tell).

[2022-03-30 19:21] lf94 commented on #558
@pedrouid pinging so you get some visibility on this while I try and find the root cause...

[2022-03-30 20:54] spencercap commented on #548
while i do still get the error at the top of this issue...

i've had luck completing the walletconnect handshake anyway by keeping some background task running in the webview browser thread like an interval or request animation frame while the webview or browser is backgrounded (to approve + link in Pera Wallet) like:
[code]
or
[code]

[2022-03-30 22:41] lf94 commented on #558
This appears to be happening in Electron applications. In Chromium, the issue is not there. Any ideas?

[2022-03-30 23:13] rafaelaugustos commented on #548
Can you explain? i tried and didn't work

[2022-03-30 23:48] rafaelaugustos commented on #548
same +1

[2022-03-31 02:35] ashconnell commented on #687
Is this a "recommended" way to serialise and deserialize sessions?

I noticed that `WalletConnectProvider.provider.wc.session` is identical to the localStorage value of `walletconnect` so I assume it would be fine to use this?

[2022-03-31 03:37] egueiros commented on #865
Same situation seems to exist for Rect Native mobile wallets. No clear documentation, dependency lists or how to troubleshoot issues. But based on the comment above, it seems it's a work in progress.

[2022-03-31 04:04] egueiros opened #893 "React Native - Error opening socket"
Hello, I'm following the quick start guide for 2.0 for React Native (https://docs.walletconnect.com/2.0/quick-start/wallets/react-native). Currently it's failing to connect with the following error.

[code]
I traced it to `relayer.js -> init() -> provider.connect()` then ` provider.js -> connect() -> open(connection)`. After this I get the error and the client does not init.

Currently my dependen

[2022-03-31 07:44] xzilja commented on #893
I think storage related issue is purely types, will need to look into that. As for the actual error it looks like something was thrown during connection with error message being undefined.

Quick Q, did you replace `'MY_PROJECT_ID'` with your actual project id?

If you did and it's still not working, I'll have to spin up rn project and test myself 👍
Sorry for this, we are currently working on over

[2022-03-31 07:45] #893 closed, assigned to nobody

[2022-03-31 11:23] swaxtic commented on #436
+1

[2022-03-31 11:31] swaxtic commented on #747
+1

[2022-03-31 14:14] spencercap commented on #548
@rafaelaugustos 👋
i help maintain a js client library for the Algorand blockchain called [`algonaut.js`](https://www.npmjs.com/package/algonaut.js) which uses walletconnect under the hood to connect to algorand's official mobile wallet [Pera](https://perawallet.app/) (which supports wallet connect v1.0 QR codes) so i had to get to the bottom of this websocket issue too.

i found that when you leav

[2022-03-31 15:02] GHChrisSu commented on #558
@lf94 You should keep the version same both client and server. If you use your own server to deploy.

[2022-03-31 15:03] GHChrisSu commented on #558
It's not happen now, maybe some version problem.

[2022-03-31 23:22] petrusvanegeraat commented on #569
Below changes in package.json works for me.
[code]

[2022-04-01 11:37] dfordivam commented on #548
Regarding `Uncaught TypeError: Cannot read property 'message' of undefined`, I have fixed this in the index.min.js by doing the following modification. After this fix the websocket automatically reconnects after the error, and the app works.

[code]

[2022-04-01 11:43] dfordivam commented on #625
Thanks for the new release addressing this issue. I tried the beta.26 release, containing the fix mentioned in this comment  (https://github.com/WalletConnect/walletconnect-monorepo/issues/548#issuecomment-1085792067), to make sure the app does not crash due to websocket error, and observed that after about 12 hours the browser tab was working fine on my desktop machine, ~~but unfortunately it did

[2022-04-01 18:36] rafaelaugustos commented on #548
It worked with Wallet Connect v1? i add in my code but didn't worked. I'm working with Capacitor.

[code]

[2022-04-01 21:20] rmlearney opened #900 "TZIP-10 support / compatibility?"
Tezos have their own TZIP-10 standard (https://gitlab.com/tezos/tzip/-/blob/master/proposals/tzip-10/tzip-10.md) for connecting wallets to dApps, commonly called 'Beacon'.

Is there potential alignment or interoperability between these standards, or support within WalletConnect?

SDK seems to be here: https://docs.walletbeacon.io

[2022-04-02 18:53] CryptoVonn opened #902 "QR code will not scan no matter what"
I have tried several times now. I follow the proper steps to import my info on the desktop walletconnnect site. When I import, the funds leave my wallet. When I go to scan the generated qr code after 30 seconds on my phone in trust wallet nothing happens. Everyone says keep trying with more money until I scan and a menu comes up but I can't do that. I have tried several times with amounts way over

[2022-04-03 23:05] kaumudpa commented on #773
+1

[2022-04-04 03:57] dfordivam commented on #625
Update on testing of the latest release (2.0.0-beta.26), I kept the browser tab in idle for more than two days and so far things look good, the CPU usage is normal and the tab did not crash.

[2022-04-04 05:07] midgerate commented on #546
@rickycodes I saw you reverted signTypedData_v4 from metamask. By looking at the latest implementation I see that signTypedData defaults to signTypedData_v3 which does not have support for typedArrays. At snapshot we use typed arrays and we need support for v4. When do you think the default can be changed to v4?

cc @sethkfman

[2022-04-04 09:58] chadyj commented on #625
Thanks for testing @dfordivam 🙌

[2022-04-04 09:58] #625 closed, assigned to nobody

[2022-04-04 10:04] #902 closed, assigned to nobody

[2022-04-04 13:56] lf94 commented on #558
It is happening for me absolutely no matter the version. It has to do with the fact it's running in an Electron context.

[2022-04-04 17:55] worldveil opened #904 "Details on encryption scheme?"
Hi there!

From the [WalletConnect docs](https://docs.walletconnect.com/tech-spec#cryptography) (which are wonderful, by the way), I am trying to understand a few things.

It appears Bridge server [generates a public/private key pair](https://github.com/WalletConnect/walletconnect-monorepo/blob/5629c15475c7826554468bd282092a3fba40d261/packages/client/src/controllers/crypto.ts) that [uses this code

[2022-04-05 03:58] dfordivam commented on #625
Update 2: I did further testing on Monday, this time the wallet-connect was not idle. I did >10 requests in a day, and put the laptop on sleep (4 times) during the day. During night the laptop was ON. The next day both Firefox and Chrome tabs crashed.

I refreshed the Firefox tab, and after about 5 min of high CPU usage it became responsive. The relayer:subscription count is 16825. On Chrome it op

[2022-04-05 05:06] w4-jake commented on #648
Same issue on my Android 11 AVD ... thankfully the workaround suggested by @cichun fixed the issue so thank you!
Are there any plans to fix the actual library though so there is no need to patch the package?

[2022-04-05 08:54] Amencee commented on #773
tag :2.0.0-beta.26
This bug still exists

[2022-04-05 10:46] Amencee opened #905 "make deploy error。Please test after release version！！！！！！！1"
tag:2.0.0-beta.26
exec make deploy script
the error log:
[code]

1.Why do you need this dependency without compiling it?
2.If you need this /ops/stats.html, why not provide it

[2022-04-05 14:07] Amencee opened #906 "how to configure Caddy by dockerfile"

[2022-04-05 14:24] Amencee commented on #600
Hi,do you know how to run  walletconnect/caddy:v2.4.3 image. I want to make deploy but I don't know how deal with caddy

[2022-04-05 16:33] addmorebass opened #908 "User cannot sign Polygon transactions using Ledger/Wallet Connect"
We are getting errors when a user tries to sign a Polygon transaction using Ledger/WalletConnect.

[2022-04-06 00:49] jakelee8 opened #909 "Push Notifications webhook not working for WalletConnect 1.0"
Hello team!

I'm using the [Subscribe Push Notifications Webhook](https://docs.walletconnect.com/bridge-server#subscribe-push-notification-webhook) to implement push notifications.

I was able to get it working locally using the relay code in this repo and subscribing to `.walletInfo.peerId` as the push notification topic in iOS.

However, in production, the `*.bridge.walletconnect.org` servers ve

[2022-04-06 01:54] hollywoodpa commented on #908
Problem: When connected with Ledger hardware wallet, it does not seem to support EIP 712 signature confirmation
Is this wallet connect or ledger issue?

[2022-04-06 06:57] Yash0018 opened #910 "@walletconnect/web3-provider sends so much eth_getBlockByNumber requests also why do we need those requests"
I got wallet connect working well. but I noticed so many requests sent in the background for eth_getBlockByNumber. i learned that we can delay them. but my question is why do we even need them. also, can I stop them completely?

[2022-04-06 07:43] abdullahkhan70 commented on #569
Still it is not working :(

[2022-04-06 07:43] abdullahkhan70 commented on #569
Still, it is not working :(

[2022-04-06 09:09] chadyj opened #911 "Engine: implement new session pairing settlement flow"
- [ ] Generate paring
- [ ] Pair
- [x] Proposal
- [ ] Response
- [ ] Settle
- [ ] Acknowledgement

More
- [ ] Expiries
- [ ] Timeouts

[2022-04-06 09:14] chadyj opened #912 "Remove dependency on storage.ts in client/controllers"
## Steps

- [x] Move methods from storage.ts into their respective controllers
- [x] Rewire existing `this.storage.xyz` references to use the methods in the respective controllers instead
- [x] Remove `storage.ts/this.storage` and associated types completely

## Affected controllers

- [x] - crypto.ts
- [x] - store.ts
- [x] - expirer.ts
- [x] - history.ts
- [x] - messages.ts
- [x] - subscriptions.

[2022-04-06 09:15] chadyj opened #913 "crypto change encryption algorithm"
- [x] Use HKDF to derive symmetric keys
- [x] Use chacha20 - poly 1305 for encryption and authentication https://github.com/WalletConnect/walletconnect-monorepo/pull/925

[2022-04-06 09:20] chadyj opened #914 "Refactor session and proposal into separate stores and single engine"
- [x] Make session and pairing simple stores (not engines)
- [x] Delete references / files associated to sequence
- [x] Simplify client and offload its logic to new engine
- [ ] Implement new pairing / session proposal and settlement flow
- [ ] Implement new update methods (updateAccounts, updateMethods, updateEvents, updateExpiry) these methods need to overide existing changes.
- [ ] Fix / update

[2022-04-06 09:21] chadyj opened #915 "Improve unit tests, add test coverage tooling"
Improve/create unit tests for:

- existing controllers that will remain in v2.0-rc
- @walletconnect/utils
- add test coverage tooling

[2022-04-06 09:24] chadyj opened #916 "Upgrade provider sample dapps"
Upgrade provider sample apps to work with Swift and Kotlin

https://github.com/WalletConnect/web-examples

[2022-04-06 12:16] michalmaka commented on #569
If you have `yarn` you can use `resolutions` section in package.json to override specific package, but in case of  `npm` you can do similar stuff as written below, but you need to have npm in version >=8.3
https://stackoverflow.com/a/70396201

[2022-04-06 21:35] ShevaShen commented on #441
The issue is with the Object spread operator since javascript es6, `pify/index.js` is using it.

Depends on your `webpack` configuration, you will have to do something to compile it. e.g. for `babel-loader` user, can look into a lib like this https://babeljs.io/docs/en/babel-plugin-proposal-object-rest-spread

[2022-04-07 01:57] MikoShao opened #1010 "Use SDK with objc language"
Can I use this library in an objc project? anyone provide some advice and help on how to do it?

I want to compile this library into a game project, but the game projects are all in oc language.

[2022-04-07 07:46] Sudhanmanoharan opened #918 "BSC Network Switch not working Wallet Connect in MetaMask mobile"
Hi Team,
Right now I'm using on wallet connect to connect DAPP, When I try to switch the BSC network in Metamask mobile App. I’m getting the following error
**_Error: call revert exception CALL_EXCEPTION [https://docs.ethers.io/v5/troubleshooting/errors/#help-CALL_EXCEPTION]._**
Then I console Contract, I’m able to get all methods in the console and checked the Network setting, everything looks fi

[2022-04-07 08:27] sc0Vu opened #919 "Strange walletconnect-connect__button__text size in the modal"
Hi there,

We found a strange issue with walletconnect modal. Here are screenshot from two dapp, naos and uniswap. Both of them were in computer mode, and the screen is 1232*830, the weird thing is they have different `font-size` style. The `font-size` came from this condition (width < `768px`):

https://github.com/WalletConnect/walletconnect-monorepo/blob/a22bee13df255ee59d338d600175250a3a0ef8aa/

[2022-04-07 08:36] sc0Vu commented on #918
Does this work if add BSC when initiate WalletConnect connector?

[code]

[2022-04-07 10:01] NoahsArk02 opened #920 "How do I send busd instead of BNB using sendTransaction on React Native?"
In the browser I successfully send busd using this code
[code]
In react-native, I successfully connected to metamask using `connector.connected`,
and send a BNB token to a wallet address, what I want is I want to send BUSD instead of BNB.

Here is my code on react-native for sending transaction
[code]

[2022-04-07 12:01] Sudhanmanoharan commented on #918
It's working
Thanks @sc0Vu

[2022-04-07 13:06] Sudhanmanoharan commented on #918
Hi @sc0Vu,
 one more help is needed from you. I'm facing issues in the trust wallet and Safepal wallet. Let me attach the screenshot.
ChainId is not supporting in both.
**TrustWallet:**
![photo5366306790628768559](https://user-images.githubusercontent.com/27803356/162205358-458b9c21-093a-44c5-9d3c-82f8699d5941.jpg)
----
**SafePal**
![photo5366306790628768558](https://user-images.githubusercontent.

[2022-04-07 13:22] Mahdyar1983 opened #921 "0xb27adaffb9fea1801459a1a81b17218288c097cc"

[2022-04-07 18:37] addmorebass commented on #546
Was this ever addressed?

[2022-04-07 19:51] dukevantreta commented on #1010
Yes, Obj-C and Swift are completely interoperable in both ways. You will just need a bridging header to forward declare the Swift interfaces and use them as if they were Obj-C code.

Here's some info on how to do it: https://developer.apple.com/documentation/swift/imported_c_and_objective-c_apis/importing_swift_into_objective-c

[2022-04-08 04:53] midgerate commented on #546
@addmorebass yes, but it was soon reverted.

[2022-04-08 06:29] #921 closed

[2022-04-08 06:30] #920 closed, assigned to nobody

[2022-04-08 06:34] #912 closed, assigned to bkrem

[2022-04-08 10:14] jarl0415 opened #927 "how to use @walletconnect/web3-provider in cocosCreator3.4.0?"
npm install then import will report an error
![image](https://user-images.githubusercontent.com/41228756/162415893-a9ed6197-cbaf-45d4-9d88-9b73cf2fe0c6.png)

[2022-04-08 11:21] sbc64 opened #928 "Use redis streams between relays as the message bus instead of waku."
- [ ] Upgrade to redis v4
- [ ] Upgrade `redis.ts` to handle redis streams.
- [ ] Create test that test one end point that is handled by two or more relay-servers
- [ ] Share a single redis between two or more relay servers

[2022-04-08 12:42] sbc64 opened #929 "Add better error handling for external connections."
- [ ] Add better network service error failure, basically the relay should not crash because waku is not available.
- [ ] Add better redis service error failure, basically the relay should not crash because redis is not available.

[2022-04-08 14:00] addmorebass commented on #546
Our signature is not even reaching TrustWallet via WalletConnect, so I wonder if it is related.

[2022-04-08 22:44] ddkang commented on #748
Are there any plans to fix this? This bug prevents updating to the latest versions of packages.

[2022-04-09 04:35] midgerate commented on #546
@addmorebass trustwallet via walletconnect works fine even with v4. They implemented it long ago. But this thread is about metamask mobile.

[2022-04-09 09:01] NoahsArk02 opened #930 "(REACT-NATIVE) JSON RPC response format is invalid"
I tried to use the `sendCustomRequest `and the method is `wallet_switchEthereumChain` to request to switch the network on the metamask mobile, when I press switch network button on the metamask app it return me this error on my dApp `JSON RPC response format is invalid`. Here is my sample code

[code]
I tried this on the metamask API playground and it works fine.
https://metamask.github.io/api-pla

[2022-04-09 18:38] kasheefalbertus opened #932 "Wallet Connect Provider Does Not Support Astar Network"
Failed to load resource: the server responded with a status of 401 ()

Please can you confirm the following is supported

   const walletconnect = new WalletConnectProvider({
                    rpc: { 592: "https://rpc.astar.network:8545" },
                    bridge: "https://bridge.walletconnect.org"
                });

Any Support Would Be Appreciated

[2022-04-10 11:00] CryptishApps opened #933 "Network request failed: https://registry.walletconnect.org/data/wallets.json"
I'm receiving this error:

When loading the app. It's when it's calling this URL: https://registry.walletconnect.org/data/wallets.json. The error given is:

Started happening yesterday, I believe. Anyone have any ideas why? It means, when I try to use the Connect option, I get this error:

`Mobile registry not yet ready`

Thanks in advance.

[2022-04-10 14:18] dracorisz opened #935 "Update @walletconnect/qrcode-modal@1.7.7 dependency tree"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@walletconnect/qrcode-modal@1.7.7` for the project I'm working on.

Since @walletconnect/mobile-registry is DEPRECATED, could you remove it from the dependency tree, please?

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially gene

[2022-04-11 08:21] chadyj opened #936 "Update utils package to account for new changes"
- [x] Update uri utils
- [x] Update validation utils

[2022-04-11 08:22] chadyj opened #937 "Refactor storage dependency model, target by platform and suggest additional dependencies"
Depends on:
- https://github.com/WalletConnect/walletconnect-utils/issues/12

---

- [x] Make dependencies like `react-native-async-storage` and `better-sqlite3` externals/optionals (so that webpack doesn't bundle them)
- [x] Import and use expected external dependency (if any) for a given platform target, rather than using an injected dependency.
- [x] Update docs to reflect approach of adding ad

[2022-04-11 08:55] xzilja commented on #937
We want to take full control of storage mechanism used on all our platforms, which means that we'll no longer ask / expect users to pass their own storage library during initialisation. Similarly we will be using default database name. These require few changes:

- [ ] Remove options from constructor (as we will define these on our own now)
- [ ] Make dependencies like `react-native-async-storage`

[2022-04-11 10:17] bkrem commented on #937
@IljaDaderko I've merged your bullet points into the initial ones I had in the description. Only thing I've changed is instead of:

we have

since `keyvaluestorage` already defines platform-specific entry targets as Pedro mentioned during sync: https://github.com/WalletConnect/walletconnect-utils/blob/master/misc/keyvaluestorage/package.json#L24

[2022-04-11 10:31] saiyam-sage commented on #930
@NoahsArk02 I am getting the same issue. Did you find any solution?

[2022-04-11 10:53] #727 closed, assigned to ffrizzo, sbc64

[2022-04-11 10:53] #886 closed, assigned to ffrizzo

[2022-04-12 01:51] MikoShao commented on #1010
@MisterVants
Yes, I have checked a lot of related technical articles, objc requires swift's class annotation @objc and public, I'm still trying, albeit with some difficulties.

At present, an error occurs when running ExampleApp, as follows, is there a problem with the server?

[code]
And I am more concerned about when the official version of WalletConnectV2 will be released?

[2022-04-12 07:08] chadyj commented on #933
That URL is our deprecated registry API. It should still work fine, so I'll look into this issue.

In the meantime, I suggest you try the new registry API as that could fix your issue. https://docs.walletconnect.com/2.0/api/registry-api

[2022-04-12 08:18] bkrem commented on #933
Not seeing any issues with either fetching via the legacy endpoint [registry.walletconnect.org/data/wallets.json](https://registry.walletconnect.org/data/wallets.json) or when used inside the modal, e.g. https://example.walletconnect.org/

@andyloweruk could you provide context here as to what the app is where you're seeing this? It sounds like a possible content security issue on their side, espe

[2022-04-13 07:12] CryptishApps commented on #933
Thanks @bkrem but I’m not using it directly, I’m using your React Native client which calls this endpoint, so hopefully that helps narrow down the issue.

Restarting the android emulator seems to do the trick but I’ve had the issue come back since.

[2022-04-13 12:39] #913 closed, assigned to pedrouid

[2022-04-13 17:04] jakubdonovan commented on #341
@pedrouid Has there been any progress in making this lib work properly with sveltekit?

[2022-04-14 19:14] davidthomasparks commented on #935
Mobile links are no longer showing for our WalletConnect modal on mobile, is this related to the registry being deprecated?

[2022-04-14 19:37] davidthomasparks opened #950 "Registry v2 wallet Error SSL_PROTOCOL_ERR"
Hey there,

As of 4 days ago we've observed mobile links no longer appearing on our Wallet connect modals. I think we can potentially trace this to the depreciation of the old mobile registry. On our production environment we are getting the following error when opening the WC modal:

`GET https://registry.walletconnect.com/api/v2/wallets net::ERR_SSL_PROTOCOL_ERROR`
<img width="590" alt="Screen S

[2022-04-14 19:45] imthatcarlos commented on #950
+1 literally was dealing with this the past 2 hours. I tried setting the legacy api manually for `qrcodeModalOptions.registryUrl` and ran into some parsing error, so figure it wasn't valid in the latest version of the sdk, tried deprecating, same parsing error. Guess we're waiting on this v2 api to not have this SSL error ?

[2022-04-14 19:49] imthatcarlos commented on #950
related https://github.com/WalletConnect/walletconnect-monorepo/issues/933

[2022-04-14 20:07] davidthomasparks commented on #950
Tried your registry fix too @imthatcarlos and am getting the same parsing error. Thanks for the related issue. Hoping they can resolve this soon, followed up in the WC discord hoping to get some eyes on this blocking problem.

[2022-04-14 20:18] imthatcarlos commented on #950
@davidthomasparks it's probably too much of a hack/workaround but i noticed that there was a slight difference in the response documented and what the legacy api responds with, so maybe creating an intermediate api that just takes the legacy response, formats it for this: https://docs.walletconnect.com/2.0/api/registry-api#get-apiv1wallets and the setting your intermeidate api as the registry. aga

[2022-04-14 20:32] davidthomasparks commented on #950
Now this is the kinda hack I like @imthatcarlos haha. I will give this a shot. We do in fact need it in prod. Thanks for the idea

[2022-04-14 20:42] imthatcarlos commented on #950
haha nice yeah no problem! good luck, and lmk if it works 🙏 we're not in prod yet, but would be nice to have a fallback option in the interim. cheers

[2022-04-14 20:56] davidthomasparks commented on #950
Wow it worked @imthatcarlos thanks legend lol. We're using Next so here was the API route:

[code]

And our connector:

[code]

[2022-04-14 21:02] imthatcarlos commented on #950
nah you're legend for sharing the code 🙏 thanks @davidthomasparks , we're using next too so i'll plug this bad boy right in. cheers!

[2022-04-14 22:41] ShevaShen commented on #748
Here is a solution from coinbase
https://docs.cloud.coinbase.com/wallet-sdk/docs/web3-react#a-nametroubleshootingatroubleshooting

[2022-04-14 22:57] ddkang commented on #748
This does not work with create-react-app, which does not allow webpack overrides

[2022-04-15 11:12] wAISw opened #951 "JSON-RPC Request timeout after 300 seconds: solana_signTransaction"
Hi!
I use @walletconnect/client@2.0.0-beta.22, also I tried 2.0.0-beta.26.
Connection of wallet works, but transaction signing doesn't.
I created a tx, and sent it via `request` method.
Also, I have listener on `CLIENT_EVENTS.session.response`.
After that I confirmed my tx on mobile wallet `Nitrogen`.
And nothing happend for 5 minutes.
After that I got an error:
[code]

My sign method below:
[code

[2022-04-15 12:52] joharzmn opened #952 "Angular - Error: Uncaught (in promise): ReferenceError: Buffer is not defined"
**Issue: **
I am trying to use walletConnect to connect MetaMask wallet to my angular application. I am following the documentation by running the following code:
When I run this code on web browser it give this error: `Error: Uncaught (in promise): ReferenceError: Buffer is not defined
`

**Versions:**
[code]

[code]

[2022-04-16 03:43] baixiaoyu2997 commented on #655
for nuxt3 user ,  there is a solution
https://github.com/nuxt/framework/discussions/4393

[2022-04-17 02:12] dracorisz commented on #935
Nope.

[2022-04-17 11:10] joharzmn commented on #444
Any update on redirecting to AppStore for SignMessage Request Issue?

[2022-04-18 02:19] Benjythebee commented on #564
I have updated walletconnect to 1.7.7 and I think this issue has been fixed as I can't reproduce both the 1.5.2 case and the 1.6.1 case.

Anyone else?

[2022-04-18 14:18] #952 closed, assigned to nobody

[2022-04-18 21:15] joharzmn opened #956 "connector.signPersonalMessage redirects to the AppStore instead of MetaMask app"
**Problem:**
After successful connection with metamask wallet.  When calling this function `connector.signPersonalMessage `  it's redirecting to AppStore instead of to MetaMask app.

**Demo of Issue:**  Go to this link on your iphone device and click on connect and see the behaviour for signPersonalMessage
https://angular-13-template-grgl21.stackblitz.io/
To Edit files: https://stackblitz.com/edit

[2022-04-19 09:57] duyta7598 commented on #930
Same issue, any update?

[2022-04-19 11:09] joharzmn commented on #956
**Note: ** Also tried using js files from release. Same Issue

[2022-04-19 13:20] shiny-mountain opened #962 "JSON-RPC Request has invalid publish params"
After updating the package to version 2.0.0-beta.26 in the Stellarterm, when calling the "pair" method, I get error "JSON-RPC Request has invalid publish params" in the dApp and wallet. What could be the problem?

I see that you have already been informed about such a problem:
https://github.com/WalletConnect/WalletConnectKotlinV2/issues/96

![Screenshot 2022-04-19 at 16 12 49](https://user-images

[2022-04-19 21:01] RivarolaNicolas commented on #962
Same here, I've been dealing with this problem for a while now. It only happens using the .org relay `relayUrl: 'wss://relay.walletconnect.org',`, the thing is LOBSTR only works with the .org relay. It happens on every version I tried of the v2 beta

[2022-04-19 21:08] joharzmn commented on #647
I am using WalletConnect to connect to the MetaMask in my angular app. When I scan QR Code from Mobile on Web Browser then it's working fine. But when I connect to MetaMask and SignPerosnalMessage from Safari Browser on Iphone then for SignMessage Request it's redirecting me to AppStore.
Can anyone know why it's redirecting to AppStore even though I have the app installed?

Really need this fixed.

[2022-04-20 08:09] bkrem commented on #937
Closing this since all tasks have been addressed and relevant PRs merged 👍

[2022-04-20 08:09] #937 closed, assigned to bkrem

[2022-04-20 08:42] shiny-mountain commented on #962
@RivarolaNicolas Thank you! I would never have discovered that ".org" changed to ".com" :) Everything works fine with ".com"!

[2022-04-20 09:55] mqklin opened #963 "walletconnect.connected is still true even if there is no connection"
I'm using `@walletconnect/client`. I created session with `createSession`, scanned QR code, everything is OK. After that I rebooted my cell phone - connection is lost. But connector still returns `connected` as `true` and tries to trigger cell phone pop-ups.

[2022-04-20 11:10] joharzmn commented on #963
@mqklin Please share your code as well.

[2022-04-20 11:30] joharzmn commented on #956
@pedrouid Hey, can you look into this issue? Really appreciate it.

[2022-04-20 12:38] RivarolaNicolas commented on #962
@shiny-mountain No problem! Glad to help you. Can I ask you which wallet you are using? Were you able to connect using the ".com" relay with LOBSTR? AFAIK it's the only wallet that supports WalletConnect in the Stellar ecosystem

[2022-04-20 13:10] joharzmn commented on #962
@RivarolaNicolas  can you also help me with this issue?
https://github.com/WalletConnect/walletconnect-monorepo/issues/956

[2022-04-20 15:20] Adamj1232 commented on #315
+1 Bumping this!

[2022-04-20 17:45] RivarolaNicolas commented on #962
Hello @joharzmn, sorry but I can't help you as I have no experience dealing with the v1 of WalletConnect, this issue is about the v2 (which is in beta)

[2022-04-20 17:53] RivarolaNicolas commented on #930
Seems to be linked to this issue #962

[2022-04-20 21:59] joharzmn commented on #658
[code]

[2022-04-20 23:23] jakelee8 commented on #909
Not working again.

[2022-04-20 23:31] jakelee8 commented on #909
nvm, we're getting calls from WC

[2022-04-20 23:31] #909 closed, assigned to nobody

[2022-04-21 00:54] kyokosdream commented on #658
+1 I have tried using the constructor with both `.default` and without. I have also tried to use `@walletconnect/ethereum-provider` to no avail.

[2022-04-21 02:01] kyokosdream commented on #658
My forked web3modal library where I've been playing with removing the default:

https://github.com/kyokosdream/web3modal/blob/master/src/providers/connectors/walletconnect.ts#L34

I saw that web3-react was using `@walletconnect/ethereum-provider` so I swapped to that but I'm having the same error. I follow the reference implementation:

https://www.npmjs.com/package/@walletconnect/ethereum-provide

[2022-04-21 16:14] kyokosdream commented on #658
Here is my custom connector for web3-modal. Thank you to @4skinskywalker for helping me get here. This works now,  but leads to an error when scanning the QR code: "Error initializing WalletConnect". This happens on both localhost _and_ my SSL-enabled site.

[code]

[2022-04-21 16:48] sunaookamishiroko opened #966 "Connect to metamask not working on android"
I'm using react native and just make a button with useWalletConnect() hook.
When i touch the button, i can connect to metamask on IOS but not Android.
On Android, it leads me to 404 error wallectconnect web page.

So, i try to solve this problem and i found solution but i can't understand why it works

at `node_modules/@walletconnect/react-native-dapp/dist/providers/WalletConnectProvider.js`

![im

[2022-04-21 23:18] ShevaShen commented on #748
downgrade to `react-script` v4, v5 has so many bugs the CRA team needs to fix

[2022-04-22 03:37] Loque18 commented on #423
I am having a similar issue, how did you manage this to work ?

[2022-04-22 04:47] #349 closed, assigned to nobody

[2022-04-22 06:54] songkeys commented on #930
looks like the response is parsed to `{id: 1650610281723940, jsonrpc: '2.0', result: null}`. i believe this is an sdk bug.

[2022-04-22 18:13] dlazares commented on #950
any official fix coming?

[2022-04-22 23:15] bdhcode commented on #444
any updates, i'm getting this issue too

[2022-04-23 14:20] bdhcode commented on #569
it is solved with yarn resolutions

[2022-04-23 16:17] joshuacue commented on #618
My Solution that worked is when I created my own plugin, feel free to copy my solution, with expo prebuild, I was able to see the output of the AndroidManifest.xml, the built path is `android/app/src/main/AndroidManifest/xml`:

Then here is hows my plugin and affected files look like:

1. In project root, create a new file app.plugin.js file
[code]

2. add this file as plugins inside app.json:
[co

[2022-04-23 17:51] 0x9090 commented on #315
This issue was opened almost 2 years ago. C'mon dev team

[2022-04-24 07:03] Loque18 commented on #747
+2

[2022-04-24 07:18] yangjingsong opened #969 "Wallect Connect did not show wallets on Android"
![origin_img_v2_a61d23a1-f808-4ad6-969b-259ad908c06h](https://user-images.githubusercontent.com/13377942/164964814-ffc362c5-df88-489f-b742-fdf5c2bc707a.png)

[2022-04-24 08:33] yangjingsong commented on #969
https://user-images.githubusercontent.com/13377942/164967734-acb8548d-90be-4bde-95e6-86aa8549f7d3.mp4

[2022-04-25 00:22] ShravanSunder commented on #341
@redox
i'm pretty sure that portis is not properly exporting an es module and has some common js mixed in their lib or deps.

[2022-04-25 00:35] kyokosdream opened #973 "Cannot deploy contracts using WalletConnect"
We planned to enable support for WalletConnect V1 today. Everything seemed to be working properly, connection is established, prompts come up.

However, when trying to deploy a contract to a network, we get the error `Invalid ENS Name` with regard to the `tx.to` field because for contract creation transactions the `tx.to` field is a blank string (instead of `null` which I believe it should be).

P

[2022-04-25 01:15] kyokosdream commented on #973
https://github.com/ethers-io/ethers.js/issues/2750

[2022-04-25 02:35] yangjingsong commented on #969
https://user-images.githubusercontent.com/13377942/164968243-cc53cd9c-4c6a-4fd6-a610-85481444227f.mp4

[2022-04-25 04:39] Loque18 commented on #243
same issue

[2022-04-25 17:44] kyokosdream commented on #973
After an investigation, we have found that the problem lies in `ethereum.ts` in `utils` folder. @mubarakone has opened a pull request #974. I have forked the repo and attempted to apply this change but I am unable to use my forked repo in my code. I believe it has to do with the namespace and scoped package names.

Can someone please provide details of how to use a forked version of the walletconn

[2022-04-25 17:46] himanshuchawla009 commented on #444
I noticed, it happens on calling any rpc method to open app immediately after connection, on adding some user interaction it doesn't happen. For ex: Most of the dapps immediately invokes signMessage call, as a workaround just add some user interaction to invoke this call instead of invoking it directly after login.

[2022-04-25 17:54] kyokosdream commented on #973
Sorry to tag you @pedrouid as I know you are very busy as the founder of WalletConnect but if you could briefly assist on how to use a forked version of the `walletconnect-monorepo` I would greatly appreciate it. I can then test if the changes proposed in the pull request fix the issue. Thank you for your time if you are able to offer us some guidance.

[2022-04-25 18:03] kyokosdream commented on #973
I need to change a single line of the `ethereum.ts` file located in `/packages/helpers/utils` which the `web3-provider` depends on. When I install my custom fork using the code referenced above, I can't import any packages and when I inspect the `walletconnect` folder in `node_modules`, I still see a number of references to the namespace `@walletconnect` and the original repo (not my fork).

For e

[2022-04-25 20:19] joharzmn commented on #444
Ahan that's the point. So what should we do to workaround that issue?
Delay the sign function or something like that?

[2022-04-26 02:07] kyokosdream commented on #973
I've tried the solution here to make changes to your package: https://whatapalaver.co.uk/npm-dependency

It doesn't work. After I make the change to `ethereum.ts` setting the `tx.to` field to null instead of an empty string and try to build with lerna (https://github.com/lerna/lerna) the process fails since the strict types enforced by Typescript are incompatible.

[code]

[code]

So the types are

[2022-04-26 02:12] kyokosdream commented on #973
I've made a further change and changed the modified value from `null` to `undefined` to comply with `@walletconnect/types`. Then I performed the symbolic link with `npm link` and `npm link "@walletconnect/utils"` but I see no changes to the original error provided at the top of this issue.

`to: typeof txData.to === "undefined" ? undefined : sanitizeHex(txData.to),`

[2022-04-26 04:45] NoahsArk02 commented on #930
NO, I didn't find any solution yet for this issue.

[2022-04-26 09:42] #930 closed, assigned to nobody

[2022-04-26 09:50] chadyj opened #981 "Modal search bug on Uniswap and others"
**Describe the bug**

There is a UI bug on the WalletConnect modal happening on both desktop and mobile.
A user can't tap/click the search box. Doing so causes the page to jump.

This breaks the WalletConnect connect flow as a user can't choose their wallet.

It is happening at least on:

https://app.uniswap.org
https://app.gro.xyz/

**SDK Version (if relevant)**
 - JS

**To Reproduce**
Steps to r

[2022-04-26 11:16] himanshuchawla009 commented on #444
a workaround can be asking user to click button to invoke rpc call.

[2022-04-26 12:39] bkrem commented on #950
Hi everyone,

Is there a consistent/straightforward way to reproduce this issue? Spent some time looking into this, and so far I haven't found a way to reproduce this and I haven't seen it in the wild, neither with the `/api/v2/wallets` nor the legacy `wallets.json` endpoint.

Additionally it's not clear to me why using the legacy endpoint as suggested here would change anything since they are now

[2022-04-26 12:43] bkrem commented on #933
Thanks for the additional context here @andyloweruk 👍

Root cause is still unclear but I'm closing this issue and redirecting further discussion to #950 to avoid duplicated issues on this.

[2022-04-26 12:43] #933 closed, assigned to nobody

[2022-04-26 13:06] matthewcarlreetz commented on #596
I'm seeing this when using `'@walletconnect/client'` on React Native as soon as I call `WalletConnectClient.init`.

[2022-04-26 13:13] matthewcarlreetz commented on #596
Are there any v2 docs for React Native? I'm wondering if I'm not killing sessions properly.

[2022-04-26 15:04] kyokosdream commented on #973
I'm testing V1.7.8 that has just been released, if it fixes this problem, I will close the issue.

[2022-04-26 15:21] kyokosdream commented on #973
Thank you for everyone's hard work on this. Closing the issue as I've just successfully deployed a contract with 1.7.8.

[2022-04-26 15:21] #973 closed, assigned to nobody

[2022-04-26 16:17] davidthomasparks commented on #950
Hi @bkrem, it looks like the v2 endpoint is now properly fetching. Before we were getting 500 errors since it wasn't secured by SSL (or some other reason) but I just checked it and I can now see it's returning the wallet registy.

[2022-04-26 16:17] #950 closed, assigned to nobody

[2022-04-26 18:23] matthewcarlreetz opened #987 "Unauthorized pairing update request"
**Describe the bug**
I receive the error `{"context":"client"}{"context":"client/pairing"} Error: Unauthorized pairing update request` when initializing the wallet connect client on React Native. This error shows 16-250 times when present.

**SDK Version (if relevant)**
 - Client: React Native
 - Version: `"@walletconnect/client": "^2.0.0-beta.26"`

**To Reproduce**
Steps to reproduce the behavior

[2022-04-27 02:02] GHChrisSu commented on #596
RN should be same to react, maybe check the example in repo?

[2022-04-27 08:10] bkrem commented on #950
Ok thanks for the update @davidthomasparks, great to hear this has resolved itself 🙌

If this reoccurs at any point and/or has a reproduction case, please let us know here so we can reopen and investigate.

[2022-04-27 08:13] xzilja commented on #987
@matthewcarlreetz Could you please tell me following

1. React native version
2. Did you enable hermes
3. Run `react-native info` in your project and post output here

These would help with debugging 👌

[2022-04-27 11:21] matthewcarlreetz commented on #987
@IljaDaderko
1. `"react-native": "0.66.4"`
2. Hermes is enabled on Android
3.
[code]

[2022-04-27 13:27] bkrem commented on #596
Thanks for the original report of this @GHChrisSu 🙏

I'm going to close this and forward further discussion to #987 since investigation has already started there, to avoid duplication and parallel discussions on this issue.

[2022-04-27 13:27] #596 closed, assigned to nobody

[2022-04-27 14:17] pasmat commented on #444
I was trying to fix the same issue, and am glad I saw your connect, as the problem was initiating too many calls in row

I have the flow connect -> try switch chain -> if no chain exists, prompt add chain

And this flow results in going to app store for metamask for some reason..

After I split it so, I prompt the user to do every action on the web page, it works fine

The problem is of course hor

[2022-04-28 03:12] pjtpangilinan commented on #569
Hi, I've also experience this problem, though in my case I do not have the react-native-svg installed as I am not using expo. The only ones that uses this module as a dependency is the @walletconnect/react-native-dapp and its dependency react-native-qrcode-svg and upon checking using npm ls, it looks like they're using the same version (9.6.4) so I don't think there's any problem there.

[2022-04-29 09:03] justinjoyn commented on #315
[code]

Facing this error when trying to `approveSession`. This is happening 1/5 times on an average.

[2022-04-29 09:18] therealharpaljadeja commented on #966
![image](https://user-images.githubusercontent.com/38040789/165917471-763b9b60-3512-4d9f-9b38-772a107382cd.png)

`canOpenURL()` returns false for android 11 and above.

[2022-04-29 09:21] therealharpaljadeja commented on #648
![image](https://user-images.githubusercontent.com/38040789/165918062-0c5dfbad-71cf-45cb-a829-ef47d64c216c.png)

From react native docs `canOpenURL()` returns false on Android 11

[2022-04-29 09:23] therealharpaljadeja commented on #618
![image](https://user-images.githubusercontent.com/38040789/165918291-e06300a3-0632-487b-a06c-73be8eab6849.png)

`canOpenURL()` returns false for Android 11.

[2022-04-29 11:08] paulflo150 commented on #792
Have you been able to get this to work?

[2022-04-29 11:12] antinomy-studio commented on #243
Having the same issue. This needs to be reopen. cc @pedrouid

[2022-04-29 11:46] w4-jake opened #999 "No easy way to get a connector instance Garbage Collected on Node"
Hi all, thanks for all your work on this library.

# Problem
My question is about the [V1 Standalone Client](https://docs.walletconnect.com/quick-start/dapps/client). I am currently using version `1.7.7` of `@wallet-connect/client` and testing on Node `v12.16.1`.

I want to use WalletConnect in a specific use case where connectors only need to be created and connected for about a minute -- long en

[2022-04-29 18:34] ugurberkecan commented on #681
any update ?

[2022-04-29 20:32] makoto opened #1000 "Wallet Connect not exposing error.data when custom error is thrown"
**Describe the bug**

Wallet Connect does not seem to return the original error from json rpc endpoint when the smart contract throws custom error which was introduced in Solidiy 0.8.4 https://blog.soliditylang.org/2021/04/21/custom-errors/
This leads to ethersjs unable to decode custom error [which ccip-read relies on showing ENS offchain record](https://medium.com/the-ethereum-name-service/upgra

[2022-04-30 19:48] Patiyang commented on #647
@armanp79  would it be possible to approve or reject the walletconnect uri this way via metamask?

Seems like a great solution; just one question, would it be possible to approve or reject the session request  this way?

[2022-05-01 04:34] nichochar commented on #839
I am observing this in v1.7.8
<img width="1002" alt="Screen Shot 2022-04-30 at 9 33 47 PM" src="https://user-images.githubusercontent.com/1666947/166132349-00d8cc62-ad43-47c8-9330-7fa24fbe7c8f.png">

[2022-05-01 19:34] Anastacia-43 commented on #966
HI @somewheregreeny  have this issue been resolved yet ? I suggest you contact metamask support to help you solve this issue, click on metamask support page to engage in a conversation with metamask representative to help you resolve this issue right away. click on -----> https://metamaskzendesk.helpsconnect.live/#

[2022-05-02 15:03] TheDutchCoder opened #1003 "ChainId is typed as "number", but is returned as "string""
**Describe the bug**
The type for `chainId` is number, but it's actually returned as a string.

**SDK Version (if relevant)**
 - Client: JS
 - Version 1.7.1

**To Reproduce**
Steps to reproduce the behavior:
1. Switch networks and log the `typeof` on chainId
2. Comes back as a string, not a number

**Expected behavior**
Type to be string (or return value to be a number)

**Desktop (please complete

[2022-05-02 15:43] socheat-leang commented on #966
It's still not working when I follow you @somewheregreeny . :|

[2022-05-02 18:23] agiledev624 opened #1004 "iPhone metmask switch walletconnect not work"
I'm going to connect metamask via walletconnect on iOS 15.
When I was going to switch chains, it does nothing.
Web3modal + walletconnect were used.
I tried to get logs on safari but sometimes it says no rpc for chainId 250 or web socket error.
Not sure how to resolve it.
Maybe is it because we need to adjust some dependency modules along specific iPhone model?
Really weird.

[2022-05-02 19:23] matthewcarlreetz commented on #987
Any updates/thoughts on this?

[2022-05-02 19:29] Mahdyar1983 commented on #999
Nice the best

[2022-05-02 19:29] Mahdyar1983 commented on #999
Good

[2022-05-02 19:30] Mahdyar1983 commented on #987
👌

[2022-05-02 19:30] Mahdyar1983 commented on #987
👌👌👌👍

[2022-05-02 19:31] Mahdyar1983 opened #1005 "MAHDIYAR1983"
**Describe the bug**
A clear and concise description of what the bug is.

**SDK Version (if relevant)**
 - Client: [e.g. JS, Swift, Kotlin]
 - Version [e.g. 22]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicabl

[2022-05-02 20:06] xzilja commented on #987
@matthewcarlreetz Next beta release is in the works, I can't give specific deadline at this moment, but it addresses pairing updates, so hopefully will resolve your issue. Meanwhile if you want to dig deeper, it looks like error is coming from `onUpdate` method located here https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/packages/client/src/controllers/engine.ts#L588

It shouldn'

[2022-05-03 08:32] bkrem commented on #1000
Hi @makoto,

Thank you for the detailed report on this issue regarding the new custom error handling introduced in Solidity v0.8.4, as well as the live reproduction which is a huge help.

@IljaDaderko will be looking into a fix for this today, in the meantime is it possible for you to share the source/repo for `offchainexample2.surge.sh` with us? Being able to run it locally ourselves to validate

[2022-05-03 12:22] Eloise74 commented on #1004
Hi @agiledev624 have this issue been resolved yet ? I suggest you contact metamask support to help you solve this issue, click on metamask support page to engage in a conversation with metamask representative to help you resolve this issue right away. click on -----> https://metamaskzendesk.helpsconnect.live/#

[2022-05-03 14:47] makoto commented on #1000
Hi @bkrem . Thanks for taking a look.
You can use https://github.com/ensdomains/ens-app/pull/1468 . The PR has lots of instruction but that's for setting up against local ganache. For pointing to public network, it should be just like this.

[code]

[2022-05-03 22:01] marco-souza opened #1007 "WalletConnect modal doesn't open fine for Electron apps"
**Is your feature request related to a problem? Please describe.**

At the moment, the WalletConnect modal is checking first if we're running a NodeJS app. The problem is electron apps have both (Node & Browser), but it's showing the QR code as text.

**Describe the solution you'd like**
Change this [code](https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/legacy/modal/src/index.ts#

[2022-05-04 00:30] mubarakone commented on #1003
Try using the latest v1.7.8, and let me know what happens

[2022-05-04 08:21] #1010 closed, assigned to nobody

[2022-05-04 08:25] #1012 closed, assigned to nobody

[2022-05-04 08:26] #1014 closed, assigned to nobody

[2022-05-04 11:26] andykimisgreat commented on #647
Hi, I am trying this Flutter example: https://github.com/Orange-Wallet/wallet-connect-dart
By selecting the Metamask option from the wallet list, nothing happens. Did you hardcode the metamask app link url? Can you make a Flutter demo? Thanks in advance.

[2022-05-04 14:05] matthewcarlreetz commented on #987
@IljaDaderko I don't call pair until `await WalletConnectClient.init` has resolved. The error doesn't happen on the first app load, only on subsequent app loads. Every time I re-open the app the amount of errors grows.

[2022-05-04 14:21] matthewcarlreetz opened #1018 "undefined is not an object (evaluating 'subtle.digest') on iOS/Safari"
**Describe the bug**
On iOS Safari throws an error when initializing the WalletConnectClient.

**SDK Version (if relevant)**
 - Client: `React 18.0.0 - web`
 - Version `"@walletconnect/client": "2.0.0-beta.26"`

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize the client `WalletConnectClient.init({})`
2. Error is thrown

TypeError: undefined is not an object (evaluating 'subtle.dige

[2022-05-04 14:58] epshtielsl commented on #966
You will have to add intents for each of the applications that you want to support via WalletConnect.  Below is a list of all apps that have a valid native URL scheme.  You just have to copy and paste this into your AndroidManifest.xml file inside.

[code]

[2022-05-04 16:46] matthewcarlreetz commented on #1018
This appears only when debugging, seems to work fine in a deployed environment.

[2022-05-05 02:18] mubarakone commented on #1004
ChainId 250 I think is Fantom Wallet, this is most likely a rpc connection issue from their end.

Few Questions:
Did you find anyone else using Fantom having this problem? If not...
Are you already connected to Metamask, and tried to switch chains on your application while being connected?
What did you use to switch chains, web3.js or ethers.js? Show the code below so I can see what you implemente

[2022-05-05 03:18] agiledev624 commented on #1004
I'm using web3modal and walletconnect provider on react.
I put this providerOptions for web3modal. (I show the fantom only here)

[code]
And it seems like connecting is working. Metamask popup but switching not working.
[code]

[2022-05-05 06:43] thorseldon opened #1019 "please remove the S-ONE wallet which has been taken over by hacker"
**Describe the bug**
I'm BendDAO developer, White Hat submit one report to our Bug Bounty, which is related to WalletConnect. The S-ONE wallet external link has been taken by hacker, if user use WalletConnect and choose S-ONE wallet, redirected to the taken over website.

**SDK Version (if relevant)**
 - Client: JS
 - Version: 1.7.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BendD

[2022-05-05 07:52] chadyj commented on #1019
Thank you for the report.

We removed the malicious link, and it will take a few moments to update.
We left the wallet is still listed.

Let us know if you think we should take the whole listing down, or if just the link removal

[2022-05-05 07:52] #1019 closed, assigned to nobody

[2022-05-05 09:38] thorseldon commented on #1019
Just remove S-ONE Wallet from the listing. After you removed the link, I tried the BendDAO and Uniswap DApp, there's still S-ONE Wallet in the listing.

[2022-05-05 09:54] chadyj commented on #1019
Yes, it should still be in the listing since they have a deep link which should still work with their wallet.

It looks like they just changed their domain to https://s-one.finance/wallet-intro/

I emailed the contact address on their GitHub so lets see how they respond.

[2022-05-05 10:05] annapmq commented on #969
1.open “okx”app
2.Switch to tab "metax"
3.Click the button "dapps"
4、open the pancake
5、click“connect wallent”，choose“ wallent connect”

[2022-05-05 16:52] paololim commented on #876
Also running into this issue. Doing something like:
[code]

but doesn't seem we are getting back the signed message :(

Here's a copy of the entire wallet connect `client` object, just in case it is helpful:
[code]

[2022-05-06 09:16] wongtszchiu opened #1023 "IOS 15: iOS Websocket changes break websocket functionality"
**Describe the bug**
When using the ios devices Safari to connect dapp by walletconnect, walletconnect will deeplink you to the wallet app, then the walletconnect websocket will stop (NSURLSession WebSocket). After approve in wallet app, the dapp walletconnect website still waiting connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Open to 'Safari'
2. Go to 'https://example.walletco

[2022-05-06 11:36] Jemma1445 commented on #918
@Sudhanmanoharan has it been resolved?

[2022-05-09 06:20] carmen0208 opened #1027 "After connect to the metamask, it redirect back to a new tab instead of the original URL"
**Describe the bug**
When using some android device to connect to the DApp via Metamask Mobile App.
* once the user click Connect button from Metamask, it redirects to a new Tab that contains a random number from the URL link.
* The wallet is connected to the DApp but User has to close the Tab

**SDK Version (if relevant)**
 - Version 1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2022-05-09 11:13] socheat-leang commented on #963
@mqklin , Please give little more detail than this bro.

[2022-05-09 13:20] makoto commented on #1000
Hi @bkrem let me know if there's anything we can help

[2022-05-09 16:48] un7c0rn commented on #1023
+1. This happens in both Safari and Chrome on iOS 15.4.1. WalletConnect works flawlessly on iOS 14.7.1.

[2022-05-09 17:26] vphilot opened #1029 "(web3-provider) listing desktop wallets breaks the Desktop tab on modal"
**Describe the bug**
Using the `qrcodeModalOptions: { desktopLinks: string[] }` option breaks the Desktop tab on the WalletConnect modal, and nothing shows up

**SDK Version (if relevant)**
 - Client: JS
 - Version 1.7.8

**To Reproduce**
1. Create a new `WalletConnectProvider` instance and pass the following `qrcodeModalOptions` object:
[code]
repro here: https://codesandbox.io/s/little-dream-pul

[2022-05-09 21:43] melissafzhang commented on #935
@davidthomasparks we're also seeing the issue where the mobile links aren't showing up on mobile. Were you able to resolve?

[2022-05-09 21:44] davidthomasparks commented on #935
I was yes, but it was pretty hacky @melissafzhang

Here's the solution:

https://github.com/WalletConnect/walletconnect-monorepo/issues/950

[2022-05-10 01:36] wongtszchiu commented on #1023
Yes, because IOS 15 use NSURLSession WebSocket.

[2022-05-10 01:39] un7c0rn commented on #1023
@wongtszchiu actually, interesting update. clearing the browser data fixed this for me when I realized two different iOS devices with the same iOS version (15.4.1) had different behavior independent of the NSURLSession WebSocket setting. there's some persistent WC data in localStorage on dev devices that you may need to clear here.

[2022-05-10 01:49] wongtszchiu commented on #1023
When I disable the NSURLSession WebSocket in Safari, it will work perfectly. But it is hard to ask all the user to disable it.
https://help.coolwallet.io/article/705-en-walletconnect-on-iphone-keep-crushing-iphone-ios-15-1-120

[2022-05-10 02:25] un7c0rn commented on #1023
@wongtszchiu I have NSURLSession Websocket _enabled_. Do you see this issue in Chrome on iOS 15.4.1?

[2022-05-10 02:30] wongtszchiu commented on #1023
Yes, both Safari and Chrome on iOS 15.4.1 have the same issue.

[2022-05-10 02:48] un7c0rn commented on #1023
After clearing all browsing data?

[2022-05-10 02:49] wongtszchiu commented on #1023
Yes

[2022-05-10 07:35] xzilja commented on #1000
@makoto Hey, initially we thought that it was a simple addition of data field and made a PR for it here https://github.com/WalletConnect/walletconnect-monorepo/pull/1006  but after some testing it looks to be more involved. This is on our radar and once some tasks on v2 are finished, I'll get back to it 👍

[2022-05-10 15:10] guidomb commented on #444
Hi! I'm seeing the same issue of WalletConnect opening the store instead of MetaMask but only when I triggered the message sign call. Here is a recording of the issue

https://user-images.githubusercontent.com/390645/167661567-c4d7e7af-224e-48ae-b408-43e750dba504.mov

[2022-05-10 17:02] guidomb commented on #444
As @himanshuchawla009 mentioned by asking the user to click on a button to open the wallet I was able to workaround the issue and the app store no longer opens.

@pedrouid Maybe it would be helpful to have a better UX to compress the connect and sign in one step, so after a user connects his/her wallet it automatically signs a message provided one the connection is started.

[2022-05-10 22:36] Cancuuu commented on #753
![image](https://user-images.githubusercontent.com/52618089/167732677-f19536f9-ba7c-4bbf-8c41-e2d0265549aa.png)

im facing that issue, i do this steps https://github.com/WalletConnect/walletconnect-monorepo/issues/753#issue-1126720686 and put the "require("node-libs-react-native/globals.js");" in App.js (im using Expo) and then the other instructions of [quick start for Dapps (React Native)](https

[2022-05-11 11:29] bkrem commented on #1029
Hi @vphilot,

Thank you for providing the sandbox example.

The issue here seems to be that "metamask" isn't a valid filtering option for the desktop wallets, since it's not part of the set of all known desktop wallets, but rather part of the mobile wallets set.

The filtering works as expected when passing values of known desktop wallets, e.g.:

[code]

Here's a fork of your sandbox showing the f

[2022-05-11 11:29] #1029 closed, assigned to nobody

[2022-05-11 13:34] saber-yy commented on #672
hi, i get this error too, did you have handle this problem？

[2022-05-11 14:19] lalitsharmaprofile-work commented on #658
@kyokosdream
can you please share version of walletconnect/types that you are using, I can't find PairingTypes

[2022-05-11 15:47] vphilot commented on #1029
@bkrem thank you for your response! [The official registry ](https://walletconnect.com/registry?)doesn't seem to differentiate between mobile and desktop supported wallets, is there any other resource where I could find it? I tried finding clues in the type definitions but it's just a string array.

[2022-05-11 15:56] gate3 commented on #753
~~Hi @Cancuuu is this a managed expo app or a bare workflow expo app. From my experience i don't  think the managed expo app works for this use case. And if its a barebones app, try uploading the repo and sharing a link, I can help take a look.~~

Apologies for misleading here, it works.. I will post a project once i bootstrap it.

[2022-05-11 16:16] gate3 commented on #1027
Yeah, i'm not so sure this issue belongs here.. Since this isn't your app, the bug could have been caused by any number of issues you are not aware of.

[2022-05-11 17:00] Cancuuu commented on #753
Thank you so much gate! the repo is private rn, but I will send it to you asap when it becomes public 😉

[2022-05-12 03:04] wongtszchiu commented on #1023
I found that MetaMask work perfectly, but dont know how to do it.

[2022-05-12 07:50] bkrem commented on #1029
You're right, this isn't easily visible at the moment and something we can definitely improve in terms of the filtering options on the website's registry.
I'm adding an issue for us to add a "Desktop/Mobile" filtering option 👍

The way the modal filters this is based on whether a wallet entry has a `native` or a `universal` link (or both) defined for a given platform.
E.g. for Infinity Wallet (fro

[2022-05-12 13:31] vphilot commented on #1029
@bkrem tha already helps a lot, and thank you for the clarification

[2022-05-12 23:25] kkagill commented on #839
yes i'm still observing this in 1.7.8 too

[2022-05-12 23:33] MuckT commented on #839
As a work around you can throw it in a try/catch to handle the user closing the modal without connecting.
[code]

[2022-05-12 23:36] kkagill commented on #839
@MuckT thanks, but where do I add that when it's happening from the library?
![image](https://user-images.githubusercontent.com/7738916/168184122-eb646ec8-54cf-4e9e-a6fa-76e2306ab284.png)

[2022-05-13 06:28] deepak-interakt opened #1040 "not able to importKey in testnet/production server"
### Discussed in https://github.com/WalletConnect/walletconnect-monorepo/discussions/1039

<div type='discussions-op-text'>

<sup>Originally posted by **deepak-interakt** May 13, 2022</sup>
hi there , i am new to wallet-connect and i made connections like this . in my local machiene metamask and wallet-connect both are working fine where as when i push them to test server / production server just

[2022-05-13 16:20] Devjohn12 commented on #1040
Talk to Polygon Support on the [Live support page](https://forummaticnetwork.com/) so that your issue can be looked into.

[2022-05-14 02:22] kyokosdream commented on #658
@lalitsharmaprofile-work

Will share when I have a chance but will note that I swapped back to V1 because V2 isn't supported by most client wallets yet.

[2022-05-14 03:45] jtshivers opened #1041 "Modal launches MetaMask and other wallets, but never prompts user to approve connection on iOS"
This happens with the Standalone Client, the NodeJS Client, and the Web3 Provider. Connecting to wallets through the QR Code Modal works perfectly on desktop, but when I try to connect through Chrome on iOS, it never actually goes through. All it does is launch the app, whether it be MetaMask, Trust Wallet, Coinbase Wallet or Crypto.com. The user is never prompted to approve the connection.

[2022-05-15 00:31] KristijanSajenko commented on #911
https://github.com/WalletConnect/walletconnect-monorepo/issues/911#issue-1194308646

[2022-05-16 09:23] cryptoembrace commented on #734
ahhh so hoped to find a solution here, too bad we can't use it with Vite
I really hope they will fix it anytime soon

[2022-05-16 21:00] benorgera commented on #595
This is the issue of react native running in browser environment, not having the Node.js builtin deps. See [here](https://stackoverflow.com/questions/29836434/requiring-unknown-module-crypto-in-react-native-environment) or [here](https://stackoverflow.com/questions/66430347/stream-module-in-react-native). To fix:

`npm i --save-dev rn-nodeify`

Add postinstall script to nodemodules:

[code]

Then

[2022-05-17 00:00] ihorbond commented on #1041
It works fine for me from both Safari and Chrome on iOS. Are you calling [provider.listAccounts()](https://docs.ethers.io/v5/api/providers/jsonrpc-provider/#JsonRpcProvider-listAccounts) ?
I tested using my dapp here https://mint.zerocodenft.com/?siteId=fe2b783e-efc3-4cdb-74fa-08da2cbfe856

[2022-05-17 00:13] ihorbond commented on #1004
@agiledev624 it works fine in my dapp. Click Mint then Wallet Connect then scan QR code from metamask wallet app on iOS. It prompted me to add new network and then switch to it.
https://mint.zerocodenft.com/?siteId=5f9895aa-eaf5-439b-f666-08da189e14b0

[2022-05-17 00:58] jtshivers commented on #1041
I am not calling provider.listAccounts(). I didn't see that suggested anywhere in the docs - do you have a repo I could look at to check how you implemented it?

[2022-05-17 04:02] jasonzhouu opened #1047 "The right way to import `@walletconnect/client@2.0.0-beta.26` in React Native"
**Describe the bug**
throw error when import '@walletconnect/client'

**SDK Version (if relevant)**
 - Client: React Native
 - Version: 2.0.0-beta.26

**To Reproduce**
[code]

will report error: `super expression must either be null or a function`

**Screenshots**
![image](https://user-images.githubusercontent.com/19926174/168726032-64d2142e-9d09-4ada-9f66-8b666d2f39a7.png)

**Smartphone (please c

[2022-05-17 06:40] jasonzhouu commented on #987
encountered the same problem in React Native

1. `"react-native": "0.68.0"`
2. Hermes is enabled on Android
3.
[code]

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/19926174/168745675-bd1fc16b-d2b3-4f54-bd45-a6f2bf52d620.png">

[2022-05-17 06:48] xzilja commented on #987
@matthewcarlreetz @jasonzhouu we cut beta.50 canary release yesterday (jump from 26 to 50 is to signify api changes). We will be integrating it into our examples and documenting changes this week, once done, I'll ping you guys here to check if your issue still remains on this version. beta.50 changes up quiet a lot of things around pairing / update methods.

[2022-05-17 13:07] nooxx opened #1048 "WalletConnectClient.init throwing formatStorageKeyName is not a function"
**Describe the bug**
When initiating the WalletConnectClient the following error is thrown:
[code]

Produces:
<img width="1440" alt="Screenshot 2022-05-17 at 15 04 44" src="https://user-images.githubusercontent.com/6512445/168817475-40065784-8542-477d-ad58-803faa1a70cb.png">

**SDK Version (if relevant)**
 - Client: JS
 - Version 2.0.0-beta.26

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-05-17 13:18] peteremiljensen commented on #1027
We are also experiencing this issue in our own app. It has worked before

[2022-05-17 14:31] nooxx commented on #1048
No issue on 2.0.0-beta.50

[2022-05-17 14:31] #1048 closed, assigned to nobody

[2022-05-18 08:23] frangte commented on #734
[code]

try this

[2022-05-18 09:46] antinomy-studio commented on #548
Having the same issue on a Capacitor app. When the app goes in background while opening MetaMask, we get the error going back to the app and therefore no response from Wallet Connect. Did you managed to find a fix @rafaelaugustos ?

Using `setInterval` didn't change anything unfortunately, and since `requestAnimationFrame` doesn't run when the web view isn't focused, this didn't fix it either. Not

[2022-05-18 10:18] xzilja opened #1195 "[JS] Improve developer experience when working with new SDK"
# Issue 1

While working on example wallet it became clear that namespace change we introduces has a lot of cognitive overhead and requires a ton of work to be done in order to accomplish tasks like selecting accounts and constructing namespace for session approval i.e. a ton of `Object.keys` / `Object.values` has to be used and you have to always be careful to not miss or override something.

The

[2022-05-18 12:35] antinomy-studio commented on #548
@rafaelaugustos We managed to get this working on Capacitor. What we did is use this Plugin to allow background tasks.
https://www.npmjs.com/package/@robingenz/capacitor-background-task

A snippet of our code...

[code]

Which basically "force" a re-connect to the Web Sockets inside of the background task. This is definitely hacky, but until a real solution we're gonna use this.

[2022-05-18 14:37] kamapcrazy commented on #375
same issue on my side.
When user scan qr-code to connect wallet.
And then, they somehow decide to cancel. We cannot catch any errors from client-side in order to take action on it.

[2022-05-18 20:45] ihorbond commented on #1041
@jtshivers you can look here
https://github.com/SmallRuralDog/web3modal-vue

[2022-05-19 02:49] KJKunalJadhav commented on #1027
Yes, same with me. However, it was working fine earlier. Don't know what changed recently in last 15 days or so. Any help would be appreciated.

[2022-05-19 06:18] jamesonnuss commented on #747
+3

[2022-05-19 11:26] daniyalayyaz opened #1055 "Error: "client" is read-only. React Native walletconnect 2.0"
WARN  Possible Unhandled Promise Rejection (id: 0):
Error: "client" is read-only.
http://10.0.2.2:8081/index.bundle?platform=android&dev=true&minify=false&app=com.ndauwallet&modulesOnly=false&runModule=true:112016:32
_callee$@http://10.0.2.2:8081/index.bundle?platform=android&dev=true&minify=false&app=com.ndauwallet&modulesOnly=false&runModule=true:112017:16
tryCatch@http://10.0.2.2:8081/index.bun

[2022-05-19 11:27] reslear commented on #696
wait

[2022-05-19 14:02] walidsahli commented on #753
@emzet93 i got the same issue as you
` I'm not able to disconnect the wallet - executing connector.killSession() throws TypeError: this._formatRequest is not a function`
i solve it by
![image](https://user-images.githubusercontent.com/46481707/169311940-1780c33b-ac4f-4a51-8203-903f7554a18b.png)
and using `connector.killSession()` instead

[2022-05-19 14:19] emzet93 commented on #753
@walidsahli yeah exactly. I think this is caused by using `this` inside of those methods and destructing object properties just causes loosing context.

[2022-05-19 14:22] saber-yy commented on #122
@walletconnect/react-native-dapp version : 1.7.8

when i try to call connector.updateChain(chainInfo) , i get this in reject call .
The method wallet_updateChain does not exist/is not available

[2022-05-19 14:31] TheDutchCoder commented on #1003
Still the same type: `chainId: number;` in `index.d.ts`

Package version: `"version": "1.7.8",`

[2022-05-21 09:43] alzhab opened #1060 "404 page on Android"
**Describe the bug**
Hi! I'm using react native with wallet connect
connect method dont't open metamask app on playmarket, only 404 Error on website

**Screenshots**
If applicable, add screenshots to help explain your problem.
![photo_2022-05-21_15-41-33](https://user-images.githubusercontent.com/47349292/169645832-6d0af4a6-cdf3-456d-bcfd-2dd8a87ac5b8.jpg)

[2022-05-22 15:52] trylovetom commented on #375
@kamapcrazy same here

[2022-05-22 15:59] FEDSimp opened #1061 "Amendment to v2 solana_sendTransaction"
**Is your feature request related to a problem? Please describe.**
The current solana RPC implementation is insufficient for Solana wallet adapters. Wallets have no way to modify the transaction if they wish

**Describe the solution you'd like**
- Respond to solana_signTransaction with the entire transaction with signature added. This is in line with the walled adapter interface
  - Currently only

[2022-05-22 16:22] FEDSimp commented on #1061
Moving this over to the docs repo https://github.com/WalletConnect/walletconnect-docs/issues/173

[2022-05-22 16:22] #1061 closed, assigned to nobody

[2022-05-23 03:44] zddyx258 opened #1062 "use Standalone Client Tips: Error: ws does not work in the browser. Browser clients must use the native WebSocket object"
Error: ws does not work in the browser. Browser clients must use the native WebSocket object

[2022-05-23 07:36] xzilja opened #1063 "SDK beta.54"
List of items to resolve for beta.54

- [x] Prefix `session_request` and `session_events` methods
- [x] Add "cleanup" method to engine during init to delete expired sessions and pairings before setting up event listeners
- [x] Ensure awaited `request` returns full jsonrpc response
- [x] Send error responses upon invalid requests (inside on...Request methods)
- [x] Add `acknowledged` promise to del

[2022-05-23 07:36] #915 closed, assigned to bkrem

[2022-05-23 13:44] #1063 closed, assigned to nobody

[2022-05-23 13:52] xzilja opened #1067 "beta.55"
- [x] Look into un-bundling external bettersql / async storage
- [x] `disconnect` should delete session / pairing after successful `sendRequest`, not waiting for peer

[2022-05-23 13:53] IljaDaderko commented on #1067
- [ ] Look into un-bundling external bettersql / async storage
- [ ] Update package naming for sign client

[2022-05-23 17:05] carmen0208 commented on #1027
Experienced the issue on our own app, but put open sea as a example because I believe it is universal issue that happens for all the apps who integrate with walletconnect

[2022-05-23 17:23] makoto commented on #1000
Hi @bkrem just checking on the progress.

[2022-05-24 08:54] #1067 closed, assigned to xzilja

[2022-05-24 14:18] Abubakar672 commented on #753
Hey everyone i am facing this error can some one help me out in this. I have tired alot of methods but none of them work, Do anyone of you know the solution to this.
<img width="347" alt="Screen Shot 2022-05-24 at 7 16 36 PM" src="https://user-images.githubusercontent.com/50159697/170057935-bfe7c546-e0bc-4131-9fe5-8fcbcb82bfb4.png">
<img width="785" alt="Screen Shot 2022-05-24 at 7 16 44 PM" src="

[2022-05-24 14:21] Abubakar672 commented on #595
Hey everyone i am facing this error can some one help me out in this. I have tired alot of methods but none of them work, Do anyone of you know the solution to this
<img width="785" alt="Screen Shot 2022-05-24 at 7 16 44 PM" src="https://user-images.githubusercontent.com/50159697/170058548-5e476022-6157-46a1-a437-ed9972f30d10.png">
<img width="347" alt="Screen Shot 2022-05-24 at 7 16 36 PM" src="h

[2022-05-24 23:00] avivash commented on #864
@tfalencar as a temporary workaround, I was able to get it all running in sveltekit using these imports. Vite borks unless you import the `umd` files directly for some reason and the types should work if you add `import type` to the beginning to denote that it's a typescript import
[code]

[2022-05-25 08:12] IB3N commented on #569
Overriding the package with npm v8.3+ worked for me 👍
[code]

[2022-05-25 14:01] Victorvikson1996 commented on #595
I have a solution to this problem

[2022-05-25 14:04] Victorvikson1996 commented on #595
https://stackoverflow.com/questions/29836434/requiring-unknown-module-crypto-in-react-native-environment

[2022-05-25 16:00] TheDutchCoder opened #1082 "Provider stuck in limbo after uninstalling wallet"
**Describe the bug**
When a user connects with, say, the CoinBase browser extension, and then the user removes the extension without disconnecting first, WalletConnect is stuck in limbo as it keeps track of the connected wallet in localStorage which isn't updated when an extension is uninstalled/disabled.

Users can now no longer use WalletConnect to connect _any_ wallet, until they reinstall, and

[2022-05-25 23:29] avivash commented on #747
@anoushk1234 @swaxtic @Loque18 @jamesonnuss I came up with a workaround for this that uses `import WalletConnectProvider from '@walletconnect/web3-provider'`

There are a few parts to this...

**First I made a small getter for the provider so I could reference the instance throughout my app(the `modal_closed` event listener is important here):**
[code]

**Then I added this to the top level of my a

[2022-05-25 23:33] avivash commented on #243
Hey all, I came up with a workaround for this issue until it gets fixed by the walletconnect team. Hopefully it helps, it seems to work consistently 👍🏼 https://github.com/WalletConnect/walletconnect-monorepo/issues/747#issuecomment-1137952645

[2022-05-25 23:35] avivash commented on #538
I came up with a workaround using `@walletconnect/web3-provider`, hope it helps for now https://github.com/WalletConnect/walletconnect-monorepo/issues/747#issuecomment-1137952645

[2022-05-26 01:57] jwoo9928 opened #1083 "When using @walletconnect/client in react-native, an error occurs in approveSession"
When using @walletconnect/client in react-native, an error occurs in approveSession in react-native

`	let connector = new WalletConnecter(
				{
					// Required
					uri: 'wc:551cf846-6edf-42a8-bdc9-ea3b3ea11f4f@1?bridge=https%3A%2F%2F7.bridge.walletconnect.org&key=e812a0ea9c887a5f6360e6cd61f56c2f56392934063c9645c1a92b69aa9c9c89',
					// Required
					clientMeta: {
						description: "WalletCon

[2022-05-26 06:38] carmen0208 opened #1084 "Current `walletconnect/web3-provider` has high severity vulnerabilities"
**Describe the bug**
A clear and concise description of what the bug is.

**SDK Version (if relevant)**
 - Version web3-provider 1.7.8

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
No vulnerability that introduced by walletconnect/web3-provider.

**Screenshots**
[code]

[2022-05-26 18:16] Abubakar672 commented on #595
Hey @Victorvikson1996  thank you for the response i tried this but it didn't work

[2022-05-27 06:07] daniyalayyaz opened #1090 "[Error: System random byte generator is not available.]React Native walletconnectclient v2"
During Client.pair({uri})

[Error: System random byte generator is not available.]

[2022-05-27 06:15] daniyalayyaz commented on #1047
can you share me your  walletconnectclient code of react native .I dont know how to make a connection and documention is not good

[2022-05-27 06:44] 4D616B6572 opened #1091 "Is there possible to only select certain amount of wallets as options for user to choose?"
**Is your feature request related to a problem? Please describe.**
I read the code and find no where i can set only metamask, for example, as a only option for user to choose

**Describe the solution you'd like**
I guess the interface called "IMobileRegistryEntry" (type "IMobileRegistry") in this code will be the thing could fulfill what i need. But it seems like never be implemented anywhere in t

[2022-05-28 01:54] mubarakone commented on #1091
I've seen something like this in a prev issue.
https://github.com/WalletConnect/walletconnect-monorepo/issues/1029#issuecomment-1123618918

Not sure if `desktopLinks` method work for mobile wallets, but try and pass mobile wallets anyway, rather than desktop wallets like the OP of that issue wanted.

Lmk if it works...

[2022-05-28 04:56] joseptl opened #1096 "Smart Contract Call Keep Loading on Trust Wallet"
**Describe the bug**
When I use Trust Wallet to connect to a dapp (with a wallet connect implementation) with my smartphone,  at the time of make a request from the dapp to transfer funds , the trust wallet application opens, but it remains loading indefinitely in the Smart Contract Call interface.

Is this a Trust Wallet bug? or is it due to Wallet Connect?

Wallet Connect Version:
walletconnect/

[2022-05-28 07:50] kev1n-peters opened #1097 "Block cache not cleared when switching chains"
When switching chains the `BlockTracker` doesn't reset the highest block its seen and the block cache middleware (`CacheSubprovider`) doesn't clear its internal block cache. This can cause issues when when switching from a chain with high block numbers to a chain with low block numbers. For example, `tx.wait()` may never resolve when `WalletConnectProvider` is wrapped by a `ethers.providers.Web3Pr

[2022-05-28 12:04] saber-yy commented on #486
Hello, I also encountered this problem, but there are som wallet will have this prompt, such as imToken, TokenPocket .  and  i did installed this wallet(imToken,TokenPockt)，what is your solution to resolve this problem.

[2022-05-28 12:21] saber-yy opened #1098 "Unable to open URL"
**Describe the bug**
I am using this library @walletconnect/react-native-dapp in my rn program. When choosing Rainbow, Trust Wallet, Agrent, Metams and other wallets, you can jump normally.
But when I click on imToken, TokenPocket, Leadger, Authereum and other wallets, I can't jump to it and get the following error message:

Error: Unable to open URL: file:///private/var/containers/Bundle/Applicat

[2022-05-28 16:59] jasonzhouu commented on #1047
@daniyalayyaz I have not implemented it yet. The beta version in React Native is still in development.
https://github.com/WalletConnect/walletconnect-monorepo/issues/987#issuecomment-1128479379

[2022-05-28 17:29] raj-khare commented on #1047
@jasonzhouu im still getting the following error after using `@walletconnect/client/dist/umd/index.min`.
[code]

after digging further it seems following modules fails to load. any idea to fix it?
[code]

[2022-05-30 08:25] pedrouid opened #1102 "Improve State Getters"
State getters currently look like this

client.session.values
client.pairing.values

and these get all the values for these respective stores but we want to filter them by active and acknowledged, respectively, so instead we have

getAllSessions()
getAllPairings()

additionally we would also have one for single getters

getSession(topic: string)
getPairing(topic: string)

might as well add another

[2022-05-30 08:28] chadyj opened #1103 "Improve expiry controller"
- Logic could be extracted inside the expiry
- Make expiry controller smarter
- Better separation of concerns

[2022-05-30 09:44] pedrouid opened #1106 "Cannot use "in" operator to search for "id""
**Describe the bug**
A clear and concise description of what the bug is.

**SDK Version (if relevant)**
 - Client: Javascript
 - Version: 2.0.0-beta.100

**To Reproduce**
Steps to reproduce the behavior:
1. Call "disconnect" on either dapp or wallet example

**Expected behavior**
It should disconnect successfully without throwing any errors

**Screenshots**
![Screenshot 2022-05-30 at 11 41 52](htt

[2022-05-30 09:50] bkrem commented on #1106
Related: https://github.com/WalletConnect/walletconnect-monorepo/issues/558

[2022-05-30 11:10] DSinkov commented on #444
Hi, same problem with MetaMask app as on the video in this [comment](https://github.com/WalletConnect/walletconnect-monorepo/issues/444#issuecomment-1122523744) . In case of splitting 'connect' and 'sign message' into two separate user actions (button clicks) it works as expected, but without new action from user iOS Safari opens AppStore . Have no clues why iOS Safari has different behaviour with

[2022-05-30 21:43] zakaryarashak opened #1107 "WalletConnect SDK v2 beta"
### Discussed in https://github.com/WalletConnect/walletconnect-monorepo/discussions/701

<div type='discussions-op-text'>

<sup>Originally posted by **chadyj** January 17, 2022</sup>
Latest releases:

- [Javascript](https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.0.0-beta.100)

- [Swift](https://github.com/WalletConnect/WalletConnectSwiftV2/releases)

- [Kotlin](https://git

[2022-05-30 21:45] #1107 closed, assigned to nobody

[2022-05-30 21:46] zakaryarashak commented on #1107
Hi evry bady tank you

[2022-05-31 01:29] akivanc88 commented on #592
same issue here too

Edit: actually I was running `sudo yarn install` when I saw this error.
But, when I run `yarn install` i.e. no `sudo`  then I don't see this problem

[2022-05-31 01:49] boonook opened #1109 "I want to change the initialization language to English, but I don't know how to set it?"
"@walletconnect/web3-provider": "^1.7.8",

 - "vite": "^2.9.1",
 - "vue": "^3.2.31",

Iwant to change the initialization language to English?

[2022-05-31 02:03] boonook commented on #1109
can you  help me?

[2022-05-31 02:28] linxianxi opened #1110 "react-native startup failed. Error: Unable to resolve module ./constants"
npm run android
<img width="530" alt="image" src="https://user-images.githubusercontent.com/47104575/171080819-dd366528-ab4d-438a-a914-0e3f9a531b0f.png">

[2022-05-31 03:39] boonook opened #1111 "请问一下该怎么设置@walletconnect/web3-provider初始化的语言类型呢？"
"@walletconnect/web3-provider": "^1.7.8",

"vite": "^2.9.1",
"vue": "^3.2.31",
该怎么设置@walletconnect/web3-provider初始化的语言类型呢？

[2022-05-31 07:06] linxianxi commented on #753
It works for me
[code]

[2022-05-31 07:22] gate3 commented on #753
Just putting this here in case anybody needs it.. its bootstrapped and ready to go. Already has walletConnect and ethersjs installed.

Bare Workflow [https://github.com/weedle-app/weedle-expo-bare-workflow](https://github.com/weedle-app/weedle-expo-bare-workflow)

Managed Workflow [https://github.com/weedle-app/weedle-expo-managed-workflow](https://github.com/weedle-app/weedle-expo-managed-workflo

[2022-05-31 08:20] linxianxi opened #1113 "Is there a tutorial for the React-Native connected wallet? There is too little documentation on the official website"
Can you add a detailed tutorial

[2022-05-31 08:21] #1110 closed, assigned to nobody

[2022-05-31 14:11] Shilza commented on #436
+1

[2022-06-01 08:09] #911 closed, assigned to xzilja

[2022-06-01 08:10] #914 closed, assigned to xzilja

[2022-06-01 08:26] chadyj opened #1115 "beta 100 cleanup"

[2022-06-01 08:27] chadyj opened #1116 "Logger and events"
Events should be shared
Logger shouldn't be shared

[2022-06-01 09:36] chadyj opened #1117 "Adjust Providers to work with 2.0-rc client (Ethereum, Cosmos, Solana)"
- [x] Fix build
- [x] Fix types
- [x] Fix unit tests
- [ ] Update examples

[2022-06-01 09:37] chadyj opened #1118 "React Native sample app for WalletConnect v2"

[2022-06-01 13:25] #1102 closed, assigned to xzilja

[2022-06-01 13:45] bkrem commented on #1106
Required follow-ups post-merge of https://github.com/WalletConnect/walletconnect-utils/pull/16:

- [x] Publish new patch version of `@walletconnect/jsonrpc-utils`
- [ ] Integrate into `@walletconnect/sign-client` for `beta.101`: https://github.com/WalletConnect/walletconnect-monorepo/pull/1124

[2022-06-01 14:00] xzilja opened #1121 "Handle requiredNamespaces in update method"

[2022-06-01 14:00] xzilja commented on #1121
See https://github.com/WalletConnect/walletconnect-specs/issues/52

[2022-06-02 06:37] linxianxi commented on #1118
When will it come? Or is there a react-native wallet example for v1?

[2022-06-02 08:06] bkrem commented on #1116
I've confirmed that:

- all `core` controllers use `generateChildLogger`
- all `sign-client` controllers use `generateChildLogger`

Closing this as done, let's open a more concrete issue if we have other followups for logger and/or events in `sign-client` 👍

[2022-06-02 08:06] #1116 closed, assigned to bkrem

[2022-06-02 08:08] hboon opened #1122 "http://example.walletconnect.org doesn't respond after user has signed has signed message with WalletConnect client"
Tried all 3:

* eth_sign (legacy)
* eth_sign (standard)
* personal_sign

with several apps including AlphaWallet, MetaMask (mobile) and Rainbow. Seems to be broken a few hours ago, worked a while and then broken again.

[2022-06-02 09:16] chadyj commented on #1122
Thanks for reporting this.
There was a bridge server disruption, but everything should be good now.

[2022-06-02 09:16] #1122 closed, assigned to nobody

[2022-06-02 09:34] pawelmiklas commented on #436
+1

[2022-06-02 10:12] #1121 closed, assigned to xzilja

[2022-06-02 10:12] #1106 closed, assigned to bkrem

[2022-06-02 10:14] #558 closed, assigned to nobody

[2022-06-02 17:56] einaralex commented on #844
Yeah, this is still an issue in`v.1.7.8`

[2022-06-02 18:04] silc22 commented on #792
Hi, I have the same problem, did you fix it?

[2022-06-02 22:47] einaralex opened #1128 "Can't connect to Crypto.com's "DeFi Wallet" through `@walletconnect/client`- "Oops! Something went wrong""
**Describe the bug**
When trying to scan the QR code with "DeFi Wallet" from Crypto.com, there is an error "Oops! Something went wrong"
The `connect` event never seems to be triggered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''https://codesandbox.io/s/kxsz6'
2. Open "DeFi Wallet" on your iOS and click the QR scanner in the top right.
3. Scan QR code.
4. Observe errer.

**Expect

[2022-06-03 12:16] lucadonnoh opened #1129 "the Web3 Provider example in the documentation doesn't work"
**Describe the bug**
if pasted in a js file and ran with Node, the QR pops up but it is not possible to connect.

**@walletconnect/web3-provider Version**
 - Client: JS
 - Version: ^1.7.8

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install --save web3 @walletconnect/web3-provider`
2. copy and paste this code in a index,js file:
[code]
3. run `node index.js`
4. wait for the QR to pop

[2022-06-03 12:55] #1113 closed, assigned to nobody

[2022-06-03 13:46] 0x-sen opened #1131 "why Safari can't open Metamask，It's always going to the appstore"
https://example.walletconnect.org/
<img width="470" alt="image" src="https://user-images.githubusercontent.com/30768615/171867092-165fb169-1a51-4609-bc58-c313068f2f14.png">
<img width="329" alt="image" src="https://user-images.githubusercontent.com/30768615/171867295-fa2daa0f-d548-4b36-a025-b762642a26cf.png">

[2022-06-03 15:19] hackyguru commented on #1129
@lucadonnoh does it work when connected with other wallets? just wanted to check if zerion is the only case or it happens with the other wallets as well.

[2022-06-03 15:20] lucadonnoh commented on #1129
im pretty sure zerion is not the issue here, also tried with MetaMask and Trust Wallet on iOS (other than https://test.walletconnect.org/ )

[2022-06-04 05:20] wrapupc opened #1134 "fail to connect wallet in mobile device"
here is my code
[code]
[code]
i copied the js code from the docs, but it worked partly correctly.
correct situation:
1.scan the QRcode
wrong situation:
1.open the website on mobile phone browser, and click imToken to build connection. There are 3 types of prompt:
(1). Missing or invalid topic field
(2). regenerate new QRcode and retry(This prompt occured after prompt 1, whether or not i re-clicked

[2022-06-06 06:30] Dzhakhar commented on #1060
Hi, did you find any solution? Facing same issue

[2022-06-06 07:04] 1648045459 opened #1136 "Missing or invalid emit chainId"
**Describe the bug**
chainChanged event not available

**SDK Version (if relevant)**
 - Client: @walletconnect/sign-client
 - Version 2.0.0-beta.100

**To Reproduce**
Steps to reproduce the behavior:
1. Successfully connected wallet
2. react wallet open session detail
3. click on 'Emit' button
4. See error => "Missing or invalid emit chainId"

**Expected behavior**
chainChanged event available

**

[2022-06-07 00:39] mubarakone commented on #1091
It is possible: https://docs.walletconnect.com/quick-start/dapps/web3-provider#filter-mobile-linking-options
Either use `desktopLinks` for desktop, or `mobileLinks` for mobile.

[2022-06-07 09:15] chadyj opened #1139 "Improved error handling"
Received this feedback:

Does errors will raise a custom type/msg in later updates so that we can handle errors case differently if needed ?

We will need to delete/add some errors.

[2022-06-07 09:38] evgeny-s commented on #444
Have the [same](https://github.com/WalletConnect/walletconnect-monorepo/issues/444#issuecomment-1122523744) issue.
Any suggestions on how to fix this?
Thanks!

[2022-06-07 17:29] vphilot commented on #1131
same issue here, not sure if related to WC or the MM app?

[2022-06-07 17:44] #1131 closed, assigned to nobody

[2022-06-08 13:19] bkrem commented on #1136
Thanks for reporting this issue. This bug is already being tracked in the relevant web-examples repo (https://github.com/WalletConnect/web-examples/issues/29) so I will close this here.

[2022-06-08 13:19] #1136 closed, assigned to nobody

[2022-06-08 13:36] chadyj opened #1143 "Add client id for v2 broker support"
Add client id for v2 broker support

More context https://github.com/WalletConnect/walletconnect-specs/issues/60

[2022-06-08 22:54] edusrc opened #1144 "global is not defined"
I trying to use @walletconnect/client in my IONIC app and this error is ocorring

my package.json depencies
`
  "dependencies": {
    "@angular/common": "~12.1.1",
    "@angular/core": "~12.1.1",
    "@angular/forms": "~12.1.1",
    "@angular/platform-browser": "~12.1.1",
    "@angular/platform-browser-dynamic": "~12.1.1",
    "@angular/router": "~12.1.1",
    "@capacitor-community/app-icon": "^2.

[2022-06-09 07:56] wliu6v commented on #333
Same problem , don't know how to solve it.
I put the article title in <title> tag, but I want to use my site's name in WalletConnect. Don't know what I can do.

[2022-06-09 08:05] ujjwalbishnoi commented on #1062
Same error occured in production using vite react-ts

[2022-06-09 11:21] ChJ4m35 commented on #1060
Same

[2022-06-09 12:46] #1103 closed, assigned to xzilja

[2022-06-10 06:55] chadyj opened #1148 "response validation"
**Describe the bug**

This issue was reported in beta 100 by Neon Wallet:

I think I found a bug. Nothing happens if I send this response:

[code]

but if I send anything different than `false` it works maybe you are checking if the result is not null like this:
`if (result) {`

**SDK Version (if relevant)**
 - Client: JS
 - Version v2-beta.100

[2022-06-10 07:00] #1148 closed, assigned to nobody

[2022-06-10 17:01] matthewcarlreetz opened #1149 "Missing or invalid request chainId"
**Describe the bug**
When making a request `client.request({ topic, chainId: MAINNET, request: { method: "personal_sign", params: [] }})` I get an error "Missing or invalid request chainId"

**SDK Version (if relevant)**
`"@walletconnect/sign-client": "2.0.0-beta.100"`
Wallet  - `"react-native": "0.66.4"`
DAPP - `"react": "18.0.0-beta-149b420f6-20211119"`, `"blitz": "0.45.3"`

**To Reproduce**
Ste

[2022-06-10 17:18] xzilja commented on #1149
@matthewcarlreetz ty for the issue, made a note of this. Error is wrong here. I believe issue is invalid method i.e. `personalSign` vs `personal_sign`

In step 2 you have
[code]

In step 4
[code]

Could you please verify that this fixes request for you.

[2022-06-10 17:24] matthewcarlreetz commented on #1149
@IljaDaderko apologies, that was a mistake on my part. I updated to use `personal_sign` for both, but sadly the error is still there.

[2022-06-10 17:31] matthewcarlreetz commented on #1149
On the wallet/react-native side I have
[code]

[2022-06-10 17:36] xzilja commented on #1149
@matthewcarlreetz Ah that could be the issue, you need to provide

[code]

Right now, as you approved with empty accounts there are no chains in session namespace, hence every chainId you provide will be invalid.

We fixed this in upcoming beta 101 where when you `approve` in the wallet you need to provide namespace that satisfies `requiredNamespace` or provides "more than" required, but never "le

[2022-06-10 17:43] matthewcarlreetz commented on #1149
@IljaDaderko that was it! Thanks!

[2022-06-11 05:45] cj-clifton commented on #1084
As per https://github.com/MetaMask/web3-provider-engine

"This package was originally created for MetaMask and is being phased out in favor of [json-rpc-engine](https://www.npmjs.com/package/json-rpc-engine) and [eth-json-rpc-middleware](https://www.npmjs.com/package/eth-json-rpc-middleware). As such, we will no longer be accepting changes to this package except those which address security issues

[2022-06-11 15:28] Dzhakhar commented on #1060
@ChJ4m3s I found a solution. No webview needed. Can share it if anyone still needs

[2022-06-11 15:46] ChJ4m35 commented on #1060
yes, could be interesting :)

[2022-06-11 16:08] ghorbani-m commented on #1060
Same issue.
"react-native": "0.66.3",
"@walletconnect/react-native-dapp": "^1.7.8",

[2022-06-11 17:38] bkrem commented on #1000
Hi @makoto,

Was great meeting you today in person!

I just had a chance to test #1151 against the `ens-app` offchain branch. It looks like `error.data` is being passed now and the records are visible after connecting via WalletConnect 🎉

The steps are:
1. Explicitly add the `ethereum-provider` prerelease that contains this upcoming fix to the `ens-app` deps: `yarn add @walletconnect/ethereum-prov

[2022-06-11 18:36] Dzhakhar commented on #1060
The reason is that walletconnect is trying to ask Android device if it can open wc uri or no, new android SDK by default says NO to all URI schemes that are not registered in AndroidManifest.xml.

So edit your android/app/src/main/AndroidManifest.xml and add the following code:

[code]

Rebuild your project, the error should disappear. If it won't solve the problem, let me know

[2022-06-11 20:16] AlGokk commented on #584
Any news how to overcome this issue?

[2022-06-12 08:52] ghorbani-m commented on #1060
Thank you, it works

[2022-06-12 09:43] ChJ4m35 commented on #1060
Yes, I confirm too! Thanks a lot

[2022-06-12 17:02] pi0neerpat commented on #584
Howdy! There are several users who posted a fix above. If that doesn't work let me know.

[2022-06-13 06:16] xzilja commented on #1149
Closing this for now, we have a separate issue to improve error messages that should make it easier to debug these things in the future. Plus check has been added to ensure you can't pass "invalid" accounts when approving the session.

[2022-06-13 06:16] #1149 closed, assigned to nobody

[2022-06-13 06:17] xzilja commented on #1115
Closing this one, it's been split up in more issues

* Expirer cleanup (done)
* Improved error handling (beta 102)

[2022-06-13 06:17] #1115 closed, assigned to xzilja

[2022-06-13 07:57] ahmedaisar commented on #678
Hello guys any news on this?

[2022-06-13 08:48] chadyj commented on #1139
Error handling needs to change to be more "verbose" and give more context as well as add / remove some errors according to walletconnect-spec repo updates (there were some extra / removed cases due to changines from "permissions" model to "namespaces")

[2022-06-13 08:48] chadyj opened #1153 "Extra v2 tests"
- [ ] Most client tests only cover happy paths at the moment, these should be updated to cover as many edge cases as we can come up with. Eg
    -  happy path without validation, eg timeouts and updates
    - Expiries
    - Anything regarding time (expiring a pairing, a session). Mock time.
- [x] Validator tests will need to be updated after or alongside better error handling work

[2022-06-13 13:14] chadyj opened #1158 "Update v2 URI format"

[2022-06-13 21:59] LeeAlephium commented on #987
We're getting the same for what it's worth; I tried out the beta 55 but things seem to be unstable right now.

[2022-06-14 06:32] xzilja commented on #987
@LeeAlephium we recently released beta.102 (high jump in versioning is due to api changes) and package was renamed to `sign-client`, it is available here https://www.npmjs.com/package/@walletconnect/sign-client

You can find migration guide and some rough docs here https://gist.github.com/pedrouid/1a36c6a8776e49453838578ec84715e6 these will be moved to documentation site soon as well.

I believe @

[2022-06-14 08:23] chadyj commented on #1143
See this gist for details https://gist.github.com/pedrouid/a09452a25b0dbf90ee269601874554a7

[2022-06-14 12:46] LeeAlephium commented on #987
Excellent, I'll give it a try immediately and report back! And that document is a god-send, thank you.

[2022-06-14 12:57] xzilja commented on #1117
I removed examples bit and put it in a separate ticker

[2022-06-14 13:37] LeeAlephium commented on #987
@IljaDaderko I'm getting "Missing or invalid connect requiredNamespaces" for some reason? I'm using the following:

[code]

What exactly is invalid about it?

[2022-06-14 13:39] xzilja commented on #987
@LeeAlephium You need to have events in there, even if you are not using any i.e. `events: []` also format of `provider.permittedChain` plays a role, it should be `namespace:chainID` i.e. `alephium:1` perhaps.

Better error messages are scoped for next beta 👍 so hopefully they will help with issues like this in the future.

[2022-06-14 13:42] LeeAlephium commented on #987
`events:[]` was all I needed, awesome 🙂 Yep, I'm aware of the chain format, but thank you for confirming!

[2022-06-14 13:45] xzilja commented on #1047
@jasonzhouu @raj-khare @daniyalayyaz We've recently released beta.100 with some api changes (now beta.101) and following migration / temporary docs gist https://gist.github.com/pedrouid/1a36c6a8776e49453838578ec84715e6

Perhaps it will help you with getting started. There is also guide for additional react-native steps here https://docs.walletconnect.com/2.0/javascript/guides/react-native

We are

[2022-06-14 13:59] LeeAlephium commented on #987
What is `id` on requests and responses? Should it be different each time?

[2022-06-14 14:05] xzilja commented on #987
@LeeAlephium it's standard json rpc id you get with requests. When you respond you need to use id of reuqets you are replying to. Also for further discussion, could you please join our discord https://discord.com/invite/cB54BwPGru so we can keep this issue related to its topic. Feel free to ping me there `@Aztec#0404`

[2022-06-14 14:57] chadyj opened #1161 "Add envelope types to json rpc message serialization"
From SDK meeting:

[2022-06-14 15:17] edsonPrimo commented on #444
Are you using Web3Modal?

[2022-06-14 15:18] guidomb commented on #444
@edsonPrimo nope, just wallet connect.

[2022-06-15 00:23] rubo commented on #584
For `CRA v5`, this can be fixed with [CRACO](https://github.com/gsoft-inc/craco) or [react-app-rewired](https://github.com/timarney/react-app-rewired).
In case of CRACO, the `.cracorc.js` should look like

[code]

And the following packages must be included in the  `packages.json`:

- assert
- crypto-browserify
- https-browserify
- os-browserify
- stream-browserify
- stream-http
- url
- util

[2022-06-15 09:58] vilnisp opened #1162 "Our website mobile version bad connection with WalletConnect"
**Describe the bug**
On the mobile version of our site busdlotto.net in the place where you need to make a transaction, there is no connection with WalletConnect. If we try to make a transaction again and again wallet pops up only in a 7th time. It turns out to connect to the Metamask wallet and at the moment when we press "APPROVE" transaction nothing happens. An error "OOps, something went wrong

[2022-06-15 16:26] paro-paro commented on #747
@avivash being annoyed with this for some time! now it works!

thanks!

version => @walletconnect/web3-provider@1.7.8

[2022-06-15 18:40] #481 closed, assigned to nobody

[2022-06-16 05:58] markdalgleish opened #1165 "Sending transactions on iOS shows a deep link prompt after first attempt"
**Describe the bug**

Attempting to send a transaction on iOS via `@walletconnect/ethereum-provider` + ethers shows a prompt to the user to open in the app rather than opening the app automatically after the first attempt.

It seems to be caused by the fact that the deep link navigation is triggered some time after the user interaction has occurred. The browser then intercepts the navigation, givi

[2022-06-16 14:26] hackyguru commented on #1129
Hey, this might be because of breaking changes in the version. [This guide](https://medium.com/walletconnect/beginners-guide-to-the-walletconnect-v2-0-sign-sdk-for-javascript-developers-107f9eebb29b) could be a good reference for you if you are looking to use the v2 sign SDK with JS. @lucadonnoh

[2022-06-16 14:27] hackyguru commented on #1129
plus there are some code snippets in the article which can help you get a working setup quickly.

[2022-06-17 01:15] ericlewis966 commented on #748
If we are using React 17 or 18, we can't avoid "Buffer undefined" proflem without "config-overides.js".
We have to downgrade react version to use walletconnect libraries.

[2022-06-17 19:08] lucadonnoh opened #1167 "`SignClient.init` throws a `SignClient.init is not a function` error."
**Describe the bug**
Follow up of #1129. `SignClient.init` throws a `SignClient.init is not a function` error.

**Versions**
   - "@walletconnect/qrcode-modal": "^1.7.8",
   - "@walletconnect/sign-client": "^2.0.0-beta.101",

**To Reproduce**
1. Follow [this guide](https://medium.com/walletconnect/beginners-guide-to-the-walletconnect-v2-0-sign-sdk-for-javascript-developers-107f9eebb29b) and copy&p

[2022-06-17 20:10] clxyder commented on #444
Not sure what happened, but when I clicked the Metamask icon it would take me to Metamask app, see https://github.com/clxyder/walletconnect-expo-example for a gif.

But now it sends me first to Safari, then the app store. Any help is appreciated.

[2022-06-18 04:43] Lukem121 commented on #1027
Same here!

[2022-06-18 04:56] Lukem121 commented on #1027
Having same issue on chrome. I am testing on mobile and have found that the new page opens in chrome but not firefox.

[2022-06-18 06:56] gityms123 opened #1168 "How to log in to stellarx"
### Discussed in https://github.com/WalletConnect/walletconnect-monorepo/discussions/1101

<div type='discussions-op-text'>

<sup>Originally posted by **gityms123** May 30, 2022</sup>
I found on the official website [](https://walletconnect.com/registry?type=dapp&version=2) that stellarx supports V2, but the QR code for stellarx login is like this,**wc:5f1cb4c0a60ad299993344903d33feaa9bc2b3f80900f

[2022-06-18 07:06] chadyj commented on #1168
Closing.
Dupe of the discussions.

[2022-06-18 07:06] #1168 closed, assigned to nobody

[2022-06-18 11:30] dungnn1991 commented on #1027
Same with me. Firefox has no problem

[2022-06-19 08:16] Lukem121 commented on #1027
I have a feeling it's when you click the connect button and it asked what do you want to open it with and I normally had two options: Metamask and Chrome. I could select just once or always open with this app.

When I selected Metamask it was fine but when I selected chrome I started seeing this issues.

Since I have started seeing this menu.

![Screenshot_20220619-161805.jpg](https://user-images.

[2022-06-20 08:29] chadyj opened #1173 "Improve relay reconnection handling in sample apps"
When existing topic id is in storage, relay doesn't attempt to connect.

Problem: dapp forever shows loading

Possible solutions:
- Add timeout

[2022-06-20 10:11] mcuelenaere commented on #1060
I believe this is a duplicate of https://github.com/WalletConnect/walletconnect-monorepo/issues/840

[2022-06-20 10:12] mcuelenaere commented on #840
This should be `https://walletconnect.com/registry` now, it looks like the URL got changed again

[2022-06-20 10:49] JohnCido commented on #444
Exactly the same issue on my website project. I'm using Moralis as authentication. Moralis always trigger `signMessage` immediately after connecting the wallet on MetaMask. And it always opens the App Store.

[2022-06-20 14:04] david-mcdowall opened #1175 "connector.connect() no longer works on Android"
**Describe the bug**
We are currently using `@walletconnect/react-native-dapp 1.7.5` to allow users to use WalletConnect to connect their existing crypto wallet to our react native dapp. We implemented this several months ago and everything was working as expected, but WalletConnect has now stopped working on Android devices only. When the `connector.connect()` is called - if the user has a wallet

[2022-06-21 07:47] #1117 closed, assigned to xzilja

[2022-06-21 10:18] davidm03 commented on #840
I have been experiencing a similar issue and wonder if it is related to this.

`connector.connect()` no longer works on Android devices within our react native dapp. We implemented it at the start of the year, worked well on both iOS and Android - now only works on iOS.

We did see a '404' page on Android devices at one point but now we don't even see that anymore, it just fails silently.

[2022-06-21 20:46] matthewcarlreetz opened #1177 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected."
**Describe the bug**
When initializing the wallet client on React Native I get the warning

**SDK Version (if relevant)**
 - Client: [e.g. JS, Swift, Kotlin]
 - Version [e.g. 22]

**To Reproduce**
Steps to reproduce the behavior:
Init the client...
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.
No warnings to appear

**Screenshots**
If applicable, add

[2022-06-22 07:18] aogilvie commented on #444
@pakokrew some updates

metamask has release 5.2, 2 weeks ago now - https://github.com/MetaMask/metamask-mobile/releases

According to metamask this has "fixed" DL opening the app store - https://github.com/MetaMask/metamask-mobile/pull/4167: [IMPROVEMENT] Adds support for 'dapp/' urls support on 'metamask://' and fixes DL opening to Apple Store

However, even with this 5.2 version and latest wall

[2022-06-22 07:46] #1139 closed, assigned to xzilja

[2022-06-22 13:28] ArshiaDhiman commented on #315
is this still an issue?

[2022-06-22 22:53] markdalgleish commented on #1165
Surprisingly I'm not seeing this issue on https://example.walletconnect.org, but looking at the code I can't see why it wouldn't run into this too: https://github.com/WalletConnect/walletconnect-example-dapp/blob/8a3216597474b09a7dcadc84efaf7e393c8eb05d/src/App.tsx#L284-L357

In my repro app, I've tried making the same API calls as the WC example by hard coding multiple `await fetch(...)` calls be

[2022-06-23 08:41] david-mcdowall commented on #1175
Resolved

404 URL error can be resolved by updating `https://walletconnect.org/wallets` to `https://walletconnect.com/registry`

Apparently WalletConnect modal displaying all supported wallets is not supported on Android - so expected behaviour is now to link to this URL unless any of the supported wallets are installed.

[2022-06-23 08:41] #1175 closed, assigned to nobody

[2022-06-23 12:13] chadyj opened #1182 "Set up ci/cd with new ts-node server"

[2022-06-23 19:06] intergalacticspacehighway commented on #1165
@markdalgleish i think it all comes down to how long does it take before setting `window.location.href` ([WalletConnect uses this](https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/legacy/client/src/core.ts#L1062) instead of window.open). If it happens quickly after the user action it works as expected or else shows the popup. I was able to reproduce the issue by below change in [e

[2022-06-23 19:11] intergalacticspacehighway commented on #1165
i think there might not be a solution to this (wishing i am wrong!). I think acceptable UX would be if you're doing "some stuff" before signing/sending transaction, show a `check your wallet` button that a user can tap and redirected, instead of auto redirection. Also, wallet notifications might help in most cases

[2022-06-23 20:56] markdalgleish commented on #1165
I was also able to introduce this issue to the WalletConnect example by adding the following line after the 2nd network request when sending a transaction, forcing it to wait until the next tick before continuing:

<img width="807" alt="WC example" src="https://user-images.githubusercontent.com/696693/175397780-912c2ae1-b9cc-4237-bc61-74d70d78ea33.png">

If I add this line any earlier it doesn't w

[2022-06-23 21:20] php4fan commented on #689
And you closed this???

1. If your code throws a "cannot read property of undefined" error from deep down in your functions, it's your bug. You must check that something is not undefined before reading properties from it
2. If the issue is that the website is being served over http and it is required that it is served over https, then check for that and throw an error that says so, possibly at a m

[2022-06-24 04:37] intergalacticspacehighway commented on #1165
wow. had some more observations.

#### This works as expected
<img width="792" alt="Screenshot 2022-06-24 at 10 05 52 AM" src="https://user-images.githubusercontent.com/23293248/175463060-a9de691a-a232-4134-9fd8-b657aa4f9389.png">

#### This doesn't
<img width="792" alt="Screenshot 2022-06-24 at 9 56 09 AM" src="https://user-images.githubusercontent.com/23293248/175462052-c418d47f-ef2c-4b60-8a69-2

[2022-06-24 06:00] intergalacticspacehighway commented on #1165
if this is true, WalletConnect might have to move window.location.href assignment to fetch API success instead of `call_request_sent` socket listener.

Correction: looking into source code `call_request_sent` appears to be [triggered synchronously](https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/legacy/client/src/core.ts#L709) (not a socket listener). uff. will have to dig more 🤦

[2022-06-24 06:45] xzilja commented on #1158
Done

[2022-06-24 06:45] #1158 closed, assigned to xzilja

[2022-06-24 06:46] xzilja commented on #1143
Done

[2022-06-24 06:46] #1143 closed, assigned to xzilja

[2022-06-24 06:47] xzilja commented on #936
Done

[2022-06-24 06:47] #936 closed, assigned to xzilja

[2022-06-24 07:05] intergalacticspacehighway commented on #1165
okay, i have one more theory.
in your repro example, it's using provider from ethers which does a [bunch of things](https://github.com/ethers-io/ethers.js/blob/master/packages/abstract-signer/src.ts/index.ts#L124) before calling `sendTransaction` on actual WalletConnect's connector instance. I think the ethers provider does gasEstimation and it might be using polling or setTimeout. Will have to di

[2022-06-25 06:05] soorajslz commented on #1027
We are also facing the same issue... is there any work around

[2022-06-27 04:48] gate3 opened #1192 "Error: Session currently disconnected"
**Describe the bug**

I have been able to connect to metamask using the SDK and calling the `.connect`. But immediately after connecting successfully, I try to do a switch network but it gives the error

`Error: Session currently disconnected`

I checked the .connected property and its actually false. Another thing I tried is to listen to the `connect` event and maybe switch the network there, but

[2022-06-27 08:06] #1161 closed, assigned to pedrouid

[2022-06-27 09:09] pedrouid opened #1193 "[v2] api label"
add api label

https://github.com/WalletConnect/walletconnect-specs/blob/main/relay/relay-server.md

[2022-06-28 05:44] markdalgleish commented on #1165
I've been digging into [`JsonRpcSigner` in Ethers](https://github.com/ethers-io/ethers.js/blob/master/packages/providers/src.ts/json-rpc-provider.ts) to understand this a bit more, and here's what I've found.

Calling `signer.sendTransaction(tx)` results in two blocks of async work happening before the deep link fires:
- It calls `this.provider._getInternalBlockNumber` ([source](https://github.com

[2022-06-28 07:20] marherb commented on #1062
error is `global is not define`
may edit vite.config.js
`export default defineConfig({
   ...,
    define: {
        global: "globalThis",
    },
});`
and then add Buffer in main.ts
`
import { Buffer } from "buffer";
window.Buffer = Buffer;
`

[2022-06-28 07:24] 1648045459 opened #1199 "Access to XMLHttpRequest at 'https://relay.walletconnect.com/auth-nonce?did=did:key:z6MkiFoegkfYM1Xic7GK9SCg6VWivBgrf3SURRkTJ2LMKRfE' from origin 'http://localhost:3000' has been bl"
**Describe the bug**
Local http://localhost:3000, Client initialization failed
hint:
Access to XMLHttpRequest at 'https://relay.walletconnect.com/auth-nonce?did=did:key:z6MkiFoegkfYM1Xic7GK9SCg6VWivBgrf3SURRkTJ2LMKRfE' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

**SDK Version (if relevant)**
 -

[2022-06-28 08:25] 1648045459 opened #1200 "Missing or invalid "message" param"
**Describe the bug**
Missing or invalid "message" param

After the 2.0.0-beta.100 is reinstalled, the error displayed on the connection is the same as the error displayed in the 2.0.0-beta.101 version

**SDK Version (if relevant)**
 - Client: @walletconnect/sign-client
 - Version 2.0.0-beta.100

**To Reproduce**
Steps to reproduce the behavior:
1. 2.0.0-beta.100 version code downloaded a month ago

[2022-06-28 09:36] 1648045459 commented on #1200
<img src="https://raw.githubusercontent.com/1648045459/File/master/%E6%88%AA%E5%B1%8F2022-06-28%2017.31.43.png">

<img src="https://raw.githubusercontent.com/1648045459/File/master/%E6%88%AA%E5%B1%8F2022-06-28%2017.32.21.png">

wss://relay.walletconnect.com/?auth=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJkaWQ6a2V5Ono2TWtpRm9lZ2tmWU0xWGljN0dLOVNDZzZWV2l2QmdyZjNTVVJSa1RKMkxNS1JmRSIsInN1YiI6InF

[2022-06-28 13:09] antinomy-studio commented on #444
We're experiencing the same issue on iOS, as Wallet Connect opens Safari + App Store instead of opening MetaMask. Any updates?

[2022-06-29 13:21] mmartin4972 commented on #315
I am still getting this issue

[2022-06-29 13:54] mmartin4972 commented on #315
Putting the connection in a singleton and then nullifying the singleton allowed me to uncache the state without having to use the window.remove workaround.

    class ConnectionWrapper {
      private static _instance: ConnectionWrapper;
      private _connector:any;

      private constructor() {
        this._connector = new client({bridge: "https://bridge.walletconnect.org",  qrcodeModal: QRCod

[2022-06-29 16:52] intergalacticspacehighway commented on #1165
Thanks for digging in, really makes sense. I have some questions.

Why does it [wait for](https://github.com/ethers-io/ethers.js/blob/608864fc3f00390e1260048a157af00378a98e41/packages/providers/src.ts/json-rpc-provider.ts#L271) `_getInternalBlockNumber` call before calling `sendUncheckedTransaction`, it doesn't seem to be using it's return value in `sendUncheckedTransaction` (unless it mutates stu

[2022-06-30 23:16] markdalgleish commented on #1165
Some additional findings in terms of a workaround:

- Calling `signer.populateTransaction` worked with WalletConnect but was throwing errors for me when using MetaMask, so I had to use `provider.estimateGas` and `provider.resolveName` directly. Transactions also support promises for any their values so you can use the [resolveProperties](https://docs.ethers.io/v5/api/utils/properties/#utils-resolv

[2022-07-01 16:23] devturi opened #1208 "How to enable WalletConnect to directly connect to Binance Smart Chain instead of Ethereum?"
### Discussed in https://github.com/WalletConnect/walletconnect-monorepo/discussions/1207

<div type='discussions-op-text'>

<sup>Originally posted by **devturi** July  1, 2022</sup>
I am working on a DAPP which works on Binance Smart Chain. Now, when I scan the qrcode with trust wallet, it shows Ethereum Chain by default and I have to change it manually to Binance Smart Chain from the option. How

[2022-07-03 07:27] gate3 opened #1209 "calling wallet_switchEthereumChain to metamask works but closes immediately"
**Describe the bug**
I am trying to switch the user to an existing network on metamask using the mobile walletconnect SDK. I am doing it like this

[code]

This works, it opens metamask and i can see the modal asking to switch very briefly. But it closes immediately before any action can be taken and the error returned is.

```User rejected the request.```

**SDK Version (if relevant)**
 - Client:

[2022-07-03 07:38] gate3 commented on #1209
I'm closing this issue, i guess i opened it a bit prematurely. So i studied the metamask documentation properly again and i noticed this part

<img width="745" alt="Screenshot 2022-07-03 at 1 37 16 AM" src="https://user-images.githubusercontent.com/3597437/177030048-13bc3903-8063-4e4e-abd6-db7bd55f983c.png">

This issue happened because i was calling without a user action, just like how Audio work

[2022-07-03 07:38] #1209 closed, assigned to nobody

[2022-07-03 18:19] tomonari-t commented on #595
[this repo ](https://github.com/draftbit/expo-walletconnect-demo)has solved this problem

[2022-07-04 04:35] jxom commented on #1165
Update: we are starting to work on "eager" hooks in wagmi (using @markdalgleish's eager populating of txn request) to help with deeplinking issues on iOS.

https://github.com/tmm/wagmi/pull/658

[2022-07-04 05:40] xaun commented on #444
The solution for me was to ensure the web3 provider send request (RPC API) was the first network request after a user action.

I've deployed an example [here](https://web3-react-git-ios-app-store-redirect-issue-xaun.vercel.app/) forked from [web3-react/example-next](https://github.com/NoahZinsmeister/web3-react/tree/main/packages/example-next) (v8) which consistently reproduces the issue when the

[2022-07-04 05:44] xaun commented on #1165
Maybe https://github.com/WalletConnect/walletconnect-monorepo/issues/444#issuecomment-1173373084 is related to this? I experience this alert previously but since making the mentioned change in approach, this alert does not show up anymore.

[2022-07-04 11:50] nnzo opened #1212 "WalletConnect + React, webpack issues"
**Describe the bug**
Using create-react-app and importing the @walletconnect/web3-provider package, the react development environment fails to start.
[code]

[2022-07-04 15:35] lucadonnoh opened #1213 "dependencies missing"
**Describe the bug**
The `tslib` and `better-sqlite3` modules are missing when installing `@walletconnect/sign-client@experimental`.

[2022-07-04 15:45] lucadonnoh opened #1214 "`TypeError` with v2.0"
**Describe the bug**
Executing [this part of the documentation](https://docs.walletconnect.com/2.0/javascript/sign/dapp-usage-standalone-client) throws a `TypeError: Cannot read property 'MISSING_OR_INVALID' of undefined`

[2022-07-05 03:45] 1648045459 opened #1215 "(Missing or invalid \"message\" param) or (Cannot read properties of undefined (reading 'MISSING_OR_INVALID'))"
**Describe the bug**
**https://github.com/WalletConnect/web-examples demo:**
{
    "code": -32000,
    "message": "Missing or invalid \"message\" param"
}
**vue3 demo:**
Cannot read properties of undefined (reading 'MISSING_OR_INVALID')

### Request sent by localhost:
wss://relay.walletconnect.com/?auth=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJkaWQ6a2V5Ono2TWtzSjRmS0o5bjlWejFzS0JFNm9SZTNOQ0

[2022-07-05 12:37] MadhuraJoshi1 commented on #1027
Any update on this issue ?

[2022-07-05 18:55] ubinatus commented on #576
Had the same issue. It's just on iOS AFAIK. @pasevin hack works great! However the app won't be capable to redirect to the TrustWallet app unless you tell the user to do so (it's expected!). Another workaround is to force the `WALLETCONNECT_DEEPLINK_CHOICE` to target the TrustWallet deep link app and not the `https://link.trustwallet.com/wc`

Sharing what I ended up doing the following (code is on

[2022-07-06 08:50] gameisdead commented on #1027
Having same issue on mobile chrome browser with Samsung galaxy fold 2.

[2022-07-06 11:56] rollycodes opened #1219 "Unable to build and deploy bridge/relay server"
Unable to build and deploy bridge server

Steps to reproduce the behavior:
1. Repo head has server code removed
2. Versions till 2.0.0-beta.101 have it but "make deploy as per README" doesn't work because Makefile doesn't now have a deploy operation
3. Versions till 2.0.0-beta.26 have a Makefile as per README but the "make deploy" errors out there because of missing caddy.
4. Older versions with c

[2022-07-07 02:41] dungnn1991 commented on #1027
I have found the solution. Instead of connecting with "connect button", use deep link:

`await connector.createSession(); `
`const encodedUri = encodeURIComponent(connector.uri);`
`const href = 'https://metamask.app.link/wc?uri=${encodedUri}&target=_self'; //walletconnect use _blank`
`window.location.href = href;`

Walletconnect use target=_blank

![Screenshot from 2022-07-07 09-36-08](https://use

[2022-07-07 07:23] ganchoradkov opened #1222 "[v2] performance tests"
Additional tests should be created in the sign client to test for concurrent client connections with the relay

[2022-07-07 10:48] #1222 closed, assigned to nobody

[2022-07-07 14:58] terranc commented on #769
We really need it, too.

[2022-07-07 20:02] OmBayus commented on #748
[code]

[code]

[2022-07-07 20:16] matteenm commented on #909
Hi @jakelee8 , im running into this issue now. did you have to do anything to fix it?

[2022-07-07 22:05] jakelee8 commented on #909
No I did not change anything, push notifications have been working reliably since May

[2022-07-08 23:43] lmcmz commented on #1200
Same here.

[2022-07-11 05:50] matteenm commented on #909
and you are following the subscribe endpoint [documentation](https://docs.walletconnect.com/bridge-server#subscribe-push-notification-webhook) without any modifications? For some reason I am not getting any calls to the webhook I provide to /subscribe even though I get a success response from it.

Edit: nevermind, turns out using PeerId instead of ClientId for the topic fixed the issue.

[2022-07-11 13:01] khoanguyen-yang opened #1234 "`Error: Missing or invalid topic field` thrown when calling `killSession`"
**Describe the bug**

**SDK Version (if relevant)**
 - Client: React Native
 - Version: 1.7.1

Steps to reproduce the behavior:
1. Create a new Wallet Connect instance (using `new` operator, not calling `createSession`)
2. `approveSession` on `session_request` event
3. Kill the session on `'disconnect'` event using `killSession`

**Expected behavior**
No error being thrown

**Additional context**

[2022-07-11 13:13] 0xmovses opened #1235 "Only QR code showing with no options to select wallet"
**Describe the bug**
On some OS devices the Wallet Connect UI does not show options to connect wallet. Instead just shows a QR code.
<img width="394" alt="Screenshot 2022-07-11 at 14 10 56" src="https://user-images.githubusercontent.com/35300528/178271795-34f3388b-d6f3-4cd7-b719-9a46eae34b0f.png">
We can confirm this issue is *not* related to wagmi library as the problem also occurs when that libr

[2022-07-12 08:14] bkrem commented on #1200
Hi @1648045459,

Sorry to hear you were having trouble between beta versions when interfacing with the relay.

In principle there shouldn't be any difference in behaviour between the deployed examples and running locally (this is also how we cross-test wallet <-> dapp), assuming that all the dependencies are still aligned in version.

We have however had some important auth changes in the recent b

[2022-07-12 08:20] bkrem commented on #1200
Moving this to the web-examples repo since this seems to be a configuration issue with examples rather than an explicit bug in the sign-client

[2022-07-13 06:09] pasevin commented on #357
Still a huge issue. Any progress on this?

[2022-07-13 07:39] chadyj opened #1241 "SDK user-agent support"
Implement the spec https://github.com/WalletConnect/walletconnect-specs/issues/85

[2022-07-13 07:41] chadyj opened #1242 "SDK granular tags"
Implement spec https://github.com/WalletConnect/walletconnect-specs/issues/84

[2022-07-13 12:56] pasevin commented on #357
Looks like the latest https://www.npmjs.com/package/@walletconnect/web3-provider/v/1.8.0-rc.0 fixed it? We are not experiencing the limit anymore.

[2022-07-13 17:03] #1242 closed, assigned to nobody

[2022-07-14 02:01] vuletiki commented on #1219
I simply set `REDIS_URL` env and `yarn start` in relay folder.
I found this link https://github.com/WalletConnect/ts-relay but cannot access or it's wrong.

[2022-07-14 10:08] bkrem commented on #1199
This seems to be a variation of the issue discussed here: https://github.com/WalletConnect/web-examples/issues/38

The recommendation for this is the same as described there in order to align with what the relay expects: https://github.com/WalletConnect/web-examples/issues/38#issuecomment-1181466526

[2022-07-14 10:08] #1199 closed, assigned to nobody

[2022-07-14 10:12] bkrem commented on #1235
Hi @rvmelkonian,

In my experience this only happens when the modal was unable to resolve wallets from the registry, when a subrequest to e.g. https://registry.walletconnect.com/api/v2/wallets fails.

Could you confirm based on network calls whether this was the case?

[2022-07-14 10:28] bkrem commented on #1144
Hi @eduardoMichell,

This most likely happens due to WalletConnect modules expecting the global object reference to be `global`, whereas your environment may be using the newer `globalThis`: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/globalThis

This is something we probably need to address in our build chain, but as a workaround for now a manual reassignment

[2022-07-15 01:36] markdalgleish commented on #1165
I opened a PR adding documentation to the WalletConnect site explaining the cause of these iOS app link issues and how to avoid them which recently got merged. The documentation is now live: https://walletconnect-docs-git-fork-markdalgleish-b4d402-walletconnect1.vercel.app/mobile-linking#ios-app-link-constraints

I'm closing this issue since there's not much else that can be done from a WalletConn

[2022-07-15 01:36] #1165 closed, assigned to nobody

[2022-07-15 07:41] dito opened #1252 "npx react-native run-android fails"
**Describe the bug**

`yarn run android` and build failed.

I did this setup
https://reactnative.dev/docs/environment-setup

[code]

I commited this.
https://github.com/dito/WalletConnectSample

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Desktop (please complete the following information):**
 - OS: M1 Mac

[2022-07-15 08:48] ganchoradkov opened #1255 "Granular tags - unit tests"
We must write some unit tests about the granular tags in `sign-client`

[2022-07-15 08:59] #1241 closed, assigned to nobody

[2022-07-15 21:27] Ahmedelforjani commented on #382
is this issue is still up ? and anyone could fix it?

[2022-07-17 00:48] Horlarhold commented on #1208
Hello how are you

[2022-07-17 10:53] movassagh commented on #243
I am still facing the same problem

[2022-07-17 23:52] pingu2k4 commented on #122
Same as @saber-yy above. Have also tried sending a custom request with method set to `wallet_updateChain`, and passing in the relevant chainId in params, but get an error stating that the method is not supported.
Is this a 2.0 beta thing still? Would have thought not as was implemented in 2019 according to this?

[2022-07-17 23:56] pingu2k4 opened #1261 "updateChain method is not supported"
**Describe the bug**
updateChain method is not supported

**SDK Version (if relevant)**
 - Client: js
 - Version 1.7.8

**To Reproduce**
Steps to reproduce the behavior:
1. call connector.updateChain() or sencCustomRequest with a method of `wallet_updateChain`

**Expected behavior**
An error is produced, stating that the method is not supported.

**Additional context**
Appears to have been impleme

[2022-07-18 09:03] vorotech commented on #773
hi @sbc64 @pedrouid @bkrem @IljaDaderko
Can you please clarify where the project direction?
It seems to me that your team is going to build and maintain own infrastructure.
The are not many info about it in the media sources, but I assumed it because all scripts and other docs how to run the relayer have disappeared (this issue and https://github.com/WalletConnect/walletconnect-monorepo/issues/121

[2022-07-18 11:52] sbc64 commented on #1219
The relay is located here: https://github.com/WalletConnect/relay

[2022-07-18 11:57] sbc64 commented on #773
Our infrastructure has changed considerably to be more reliable. This means that docker-compose was becoming more of a burden than an enabler in our plans.

The relay can be located https://github.com/WalletConnect/relay

and it has the a docker-compose that is good enough for local testing, but we are not going to be supporting `caddy`, `lets's encrypt` due to time constraints.

[2022-07-18 11:58] sbc64 commented on #720
https://github.com/WalletConnect/relay

[2022-07-18 11:58] #720 closed, assigned to ffrizzo

[2022-07-18 11:58] sbc64 commented on #878
Use this instead: https://github.com/WalletConnect/relay

Caddy is no longer being used.

[2022-07-18 11:58] #878 closed, assigned to nobody

[2022-07-18 11:59] sbc64 commented on #632
We have stopped supporting waku in this repository.

If you want to run the relay you can do so here: https://github.com/WalletConnect/relay

[2022-07-18 11:59] #632 closed, assigned to nobody

[2022-07-19 01:05] dito commented on #1252
I patched incompatible modules.

[2022-07-19 01:05] #1252 closed, assigned to nobody

[2022-07-20 06:40] trieu-hphuc96 commented on #315
same, I am still getting this issue

[2022-07-20 08:56] vorotech commented on #773
@sbc64 thank you for a response!
I'm going to close the issue.
Running the service itself is more than enough. Most engineers know how to add a LB and/or Reverse Proxy layer.

[2022-07-20 08:56] #773 closed, assigned to sbc64

[2022-07-20 23:54] XBDRX opened #1273 "Request for support of additional SSL certificate(s)"
**Request that you support additional SSL certificates other than Let's Encrypt on your secure socket server**
We're developing apps for LG WebOS Smart TVs that use WalletConnect.

We're having an issue connecting to your secure socket service on WebOS TVs from 2016-2018 and I suspect the issue is caused by last year's expiry of the Let's Encrypt root certificate. Those TVs haven't received a firm

[2022-07-21 09:07] aximas commented on #243
And I am still facing the same problem
Somebody know how resolve it ?

[2022-07-21 16:01] alejomendoza opened #1274 "Cannot find module 'better-sqlite3'"
**Describe the bug**
Next js app breaks when installing wallet connect client `"@walletconnect/sign-client": "^2.0.0-rc.0"`

[code]

[2022-07-22 13:05] arein commented on #1274
Can you please provide repro steps?

[2022-07-22 13:10] arein commented on #1182
@chadyj can we close this? Or is this not regarding `ts-relay`?

[2022-07-25 03:42] socheat-leang commented on #1098
Any update with this bug ?

[2022-07-25 06:14] xzilja commented on #1182
This can be closed, we have ci running against dev relay.

[2022-07-25 06:14] #1182 closed, assigned to xzilja

[2022-07-25 06:15] xzilja opened #1280 "New build tooling"
Majority of work has been done and is in draft pr phase
https://github.com/WalletConnect/walletconnect-monorepo/pull/1196

Remaining work that needs to be done includes
- [x] Bring that pr in sync with main branch (will require some manual work and going over diffs)
- [x] Publish canary package
- [x] Test in sample wallet and dap

[2022-07-25 09:39] qieman commented on #606
Hi, I'm also having the same problem, anyone can help ?

[2022-07-25 12:22] pedrouid opened #1281 "Support `irn` instead of `iridium`"
Related to https://github.com/WalletConnect/walletconnect-specs/issues/90

[2022-07-25 13:50] alejomendoza commented on #1274
1. Start Next Js project
2. Install Walletconnect
3. Init Walletconnect

[2022-07-25 15:33] whosnorman commented on #956
hitting roughly the same issue where I'm getting an unwanted new tab redirect (to Rainbow) after calling connector.signPersonalMessage. Is there a way to disable connector.signPersonalMessage trying to redirect?

[2022-07-26 14:26] shubhch32 commented on #1212
I am facing the same issue. Did you find any fix for this?

[2022-07-27 01:41] johnnyshankman opened #1291 "Doesn't include bufferutil or utf-8-validate when importing ws"
**Describe the bug**
This uses `ws` but does not properly define `bufferutil` and `utf-8-validate` as optional packages. They end up becoming peer dependencies and give me issues like this:

[code]

When I blame who is using ws incorrectly it is this package
[code]

**SDK Version (if relevant)**
 - Client: JS
 - Version "@walletconnect/web3-provider@^1.7.0"

**To Reproduce**
Steps to reproduce the

[2022-07-27 17:55] kdong007 opened #1297 "doesn't work for React Native"
**Describe the bug**
Im following this doc, but I got two issues:
1. typing with `asyncStorage`
```Type 'AsyncStorageStatic' is missing the following properties from type 'IAsyncStorage<string, any>': store, size, getStorets(2739)```
2. Crypo not found.
[code]

**SDK Version (if relevant)**
 - Client: TS+RN+Expo
 - Version
"@walletconnect/react-native-dapp": "^1.7.8",
"@react-native-async-storage/

[2022-07-27 18:30] korkey128k commented on #479
+1 Bump. This is still an issue

[2022-07-28 01:44] chezhe commented on #1297
You need `rn-nodeify` to hack it, react-native environment doesn't contain crypto module which belongs to nodejs.

[2022-07-28 16:34] Wathekkhlifi commented on #604
I found a solution ( I don't know if it is the best way ) which is to capture when user close the modal with catch() and re create the provider object,
this is an example code using react

[code]

[2022-07-29 01:12] yekta opened #1299 ""typeof global.WebSocket" check in @walletconnect/jsonrpc-ws-connection is causing issues"
**Describe the bug**
The check in `@walletconnect/socket-transport/dist/esm/index.js` is causing issues in some environments (I'm using SvelteKit + Vite):

```const WS = typeof global.WebSocket !== "undefined" ? global.WebSocket : require("ws");```

The specific error it causes is `global is not defined`. Given it imports "ws" if `global.WebSocket` is not there, seems like it could also check if `

[2022-07-29 03:42] trungtruc91 commented on #746
same issue

[2022-07-29 04:03] anhnh-yoong commented on #746
same issue

[2022-07-29 12:31] #1177 closed, assigned to bkrem

[2022-08-01 01:16] kdong007 opened #1301 "outdated react-native-svg causing varies issues"
**Describe the bug**
the `react-native-svg` dependency is way too outdated. When I use other versions of `react-native-svg`, it give me `tried to register two views with the same name RNSVGSvgView`. If I use the old version as this repo is using, it gives me `requiredNativeComponent: "RNSVGPath" was not found in the UIManager`

**SDK Version (if relevant)**
 - Client: React Native
 - Version [e.g.

[2022-08-01 01:17] #1297 closed, assigned to nobody

[2022-08-01 04:36] jtculbreth commented on #753
Is the function "getBrowerCrypto" misspelled?

[2022-08-01 04:44] EnettyTech opened #1307 "My wallet not found"
- My request for wallet had been approved on Dec 16, 2021 but I not found it in wallets list.
- Why SafeMoon wallet approved on Dec 30, 2021 but appeared in the wallets list?

[2022-08-01 13:43] gulsher7 commented on #1297
how did you resolve it ? i'm facing same issue

[2022-08-01 13:52] thevirinchi opened #1306 "Expo app crashes on Android with error: no identifiers allowed after numeric literal"
**Describe the bug**
Expo application crashes on Android only. And does not return any stack.
![WhatsApp Image 2022-08-01 at 7 18 39 PM](https://user-images.githubusercontent.com/35911796/182162548-a62a032a-27a3-4ae0-97f1-4b0ea415474f.jpeg)

**SDK Version (if relevant)**
 - Client: Expo
 - Version ~45.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create Expo app with expo version ~45.0

[2022-08-02 02:59] #1301 closed, assigned to nobody

[2022-08-02 06:22] #1307 closed, assigned to nobody

[2022-08-02 07:52] chadyj commented on #1273
Sounds like an interesting use case @XBDRX!

Can you please give more technical context to the problem?  What SSL cert in particular is the problem?

[2022-08-02 20:26] FounderCasey commented on #734
As @armgit5 mentioned, this currently works: https://stackoverflow.com/questions/70714690/buffer-is-not-defined-in-react-vite

`npm i @esbuild-plugins/node-globals-polyfill`

Inside your `vite.config.js` file:

Import the package:
[code]

And then add `optimizeDeps` to the config:

[code]

Currently working as of 8/2/22 - Vite(2.9.12) / Vue 3(3.2.37)

[2022-08-03 05:44] FaridMicrocis opened #1311 "Possible Unhandled Promise Rejection (id: 0): Error: Secure random number generation is not supported by this browser. Use Chrome, Firefox or Internet Explorer 11 while calling connector.connect()"
**Describe the bug**
I got the above error while calling connector.connect() method of useWalletconnect hook. inside React Native app.

**SDK Version (if relevant)**
 I use react-native version 0.69.3

[2022-08-03 07:15] hypotyposis commented on #792
same problem. To provide more info:
- under `node:16.13.1 ubuntu:22.04 npm:8.15.1` install successfully
- under `node:16.13.1-alpine` install error
- under `node:16.13.1-bullseye` install successfully

Looks like this problem is related to whether you have `git` installed. If not, install `git` first.

[2022-08-03 08:58] bkrem opened #1312 "[Auth] Alpha Roadmap"
## Resources

- [Auth Spec](https://github.com/WalletConnect/walletconnect-specs/tree/main/auth)
- [Auth Client API](https://github.com/WalletConnect/walletconnect-specs/blob/main/auth/client-api.md)

## Critical Path

This is intended as an overview of critical path work to get to an alpha state with the JS Auth SDK, from which we can break out concrete and more detailed individual issues. The li

[2022-08-03 20:33] #1281 closed, assigned to nobody

[2022-08-03 22:02] ceerlepy commented on #315
quick solution: Clean application browser cache and try again, that works for me but that can happen again

[2022-08-04 00:36] XBDRX commented on #1273
Hi Chad

Thanks for the response. I'm sure we can arrange a video demo if you would like to see what we're working on.

Here's what is happening:
1. The front page of our TV app presents a QR code
2. The user scans the QR code with the Metamask app on their phone
3. Once scanned, the account is linked on the TV and progresses to the home page showing the user's NFTs

It works fine on TVs from 2019

[2022-08-04 05:57] nomanaliakram321 commented on #1047
Any update in wallet connect version 2.0 beta ? how i can implement in react native?

[2022-08-04 07:37] wds1181977 opened #1316 "How to use deeplink app to pull up apps"
I see metamask wallet deeplink like this
https://metamask.app.link/wc?uri=wc%3A913aa934-d6a1-473c-ac27-d49a8e9559bd%401%3Fbridge%3Dhttps%253A%252F%252Fi.bridge.walletconnect.org%26key%3D501feb5b2bff1265f46c9c38f60929070c593c15b319b4e8b7189b62cd2907ac

Do we need to make our own set of deeplink generators?   like https://metamask.app.link/

[2022-08-04 07:56] #1316 closed, assigned to nobody

[2022-08-04 08:25] arein opened #1319 "test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-04 09:40] chadyj commented on #1047
The beta is over!  Check out our blog post https://medium.com/walletconnect/calling-all-devs-the-walletconnect-v2-0-sign-beta-is-over-d7bb786cdd93

[2022-08-04 09:56] chadyj commented on #1273
Thanks @XBDRX for context.  We will investigate.

[2022-08-04 12:26] bazaah commented on #1273
Hi @XBDRX

So having investigated this a bit here's my analysis so far.

### Top level summary

1. Provide us with a TLS cert/key pair that is signed with the correct trusts for a custom endpoint (e.g `xbdrx.bridge.walletconnect.org`)
2. Use this endpoint in your walletconnect client `bridge:` config

### Details

First, we (WalletConnect) would need a CA signed by one of the trusts that you linke

[2022-08-04 12:49] XBDRX commented on #1273
Fantastic, thankyou. My email address is marc@bedrock.tv

If you contact me there initially, I'll add in the CTO and relevant team members. I will double check with LG if that list of roots is completely up to date.

[2022-08-04 14:27] matthewcarlreetz opened #1329 "Error when initializing client in Dapp - Unknown type, must be binary type"
**Describe the bug**
Initializing the `SignClient` on a React Native Dapp throws the error

**SDK Version (if relevant)**
Client: React Native
Platform: `iOS 15.6`
Version:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize the client
[code]

[2022-08-04 18:15] Bommer2078 commented on #441
Hi have you fixed this bugs?

[2022-08-04 18:17] Bommer2078 commented on #441
Did you find way? please help me

[2022-08-05 10:22] Binh-NA opened #1330 "Chrome on IOS 15.6: Does not receive any signature or error after signing message."
I'm trying to sign person message using @walletconnect/client. Does not receive any signature or error after signing message.
[code]

[2022-08-06 12:05] arein opened #1331 "cover push functionality in integration test"
The relay offers functionality to inform wallets when they need to sign txs. The functionality currently isn't covered by our integ tests.

[2022-08-08 04:27] Sotatek-TuongNguyen commented on #1252
@dito same error. What did you do?

[2022-08-08 08:48] xzilja commented on #1329
@matthewcarlreetz will be looking at this today 👍 just need to set up env for react-native to test. Is hermes enabled here?

[2022-08-08 09:49] 18279828419 commented on #1330
same issues on desktop chrome.

[2022-08-08 09:56] Hamidrezana opened #1334 "session_request event not called"
I've followed document for adding wallet connect to my react native project. But `session_request` event not called.

[code]

[2022-08-08 11:00] #1331 closed, assigned to arein

[2022-08-08 11:34] yokamox commented on #1098
I have the same problem when clicking on Ledger on IOS. I get that error in the console.
Tried adding the file querySchema to info.plist but then the error became cannot complete operation or something like that.
Any update on this matter?

[2022-08-09 01:51] elliotsayes commented on #1297
This fixes problem 2, but not problem 1. `rn-nodeify` does not fix the compatibility between `IAsyncStorage` (from `keyvaluestorage`) and `AsyncStorageStatic` from `@react-native-async-storage/async-storage`.

Related issue: https://github.com/react-native-async-storage/async-storage/issues/745

[2022-08-09 01:54] elliotsayes commented on #1297
This fixes problem 2, but not problem 1. `rn-nodeify` does not fix the compatibility between `IAsyncStorage` (from `keyvaluestorage`) and `AsyncStorageStatic` from `@react-native-async-storage/async-storage`.

Related issue: https://github.com/react-native-async-storage/async-storage/issues/745
Edit, another: https://github.com/pedrouid/keyvaluestorage/issues/2

[2022-08-09 03:58] truongngodang commented on #1306
same bug

[2022-08-09 04:39] elliotsayes opened #1337 "Using react-native-dapp with web3-provider"
**Describe the bug**
Using the connector from `react-native-dapp` in `web3-provider`, for use in `ethers.providers` results in errors.

If you follow the method from: https://stackoverflow.com/a/71115091
[code]
Then several wallet apps reject it, e.g. Trust Wallet and Rainbow Wallet:
<img width="300" src="https://user-images.githubusercontent.com/7699058/183564441-cbfc351e-52d3-4074-a3e0-b45a338fc

[2022-08-09 06:07] kris-w-stkd commented on #357
I just updated to 1.8.0-rc.0 and still get too much infura spam from walletconnect (created via onboard). Can this polling param be overridden after instantiation?

[2022-08-09 08:54] xzilja opened #1338 "React Native Sign SDK"
## Description

Uppon testing sign SDK versions beta.102, rc.0 and rc.1 in latest react-native version (fresh vanilla app), all of these came up with errors like `new TextEncoder()` being undefined. This happens in both jsc and hermes runtimes and will only get worse as react-native is moving towards preferring hermes. This issue can be solved in 2 ways i.e. heavy js polyfilling or we create @wall

[2022-08-09 13:44] ganchoradkov opened #1339 "[Epic] v2 Provider"
A universal provider has to be developed supporting v2 multi-chain
Ideally, It should support the following namespaces and their respective chains

- eip155
- solana
- cosmos

General overview of the steps needed to accomplish this task

- [x] Create `UniversalProvider` class (naming could change) that can receives config object as constructor with the relevant namespaces, relay url etc
- [x] Add

[2022-08-10 01:41] elliotsayes commented on #1337
I managed to get this working with the second method, calling `connector.connect` instead of `provider.enable`:

[code]
This should probably be documented somewhere.

My earlier issue is that I imported ethers like:
`import ethers from 'ethers';`
instead of:
`import { ethers } from 'ethers';`

[2022-08-10 01:41] #1337 closed, assigned to nobody

[2022-08-10 08:35] Arnelhub111 opened #1340 "I created a SWFT DAPP on walletconnect and it is still under review. It's been more than two months, please check it, thank you very much."
I created a SWFT DAPP on walletconnect and it is still under review. It's been more than two months, please check it, thank you very much.

_Originally posted by @LGYang in https://github.com/WalletConnect/walletconnect-monorepo/discussions/1335_

[2022-08-10 12:50] nomanaliakram321 commented on #1338
hey can you please until when you will able to solve this issue?

[2022-08-10 12:51] nomanaliakram321 commented on #1338
any fix date?

[2022-08-10 13:14] xzilja commented on #1338
@nomanaliakram321 This is something I just started working on. Currently experimenting with ways to create separate react-native SDK that uses our native Swift and Kotlin SDKs under the hood. It's looking promising, but I can't give any concrete time frames yet, as this depends on other teams i.e. our iOS guys need to finish their CocoaPods milestone. Will try to have this ready this month though.

[2022-08-10 16:58] matthewcarlreetz commented on #1338
I'm currently just poly filling @nomanaliakram321
[code]

[2022-08-10 16:59] matthewcarlreetz commented on #1329
Were you able to reproduce @IljaDaderko ?

[2022-08-10 17:00] matthewcarlreetz commented on #1329
[code]

[2022-08-10 17:00] matthewcarlreetz commented on #1329
I haven't set `:hermes_enabled` to true

[2022-08-11 10:07] pedrouid commented on #1338
Thanks for sharing @matthewcarlreetz 🙌  Ideally we could get this fixed under `uint8arrays` package directly if not then we can maintain a fork which makes this package isomorphic for React-Native... in the meantime we will make a shim easily available to tackle this

[2022-08-11 12:53] nomanaliakram321 commented on #1338
Can you tell me where i can add this? will it be able to solve my textEncoded issue?

[2022-08-11 17:54] tuonght93 opened #1342 "doesn't work for React Native Web"
**Describe the bug**
Cannot build on web:
WARNING in ./node_modules/react-native-gesture-handler/lib/module/handlers/gestures/reanimatedWrapper.js 5:15-49
Module not found: Error: Can't resolve 'react-native-reanimated' in '/node_modules/react-native-gesture-handler/lib/module/handlers/gestures'
 @ ./node_modules/react-native-gesture-handler/lib/module/handlers/gestures/GestureDetector.js 5:0-49 2

[2022-08-11 20:11] tomisinteazer commented on #1208
I found a solution here #529

[2022-08-11 20:15] tomisinteazer commented on #1208
try {
    console.log("Log in with connect wallet")
    const provider = new WalletConnectProvider({
        rpc: {
              56: 'https://bsc-dataseed.binance.org/',
},
network: 'binance',
chainId: 56,
    });
    await provider.enable();
    const web3 = new Web3(provider);
    resolve(web3)
} catch {
    console.log("Install metamask or use wallet connect")
}

this was added to make it work

[2022-08-12 22:39] lukehutch opened #1344 "WalletConnect Ethereum provider does not work with chainId change"
**Describe the bug**
I filed a bug report here, but I'm cross-posting to walletconnect-monorepo since I think this may be an issue with the underlying `WalletConnectProvider`, and not with Web3Modal:

https://github.com/WalletConnect/web3modal/issues/552

The issue is that when the `chainId` changes, the provider continues to send API requests to the old `chainId`, which gives the wrong response.

[2022-08-13 06:15] lukehutch commented on #1344
Closing, as this seems to be a problem with MetaMask.

[2022-08-13 06:15] #1344 closed, assigned to nobody

[2022-08-13 14:52] SenadK95 commented on #792
I got it working by doing the following steps:

1. change 2 files in `/nodejs` to fix the `npm WARN config global --global, --local are deprecated. Use --location=global instead.` (see https://stackoverflow.com/questions/72401421/message-npm-warn-config-global-global-local-are-deprecated-use-loc)
2. installing git

[2022-08-14 16:27] ivanhdzd commented on #436
+1 in v1.7.8

[2022-08-15 12:15] #1338 closed, assigned to xzilja

[2022-08-15 12:37] xzilja commented on #1090
@daniyalayyaz We just released `2.0.0-rc.2` along with new installation guides for react-native https://walletconnect-docs-git-react-native-docs-288aaa-walletconnect1.vercel.app/2.0/javascript/guides/react-native

This should resolve your issue, plus not require any manual polyfilling

[2022-08-15 12:42] xzilja commented on #1338
@matthewcarlreetz @nomanaliakram321 could you try following new installation docs for `2.0.0-rc.2` (preview) https://docs.walletconnect.com/2.0/javascript/guides/react-native

It should resolve all your issues and not require any custom polyfills.

Example react-native app with new react-native implementation is also available here
https://github.com/WalletConnect/react-native-sign/tree/js-sdk/exa

[2022-08-15 15:39] matthewcarlreetz commented on #1338
@IljaDaderko It appears to be working well! I will continue to test, but initially everything is looking good.

[2022-08-15 18:58] nomanaliakram321 commented on #1338
Thanks for replying me yeah i checked it. Its look good but still it incomplete some working like Approve and reject session purposal. when you will complete remaining functionalities.

[2022-08-15 19:00] xzilja commented on #1338
@nomanaliakram321 What I mentioned above is for better experience when using js sdk inside react-native, I think you are referring to new react-native sdk. If so, that will likely take a lot of time, so I recommend you start with implementing js one first.

[2022-08-15 22:43] mrosendin opened #1349 "Module parse failed: @walletconnect/sign-client"
**Description**

I get this error when I `yarn start` my react project

[code]

 **@walletconnect/sign-client** version `2.0.0.rc2`

[2022-08-16 14:03] TSCRIBBANS opened #1351 "Unable to connect Trust Wallet to Web3 on bscscan using WalletConnet"
I am trying to connect my trust wallet (TW) to Web3 to write a contact at this address: [https://bscscan.com/address/0x932c5e1709a6895bc455e799b03f43d3a8ffbd9a#writeContract](url)

1. open the address above and go to "write contract". Steps 1-4 on Laptop
2. click on "connect to web3"
3. a new screen prompts me to connect to MM or wallet connect.
4. select wallet connect (QR code now visible).
5. O

[2022-08-16 15:03] BenRacicot opened #1352 "Types error "Could not find a declaration file for module 'pino'""
**Describe the bug**
A typings error after installing the WalletConnect types file into my app.

**SDK Version (if relevant)**
"@walletconnect/sign-client": "^2.0.0-rc.2",
"@walletconnect/types": "^2.0.0-rc.2",

**To Reproduce**
To reproduce the behavior follow the instructions on https://docs.walletconnect.com/2.0/javascript/sign/installation
1. Create a new application
2. Install the packages ab

[2022-08-16 15:04] xzilja commented on #1349
@mrosendin by default we export commonjs version of sdk as you can see here https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/packages/sign-client/package.json#L8-L10 it looks like your project is set up with es module support so you are importing .es file, but it doesn't support something from there, maybe that nullish coalescing `??` operator?

Hard to tell atm, is this project o

[2022-08-16 15:07] xzilja commented on #1280
This was resolved a while ago on v2 branch

[2022-08-16 15:07] #1280 closed, assigned to xzilja

[2022-08-16 15:09] xzilja commented on #1274
@alejomendoza could you try with latest `rc.2`. Also, `better-sqlite3` will only get used on server side (nodejs), so you should

1. Install this dependency as per nodejs guide https://docs.walletconnect.com/2.0/javascript/guides/nodejs
2. Only use sign sdk client side i.e within `useEffect`. Our wallet example actually uses this exact approach with nextjs https://github.com/WalletConnect/web-exam

[2022-08-16 15:11] xzilja commented on #1213
@lucadonnoh could you try with `2.0.0-rc.2`. `better-sqlite3` is a peer dependency required when using nodejs, so if thats the case you should install it. `tslib` on the other hand shouldn't be, so that might be an actual issue

[2022-08-16 15:43] r4881t commented on #315
I encountered this issue, and was able to get past it. It seems like this happens when the params are not available. I checked my code, and there were some bugs which were not setting the required params correctly. Once I ensured everything was correct in code, this error was gone.

[2022-08-17 09:09] bazaah commented on #1273
So, next steps are:

- [x] (us) Modify our cert management
- [x] (us) Create an endpoint in our dev environment using the ZeroSSL based cert
- [x] (you) Test against that endpoint
- [x] (us) Rollout to prod assuming no issues are detected

[2022-08-17 09:53] nomanaliakram321 opened #1356 "I like to add a chain to the list of supported chains. What would be the procedure for that?"
I like to add a chain to the list of supported chains. What would be the procedure for that?

[2022-08-17 11:23] bazaah commented on #1273
So I've created a MVP endpoint that should unblock your testing. Note that there is more work needed on our side to automate cert renewal, but you can find a ZeroSSL cert at: `fr0ntierx.bridge.dev.walletconnect.org` right now.

E.g:

[code]

Set your bridge config to use the endpoint above

[2022-08-17 23:11] markibanez opened #1357 "Cannot connect any dapp to react wallet demo"
### Bug Description
There is an error when attempting to connect any dapp to the react wallet demo. Either when clicking the connect button or scanning a QR code, there is an alert popup that always shows the error message "Error: Relay Protocol not supported: undefined". This error happens in both live demo site and local dev environment.

### Steps to reproduce the behavior in live demo site:
1.

[2022-08-18 03:39] FounderCasey commented on #1144
Hey @bkrem - the solution worked for me but our product mostly lives inside an iFrame.

Is there any way to fix this without having our customers set up the polyfill?

[2022-08-18 05:09] chadyj commented on #1357
Thank you for the detailed bug report.

The wallet you are using is a v2 wallet, and is only compatible with v2 dapps.

What dapp are you using?
Does the dapp support v1 or v2?

[2022-08-18 05:46] goingupHQ commented on #1357
Thanks for your reply @chadyj

I tried it with opensea and various dapps that we developed using web3modal, so I presume those use v1. What's interesting is that the wallet also shows the same error when trying to connect with the v2 demo dapps.

Below are the steps to reproduce:

1. Navigate browser to https://react-dapp-v2-with-ethers.vercel.app/ (this demo is also in the same repo as the demo w

[2022-08-18 05:50] chadyj commented on #1357
<img width="416" alt="Screenshot 2022-08-18 at 07 48 46" src="https://user-images.githubusercontent.com/116099/185303772-c73ad786-984f-4eb0-8dbc-4c54785a761a.png">

That dapp is an older version, and isn't compatible with the latest release candidates.

You can try a dapp that has been updated to RC here https://react-app.walletconnect.com/

[2022-08-18 06:07] goingupHQ commented on #1357
Got it! Before I close this , just want to confirm that v2 is not backwards compatible with v1 and there is no current workaround to make v2 wallets work with v1 dapps.

[2022-08-18 06:26] chadyj commented on #1357
Correct.
See https://docs.walletconnect.com/2.0/advanced/migrating-from-v1.0 for more info.

[2022-08-18 08:30] #1357 closed, assigned to nobody

[2022-08-18 08:48] XBDRX commented on #1273
Thankyou!

An html redirect from the webOS device to https://fr0ntierx.bridge.dev.walletconnect.org/hello works fine

I've tried adding the bridge url to our config ie

[code]

but it looks like it's still using your regular load-balanced bridges eg wss://h.bridge.walletconnect.org

I've updated to the latest '@walletconnect/web3-provider' libs from npm and for build-config reasons, I import the U

[2022-08-18 12:23] olegabr commented on #1219
@sbc64 Can it work with WalletConnect v1 clients also?
Is there a way/guide for production deployment?

[2022-08-18 12:35] BenRacicot commented on #1352
Started from scratch this am and reinstalling Pino fixed it. Please close and thank you.

[2022-08-18 12:37] #1352 closed, assigned to nobody

[2022-08-18 13:17] bazaah commented on #1273
So, I've not really looked at the client side at all, but looking at where the bridge is set, [here](https://github.com/WalletConnect/walletconnect-monorepo/blob/1.8.0/packages/clients/core/src/index.ts#L133), and the associated function, [getBridgeUrl](https://github.com/WalletConnect/walletconnect-monorepo/blob/1.8.0/packages/clients/core/src/url.ts#L36) it appears clients force an alphanumeric

[2022-08-19 07:51] tigerraj32 commented on #569
This issue still exist and need to reopen

[2022-08-19 17:43] BenRacicot opened #1364 "Unable to pair iOS Lobstr with `2.0.0-rc`"
**Describe the bug**
When connecting my localhost app and scanning the QR URI with the Lobstr iOS app nothing happens for about 1 minute until (the timeout) errs:

[code]
UPDATE:
There's also another version of this error seen in other scenarios:
[code]

**SDK Version (if relevant)**
    "@walletconnect/sign-client": "^2.0.0-rc.3",
    "@walletconnect/qrcode-modal": "^1.8.0",
    "@walletconnect/u

[2022-08-20 10:49] JungHsuan commented on #1098
Same problem here when clicking on imToken on iOS.

`
Error: Unable to open URL: file:///wc%3Furi=wc:26119c71-ba6e-4334-8809-3386e9e2a6ca@1%3Fbridge=https%253A%252F%252Fi.bridge.walletconnect.org&key=632061bbd6356341d1963a6436e33c7b6bf145884a9608012423844fec2f62c3&redirectUrl=https://www.xxxx.com. Add file to LSApplicationQueriesSchemes in your Info.plist.
`

[2022-08-20 14:45] SavelevaOnClick commented on #1060
maybe I'm doing something wrong, but the same 404

[2022-08-22 01:36] XBDRX commented on #1273
Thanks. We've patched as described and it works.

[2022-08-22 03:20] Kelier commented on #1023
still issue

[2022-08-22 08:13] bazaah commented on #1273
Great! If you're happy with that, then I'll get the work required to make this permanent into my queue, and keep you apprised on when we're ready to roll out to prod.

[2022-08-22 16:33] ivanhdzd commented on #1134
I think that the error is launched when you don't run your app in a domain without SSL (HTTPS), for testing purposes this error isn't launched in your localhost.

[2022-08-22 16:33] ivanhdzd commented on #1040
I think that the error is launched when you don't run your app in a domain without SSL (HTTPS), for testing purposes this error isn't launched in your localhost.

[2022-08-22 16:47] Adamj1232 opened #1371 "Wallet Connect connecting to Ledger Mobile does not emit a 'connect' event on initial approval of DApp"
**Describe the bug**
Wallet Connect connecting to Ledger Mobile does not emit a 'connect' event on initial approval of DApp

**SDK Version (if relevant)**
`    "@walletconnect/client": "^1.7.1"`
`    "@walletconnect/qrcode-modal": "^1.7.1"`
 - Client: [JS]

**To Reproduce**
Steps to reproduce the behavior:
Open https://reactdemo.blocknative.com/ in mobile browser
Click "Select a wallet", choose wa

[2022-08-23 01:27] wrapupc commented on #1134
Thx that makes sense to me

[2022-08-23 08:15] allisonle commented on #436
+1

[2022-08-24 16:50] arein opened #1376 "`sign-client` integration tests should fail faster"
**Describe the bug**
`sign-client` integration tests don't properly time out

**To Reproduce**
See sample run https://github.com/WalletConnect/rs-relay/runs/7999519789?check_suite_focus=true

**Expected behavior**
Test should time out after ~5mins max

**Screenshots**
<img width="1341" alt="Screen Shot 2022-08-24 at 12 50 02 PM" src="https://user-images.githubusercontent.com/966091/186476762-13cc1

[2022-08-24 17:41] mrosendin commented on #1349
Hi @IljaDaderko thank you for your response. The project is private unfortunately but I was able to solve the problem using this SO answer: https://stackoverflow.com/a/67543975/4198841

A few other details: the project is using ESNext which includes support for the nullish coalescing operator, so as the SO answer suggests, it's due to a Babel transpilation issue for the targeted browsers in `packa

[2022-08-24 17:41] #1349 closed, assigned to nobody

[2022-08-25 12:21] bazaah commented on #1273
As an update: I've just finished the feature work required for this in `dev`. I still need to do:

- some testing
- write up the documentation about the special casing that occurred out of this request
- merge the feature
- get the changes out into `prod`

But the hardest bit is likely done now. I'm hopeful that this will land sometime next week.

[2022-08-25 12:23] bazaah commented on #1273
After the above happens, you'll need to modify your `bridge` url to `https://fr0ntierx.bridge.walletconnect.org` --assuming you're happy with that prefix.

I'll contact you when our end is ready

[2022-08-25 18:06] arein opened #1377 "Distinguish Canary Target"
Currently we allow to run the canary against different targets.
But in metrics we don't show that.
So users don't know which target is failing.

[2022-08-25 20:23] getspooky opened #1379 "I can't connect my Trust wallet to apps (IOS Device)"
**Describe the bug**

I can't connect my Trust wallet to website (IOS Device).

Video :  https://www.dropbox.com/s/qglt0hfb3uxgnvy/RecordIt-85C5402D-0065-4E62-842C-9E82CA7B7E6F.mp4?dl=0

**SDK Version**
 - Client: JS
 - Version 1.6.6

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any website that support wallet connect
2. Click on Wallet Connect
4. After few minutes it return `Failed

[2022-08-26 08:04] RaphaelNdonga commented on #315
I solved this error by:
1. Instead of using `wcProvider.disconnect()`, i used `wcProvider.wc.killSession()`.
2. Instead of reading connection status from `wcProvider.connected`, I used `wcProvider.wc.session.connected`.

[2022-08-26 11:25] #1377 closed, assigned to arein

[2022-08-26 13:14] #1376 closed, assigned to nobody

[2022-08-28 14:35] arein opened #1385 "Expand coverage of push test"
Currently the `push` test only tests the case when a push _should_ be sent.

However, it doesn't assert that it is _not_ sent when it shouldn't be. Namely for messages with `prompt=false`.

See https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/packages/sign-client/test/sdk/push.spec.ts

[2022-08-28 15:35] arein opened #1386 "Unhandled error in `sign client` Canary"
`Error: No matching key. keychain: 308f7d8baab8621914e8d74a89dd3545df7eb273dbebc861d4807f73b3e4d9e6`

I see this when running the `rs relay` staging Canary. Can repro locally. Didn't check if this

Repro steps:
1. `cd packages/sign-client`
2. `TEST_RELAY_URL=wss://staging.rust-relay.walletconnect.com npm run canary`3.

Same for relay TEST_RELAY_URL=wss://relay.walletconnect.com npm run canary

Thi

[2022-08-28 18:48] arein opened #1389 "`sign client` load test fails with memory leak"
`(node:41) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 12 open listeners added to [EventEmitter]. Use emitter.setMaxListeners() to increase limit`

https://eu-central-1.console.aws.amazon.com/ecs/v2/clusters/staging_rs-relay_load_test_cluster/tasks/56b3df4c4cc049998bac2d9ef9242a27/logs?region=eu-central-1
![Uploading Screen Shot 2022-08-28 at 2.47.33 PM.png…]()

[2022-08-29 13:08] arein commented on #1386
This also happens in the regular tests https://github.com/WalletConnect/walletconnect-monorepo/runs/8071205645?check_suite_focus=true

[2022-08-29 13:41] arein opened #1390 "Tests should use `rs relay` not `ts relay`"
Currently our tests use `ts relay` which is no longer supported.

Should use `rs relay` instead

[2022-08-29 17:10] tigerraj32 commented on #1175
This issue still exist, please reopen the issue. Even after changing` https://walletconnect.org/wallets` to `https://walletconnect.com/registry`. They both return 404 URL error.

[2022-08-29 18:26] hackyguru commented on #1395
Closing this issue because it is more relevant to discussions.

[2022-08-29 18:26] #1395 closed, assigned to nobody

[2022-08-30 06:26] jarl0415 commented on #444
This way is success，but when my page is embedded in cocos‘s webview，it can not work， still redirecting to the wallet webside， does anyone konw how to fix it?

[2022-08-30 07:47] #1339 closed, assigned to ganchoradkov

[2022-08-30 09:27] roadmanfong opened #1394 "The second WalletConnect instance not trigger session_request very often"
**Describe the bug**
I'm making a wallet, and I need to handle multiple sessions. It works good for first session, but very easily failed afterwards.

**SDK Version (if relevant)**
 - Client: JS
 - Version: 1.8.0

**To Reproduce**
Steps to reproduce the behavior:
1. connect to https://app.uniswap.org/#/swap?chain=mainnet
2. then try to connect to https://example.walletconnect.org
3. usually not ge

[2022-08-30 12:07] sbc64 commented on #1394
You need to provide a different storageId for each connection. If you dont set a new storageId in your constructor the default storage value of "walletconnect" gets overwritten: https://github.com/WalletConnect/walletconnect-monorepo/blob/c94c1d608e75ef7f0e77572a8627d9412ade24c3/packages/clients/core/src/storage.ts#L5

Try playing around with this:

[code]

[2022-08-30 17:03] roadmanfong commented on #1394
Thanks a lot!

and I found other workaround is provide dummy session

[code]

Which is from Metmask
https://github.com/MetaMask/metamask-mobile/blob/fb7184c14f3afc42f8e77475f05dffd557383c47/app/core/WalletConnect.js#L380

[2022-08-30 17:03] #1394 closed, assigned to nobody

[2022-08-31 01:39] mPaella commented on #1334
bump

[2022-08-31 06:32] hjhjdev commented on #1212
This issue has been discussed below :)

https://github.com/WalletConnect/walletconnect-monorepo/issues/584#issue-975121859

[2022-08-31 08:17] hoductrong commented on #590
Any update for this issues? Version 1.2.11 not working for me....

[2022-08-31 10:23] AndonMitev opened #1403 "Cannot import wallet connect"
I have created a new react-native-project, version:  "react-native": "0.69.5", using expo.

When I execute steps from the documentation from wallet Section: [Wallet Connect - Wallet React Native](https://docs.walletconnect.com/quick-start/wallets/react-native)

My application is not able to compile:

![image](https://user-images.githubusercontent.com/32274987/187657259-649459fa-d86e-4d49-9b1e-822c

[2022-08-31 10:25] faizyboy1 commented on #357
Same this is causing so much problem. I know why this is happening `"@walletconnect/web3-provider": "^1.8.0-rc.0"` using [web3-provider-engine](https://github.com/MetaMask/web3-provider-engine) package, which is using an older version of
`eth-block-tracker` package. However, `eth-block-tracker` no longer support web3-provider-engine, and it seems that WalletConnect doesn't support @walletconnect/w

[2022-08-31 11:47] bazaah commented on #1273
@XBDRX -- the production endpoint is now live! You can find it at `fr0ntierx.bridge.walletconnect.org`.

I'll leave this issue open for the moment, in case something comes up.

Also as a side note, the `dev.` bridge certificate will expire in approx. 3 months, and will not be renewed.

[2022-08-31 23:24] arein commented on #1386
https://github.com/WalletConnect/rs-relay/runs/8124632515?check_suite_focus=true a lot of failures

[2022-09-01 12:37] XBDRX commented on #1273
Excellent, thank you all very much!

[2022-09-01 17:40] doomhz opened #1405 "Redirect from website to wallet and wallet to website is broken"
**Describe the bug**
The flow of redirecting users from the website QRModal to the crypto wallet and back got broken. Recently, there is a new redirect screen in between on which the user gets stuck, without knowing what to do next. Sometimes, the redirect from the crypto wallet doesn't even work at all.
Sometimes I get `WalletConnect session was disconnected.` error (see screenshots) and sometime

[2022-09-02 13:33] #1386 closed, assigned to ganchoradkov

[2022-09-02 15:02] #966 closed, assigned to nobody

[2022-09-02 15:54] chadyj commented on #1405
Looks like a duplicate of https://github.com/WalletConnect/walletconnect-monorepo/issues/1165

[2022-09-03 21:33] thegitparticle commented on #606
were you able to figure this out? @Flawe @qieman

[2022-09-04 21:54] ChenKuanSun commented on #310
Any update?
Bundle size too large.
Have someone working on it?

[2022-09-05 15:18] insky commented on #375
Any updates?

[2022-09-06 01:07] aindong commented on #753
Thank you @gate3 this is the best solution reference to follow :)

[2022-09-06 01:39] Kstar0722 opened #1409 "Failed init SignClient in React Native"
**Describe the bug**
[code]

[2022-09-06 06:41] xzilja commented on #1409
Could you provide more info i.e. react-native version, sign-client version, is hermes enabled or disabled, anything else you can think of that will be useful when debugging this?

Did you set up v2 according to react native guides? https://docs.walletconnect.com/2.0/javascript/guides/react-native

[2022-09-06 06:42] abdulhaseeb4239 commented on #1409
I am facing the same issue
These are the versions I am using
"react-native": "0.66.4",
"@walletconnect/sign-client": "^2.0.0-rc.2",

These are the steps that I did so far
1. npm install --save @walletconnect/sign-client@rc @walletconnect/react-native-compat@rc react-native-get-random-values
2. npm i text-encoding-polyfill
3. Place import 'text-encoding-polyfill' in index.js and index.ios.js
4. imp

[2022-09-06 06:47] xzilja commented on #1409
@abdulhaseeb4239 you souldn't need to install and use `text-encoding-polyfill` (unless you need it of-course). By the sound of it, it seems like `events` package doesn't get installed, however it should be there as part of "react-native-compat" install (is adds these deps for polyfilling https://www.npmjs.com/package/@walletconnect/react-native-compat)

Can you check your package-lock file and ver

[2022-09-06 06:56] abdulhaseeb4239 commented on #1409
@IljaDaderko my package-lock has the events package in it

[code]

but the events version is different in react-native-compat dependency. Can this be the issue? Btw I installed fresh couple of times but the issue persists.

This is the complete error

[code]

[2022-09-06 08:26] luca992 commented on #724
Is there any work around that actually lets you close the modal without the error being thrown? I would like a user to be able to switch between walletconnect or metamask

[2022-09-06 22:34] luca992 commented on #436
what do you mean by your `own Web3 layer`? How are you getting a provider instance from the standalone client?

[2022-09-07 05:43] xzilja commented on #1409
@abdulhaseeb4239 Yeh, It looks like you have 1.1.1 installed which might not have that `getMaxListeners` I'd try to do a fresh re-install like I suggested above, or perhaps try to install events package manually?

[2022-09-07 10:58] Kstar0722 commented on #1409
@IljaDaderko
"react-native": "0.65.1",
"@walletconnect/sign-client": "2.0.0-rc.2"

but I fixed problem with uninstalling `events` package

[2022-09-07 13:08] hazae41 commented on #436
Even better, I'm gonna build my own client and modal.

![image](https://user-images.githubusercontent.com/4405263/188885966-25df88b7-7377-4add-ba0d-2b846edd8974.jpeg)

[2022-09-08 00:08] shrimppepe commented on #569
I was able to resolve this by removing my existing instance of react-native-svg from package.json
`yarn remove react-native-svg`

not the best solution if wallet connect removes its dependency on RN SVG but at least we'd get an error then to re-add it 🤷

[2022-09-08 04:38] shrimppepe commented on #569
WalletConnect uses RNSVG version 9.6.4 still so you can downgrade to `"react-native-svg": "9.6.4",` in your package.json and remove yarn.lock, node_modules, and ios/Podfile.lock for now :/

[2022-09-08 14:45] goncharov-vlad commented on #747
+4

[2022-09-08 15:29] Proadik commented on #1167
Same here, any update on this bug?

[2022-09-08 16:05] xzilja commented on #1167
Could you try on latest rc please https://www.npmjs.com/package/@walletconnect/sign-client

[2022-09-08 16:25] Proadik commented on #1167
yes, I am using this version(2.0.0-rc.2), but error still appears

[2022-09-08 17:43] Adamj1232 opened #1421 "Desktop link for Crypto.com is broken"
**Describe the bug**
When clicking the Crypto.com option within the Desktop tab is broken and opens a tab with a broken link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Curve.fi
2. Click on Connect wallet
3. Select Desktop tab
4. Click crypto.com and see broken link

**Expected behavior**
Takes a user to the proper location

**Desktop (please complete the following information):**

[2022-09-08 20:00] looter commented on #1421
@Adamj1232 thanks for flagging this. question for you do you have the crypto.com desktop wallet installed? This should be a deeplink and if you have the desktop wallet installed it should route it accordingly.

[2022-09-08 20:06] Adamj1232 commented on #1421
I do not but feel there should be some user feedback if that is the case since it is the first option displayed by default

[2022-09-09 07:08] #1421 closed, assigned to nobody

[2022-09-09 13:59] xzilja commented on #1409
Closing this issue for now, this seems to be related to events package version conflict in lock files, solvable via fresh re-install / update of lock file

[2022-09-09 13:59] #1409 closed, assigned to nobody

[2022-09-09 14:01] xzilja commented on #1403
Which version of WalletConnect are you using?

[2022-09-09 15:35] #1319 closed, assigned to nobody

[2022-09-09 15:39] arein opened #1425 "Cover X-Region Connectivity in Integration Test"
We are regionalizing and need to ensure that clients connected to region A can talk to region B.

AC:
* test that covers connectivity across `us-east-1.relay.walletconnect.com`, `eu-central-1.relay.walletconnect.com`, and `ap-southeast-1.relay.walletconnect.com`

Implementation Suggestion:
create a new file in the sign client test e.g. `xregion.spec.ts` that takes care of this.

[2022-09-10 17:44] rkreutzer opened #1430 "Cannot approve personal_sign request for cloud.walletconnect.com"
**Describe the bug**
I'm attempting to test my wallet implementation of WC by signing up to cloud.walletconnect.com. It approves the session correctly and then sends the call request for personal_sign. I then prefix the message with the "\x19Eth..." text and message length, and hash it. Then I call the approveRequest passing the signature like
{id: 1662830956377224, result: '0xdacafbbcf977d68d50b1

[2022-09-11 15:09] mdcoon commented on #636
For anyone else that lands here with this issue, for me, it turned out to be that MM mobile did not have the network I was switching to installed. Once I added the missing network, I was able to get prompt to change networks from my dApp. So maybe a good solution combines the timeout suggestion by @quantass with a call to first add the network and then switch if that call goes through

[2022-09-12 16:41] edmcnierney commented on #1356
I would like to do this, too. I can't find any info in the docs or 2.0 code (and therefore may be looking in the wrong place).

[2022-09-13 14:31] codertapsu commented on #315
any update on this issue?

[2022-09-13 23:53] rkreutzer commented on #1430
So, after much trial and error, none of the message prefixing or hashing matter, even though there are a lot of other issues and discussions about this. All I needed to do was to convert the hex message in the call_request to a string, then call the wallet's signMessage function on the string.
`     let msg2= msg
      if (ethers.utils.isHexString(msg)) msg2 = ethers.utils.toUtf8String(msg)

[2022-09-13 23:53] #1430 closed, assigned to nobody

[2022-09-14 06:54] chenyoh opened #1443 "How to update wallet's link as the walletconnect-registry is readonly"
Hi, I'm a developer at ONTO Wallet and I need to modify the configuration on Wallet Connect due to a business change, However, I do not have an account to log in Wallet Connect (because the information of creating ONTO Wallet on Wallet Connect was created by submitting PR on Github), may I ask what should I do in this case?

[2022-09-14 13:42] looter commented on #1443
Hi @chenyoh either reply with an email address you have access to after you create a cloud explorer account and let me know what it is and I can make sure that account is associated with the listing.

[2022-09-14 13:46] looter commented on #1443
Btw closing this as it's a duplicate with #1414. Will continue the thread there.

[2022-09-14 13:46] #1443 closed, assigned to nobody

[2022-09-14 14:02] hankdangerfield commented on #522
I am using vanilla js with web3 model and getting the following error when trying to use Binance RPC and WalletConnect.
![image](https://user-images.githubusercontent.com/91743546/190175263-a92584a3-81df-4942-a8a5-75ca84e45c10.png)

I have set my js up as follows...any ideas why I'm getting that error?
![image](https://user-images.githubusercontent.com/91743546/190175435-286717a9-079c-48a3-9f7f-62

[2022-09-14 23:22] billyjacoby commented on #1311
Also getting this issue, any word on a fix or workaround?

[2022-09-15 05:42] chadyj commented on #1311
Please use the bug template and include full information such as WalletConnect SDK version used and other details.

[2022-09-15 06:53] nhatnguyen95 commented on #1060
we should install at least one wallet like Meta mask, Trust wallet,...

[2022-09-15 16:27] arein opened #1445 "Expose Auth Client Canary Test"
We should expose a test similar to the sign canary to run and ensure that auth is up https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/packages/sign-client/test/canary/canary.spec.ts

- [x] Add to Infra
- [x] #1656
- [x] Add Metrics to Relay Infra
- [ ] Add Alarm to Relay Infra

[2022-09-16 12:35] arein opened #1447 "v1 Canary"
Motivation:
* confidence that v1 is up (or not)
* ability to compare latency of v1 against v2

See this for the v2 Canary https://github.com/WalletConnect/walletconnect-monorepo/blob/v2.0/packages/sign-client/test/canary/canary.spec.ts

[2022-09-19 02:59] mvpyb opened #1450 "When Google Browser clicks the Connect button, it will open a new invalid page while opening the wallet app"
**Describe the bug**

When Google Browser clicks the Connect button, it will open a new invalid page while opening the wallet app

The location of the bug: qrcode modal/dist/cjs/index Js line 76 (target: "_blank")
The solution is to comment out the changed code

[2022-09-19 06:57] Himawarinoyakusoku commented on #747
Hi there,I have a pretty simple workround,just need css and jquery(or js),here is my workround:
I use Vue3 in my project,code screenshot:
![image](https://user-images.githubusercontent.com/96456645/190962397-4e7380cc-3c59-4320-a0ac-b40b0eac36d4.png)
There is a sign in button in my page,when I click sign in button,signInflag is set to true,and then trigger this watch function:
1. It must be delayed

[2022-09-19 09:45] jmysliv commented on #1364
hey! I have the same issue. Have you found what's wrong and how it can be fixed?

[2022-09-19 10:03] goncharov-vlad commented on #747
Just recreate WalletConnect instance with `catch`
[code]

[2022-09-19 10:50] arein commented on #1364
Apologies for this. We've occasionally seen this in internal benchmarks. @bkrem and I will investigate.

[2022-09-19 11:29] hackyguru commented on #1450
Hi @mvpyb can I know the SDK version and a bit more about your environment?

[2022-09-19 11:45] BenRacicot commented on #1364
No worries! We're here to see WC be the best!
I've spoken to other devs about this and it would seem that as various pairings expire we get this error in the console?
Not sure still but it does persist in RC-3

[2022-09-19 11:53] arein commented on #1364
That's a good hypothesis. We'll chase it down. We also see it internally in our test suite which is probably another issue. We will chase down your hypothesis and update here.

[2022-09-19 18:47] arein commented on #1364
@BenRacicot @jmysliv the issue you're seeing should have been fixed in https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/2.0.0-rc.3 can you please upgrade? If you still see this after upgrading please reopen the ticket

[2022-09-19 19:28] BenRacicot commented on #1364
Hey @arein , as mentioned I am seeing this in RC-3

[2022-09-19 19:34] arein commented on #1364
@BenRacicot if only i could read...thx

[2022-09-19 19:40] arein commented on #1364
@BenRacicot is there a publicly available dapp I can test this with?

[2022-09-20 00:33] mvpyb commented on #1450
"@walletconnect/client": "^1.8.0",
"@walletconnect/qrcode-modal": "^1.8.0",
 "@walletconnect/utils": "^1.8.0",

node 12.18.0
win11

[2022-09-20 01:56] mvpyb commented on #1450
![1663638959166](https://user-images.githubusercontent.com/34262867/191150288-cc2885ef-5619-4c3e-a733-57c722ff4b2f.jpg)

[2022-09-20 10:14] jmysliv commented on #1364
hey @arein, you can test with this one:  https://skyhitz-expo-next-git-feature-wallet-connect-skyhitzio.vercel.app/.
Here's the pull request if you would need more context: https://github.com/skyhitz/skyhitz-expo-next/pull/36.

In my case, it works with the example wallet: https://github.com/WalletConnect/web-examples/tree/main/wallets/react-wallet-v2 (I had to manually add stellar support), but n

[2022-09-20 12:34] negrudev commented on #1098
any updates on this?

[2022-09-20 14:21] bkrem commented on #1364
Thanks for the additional context @jmysliv, seeing that you got it working with an extended example wallet is already really helpful for us.

We now have a PR open to fix the `expirer` related erroring (#1459), but this is unrelated to the issue at hand regarding pairing with Lobstr, since it was happening in general after 10 mins when the inactive pairing proposal expires.

Regarding the specific

[2022-09-20 15:58] bkrem commented on #1364
### Update

* After checking back about what Lobstr is currently running in prod, it seems to be `beta.102` based on our metrics.
* This explains the incompatibility issues, which should hopefully resolve as soon as Lobstr ships a version supporting any `2.0.0-rc` version

[2022-09-21 08:50] bkrem commented on #1364
Closing this for now since there's no action to be taken from our side.

Let's reopen if necessary once Lobstr updates their Sign v2 dependency and you're still experiencing issues 👍